{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}

<div class="col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Datos de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Datos de Actividad del Publicador</h3>
			</div>

	<div class="form-horizontal style-form">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-lg-10 col-md-offset-1" style="margin-top: 30px;">
				{% include 'Informe/tarjetaPub.html' %}
			</div>

			<div class="clearfix"></div>

			<div class="col-xs-1" style="margin-top:50px;margin-left:30px;">
				<ul class="pager" style="margin:0px;padding:0px;">
				  <li class="previous"><a href="{% url 'secretario:conGrupo' %}">Volver</a></li>
				</ul>
			</div>
		</div>
	</div>		

		</div>
	</div>
</div>    

{% endblock %}

{% block scripts %}
<script>
	var idRow

	$('.datepicker').datetimepicker({
		format: 'MM-YYYY',
		widgetPositioning:  {
		  horizontal: 'right',
		  vertical: 'auto',
		},
		maxDate:'now'
	})

	$('#tarjeta tr').each(function(){
		//dialog
		$(this).children(':eq(3)').mouseover(function(){
			if( $(this).children().length == 2 ){
				$('#dialogo').html(
					'<dl>\
						<dt>Horas Predicadas:</dt>\
						<dd>'+$(this).children(':eq(0)').html().trim()+'</dd>\
						<dt>Horas por Concecion:</dt>\
						<dd>'+$(this).children(':eq(1)').html().trim()+'</dd>\
						<dt>Observacion:</dt>\
						<dd>'+$(this).siblings(':eq(5)').html().trim()+'</dd>\
					</dl>'
				)

				$('#dialogo').dialog({
					title: "Detalles de Horas",
					position: { my: "right-60 center", at: "", of: this },
					dialogClass: 'dlg-no-title',
				})
			}
		})

		$(this).children(':eq(3)').mouseleave(function(){
			if( $(this).children().length == 2 )
				$('#dialogo').dialog("destroy")
		})
		//end dialog

		$(this).click(function(){
			idRow = $(this).attr('id')

			if( idRow && idRow != '0' ){
				//inputs de la ventana modal
				inputs = $('input', '.modal-body')

				//llenar los inputs con los valores de las 'td' de fila
				$.each($(this).children(':eq(0)').siblings(), function(key, td){
					if( key != 5 ){
						value = parseInt( $(td).html().trim() )
					} else {
						value = $(td).html().trim()
					}

					if( $(td).children().length == 2 ){
						//input horas
						inputs.eq(key).val( parseInt( $(td).children(':eq(0)').html().trim() ) )

						//input horas por concesion
						inputs.eq(7).val( parseInt( $(td).children(':eq(1)').html().trim() ) )
					} else {
						inputs.eq(key).val( value )
					}
				})

				//obtener fecha
				mes = $(this).children(':eq(0)').html().trim()
				year = moment(new Date).format('YYYY')
				year2 = year-1
				mes = moment().month(mes).format("MM")

				if( mes >= '09' && mes <= '12' ){
					fecha = mes+"-"+year2
				} else {
					fecha = mes+"-"+year
				}

				inputs.eq(6).val(fecha)

				//modal
				$('#informe').modal('show')
			}
		})
	})

	//evento al cerrar la modal
	$('#informe').on('hidden.bs.modal',function(){
		clean = new Gestion()
		clean.getInputs('.modal-body')
		clean.Cargar()
	})

	//modal informe
	$('#regInf').html('Modificar')
	$('.modal-title').html('Modificar Informe')
	$('#regInf').addClass('btn-success')

	//btn modInfo
	$('#regInf').click(function(){

		close = function(res){
			$('#informe').modal('hide')
			window.location.reload()
		}

		if( $("input[type='number']:eq(2)", ".modal-body").val() > 0 ){
			obs =  $(":text:eq(0)", ".modal-body")
			if ( obs.val().trim() == "" ){
				obs.val("n/t")
			}

			HC = $("input[type='number']:eq(5)", ".modal-body")
			if ( HC.val().trim() == "" ){
				HC.val(0)
			}

			edit = new Gestion()
			edit.getInputs('.modal-body')
			data = edit.getDataIn()

			if ( data.vacio == 0 ){
				keys = new Array('publicaciones', 'videos', 'horas', 'revisitas', 'estudios', 'obs','fecha', 'horasCons', 'id')
				x = edit.generateJson(keys, '{{ csrf_token }}', idRow)
				console.log(x)
				edit.setPost("{% url 'secretario:modInf' %}", 'Modificar Informe!', close)
			} else {
				showMsg('Error al Registrar Informe!','Hay Algunos Campos Vacios o con valores invalidos', "{% static 'img/error.png' %}")
			}
		} else {
			showMsg('Error al Registrar Informe!','No Puede Registrar Informes Vacios', "{% static 'img/error.png' %}")
			hrs.css('border-color', '#d90000')
		}
	})
</script>
{% endblock %}
