{% extends "layout.html" %}

{% block contenido %}

<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor">Estadisticas</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center">Estadisticas</h3>
			</div>

			<div id="taps" style="margin-top: 30px;">
				{% csrf_token %}
				<div class="form-group" style="margin-bottom:60px;">
                    <ul id="tabNav" class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#">Informe</a></li>
                        <li role="presentation"><a href="#">Precursores</a></li>
                        <li role="presentation"><a href="#">Publicadores</a></li>
                    </ul>
			    </div>
			</div>

            <div id="contMain">
            </div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script>
		$('#tabNav li a:eq(0)').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')
			$('#contMain').load("{% url 'secretario:estGlobal' %}")
		})
		$('#tabNav li a:eq(1)').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')
			$('#contMain').load("{% url 'secretario:infPrec' %}")
		})
		$('#tabNav li a:eq(2)').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')
			$('#contMain').load("{% url 'secretario:estPub' %}")
		})

		$(document).ready(function(){
			$('#tabNav li a:eq(0)').click()
		})
	</script>
{% endblock %}
