{% extends "layout.html" %}

{% block contenido %}

<div class="col-md-12 col-lg-12">
	<div class="form-panel row">
		<div class="visible-md visible-lg">
			<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Varones con Privilegios</h1>
		</div>
		<div class="visible-xs visible-sm">
			<h3 class="text-center"><i class="fa fa-angle-right"></i>Varones con Privilegios</h3>
		</div>

		<div class="form-horizontal style-form">
			<div class="form-group">

				{% csrf_token %}

				<div id="pubs" class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1">
					<div class="content-panel">
						<div class="row container-fluid">
							<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8" style="float:right;">
								<input type="text" class="form-control .input mrg-bottom filtro" placeholder="Ingrese su busqueda..." />
							</div>
						</div>
						<section id="no-more-tables">
							<table id="public" class="table table-bordered table-striped table-condensed cf">
								<thead class="cf">
									<tr>
										<th class="text-center">Nombre y Apellido</th>
										<th class="numeric text-center">Privilegio</th>
										<th class="text-center">Responsabildad</th>
										<th class="text-center">Tiempo</th>
									</tr>
								</thead>
								<tbody>
								{% for x in data %}
									<tr>
										<td class="text-center" data-title="Nombre:">
											{{ x.nombre }} {{ x.apellido }}
										</td>
										<td class="text-center" data-title="Privilegio:">
											{{ x.priv }}
										</td>
										<td class="text-center bau tConPubCol3" data-title="Responsabildad:">
											{{ x.resp }}
										</td>
											<td class="text-center" data-title="Tiempo">
													{{ x.tiempo }}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>

							<div style="height:80px;">
								<nav class="center-block">
								  <ul id="pager" class="pagination pager hide" >
									<li>
									  <a href="#" aria-label="P">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li>
									  <a href="#" aria-label="N">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</section>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
<div class="modal fade" id="modalPriv" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Privilegio</h4>
			</div>

			<div class="modal-body">
				<input type="text" class="form-control mrg-bottom" placeholder="Nombre del privilegio..." >
				<input type="number" class="form-control mrg-bottom" placeholder="Edad mínima..." >
				<input type="number" class="form-control mrg-bottom" placeholder="Tiempo mínimo de bautizado ..." >
			</div>

			<div class="modal-footer">
                <button id="modPriv" type="button" class="btn btn-primary">Modificar privilegio</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	//inicializar tabla
	var table = $('#public').DataTable({
	"bPaginate":true,
	"bInfo":false,
	"bFilter":true,
	"oLanguage": {
		"sInfoEmpty": "La Tabla esta Vacia",
		"sZeroRecords": "No se Encontraron Registros"
	 }
	});
	$('#public_length').hide()
	$('#public_filter').hide()
	$('#public_paginate').hide()
	//habilitar filtro
	$('.filtro').on( 'keyup change', function(){
		$('#public').dataTable().fnFilter( this.value )
	})
	//habilitar paginador
	createPager(table)
</script>
{% endblock %}
