{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor">Edicion de Privilegios</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center">Edicion de Privilegios</h3>
			</div>

	<div class="form-horizontal style-form">
		<div class="form-group">

			{% csrf_token %}

			<div class="col-lg-8 col-md-offset-2" style="margin-top: 40px;">
                <div class="content-panel">

					<section id="no-more-tables">
                    	<table id="editPrecur" class="table table-bordered table-striped table-condensed table-hover cf" style="font-size:20px;">
                        	<thead class="cf">				
								<tr>
									<th class="numeric text-center" style="width:30%;">Privilegio</th>
									<th class="numeric text-center" style="width:25%;">Edad Mínima</th>
									<th class="numeric text-center" style="width:50%;">Tiempo Mínimo de bautizado</th>

								</tr>
							</thead>
							<tbody>
							{% for priv in data %}
								<tr id="{{priv.pk}}">
									<td class="numeric text-center" data-title="Privilegio" style="width:20%;">
										{{  priv.nombre }}
									</td>
									<td class="numeric text-center" data-title="Edad Mínima" style="width:30%;">
										{{ priv.edadMin }}
									</td>
									<td class="numeric text-center" data-title="Tiempo Mínimo de bautizado" style="width:50%;">
										{{ priv.tiempoBauMin }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</section>

				</div>
			</div>

		</div>
	</div>		

		</div> 
</div> 
<div class="modal fade" id="modalPriv" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Privilegio</h4>
			</div>

			<div class="modal-body">
				<input type="text" class="form-control mrg-bottom" placeholder="Nombre del privilegio..." >
				<input type="number" class="form-control mrg-bottom" placeholder="Edad mínima..." >
				<input type="number" class="form-control mrg-bottom" placeholder="Tiempo mínimo de bautizado ..." >
			</div>

			<div class="modal-footer">
                <button id="modPriv" type="button" class="btn btn-primary">Modificar privilegio</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{%  block scripts  %}
<script>
	var id=""
	$("tbody tr").click(function(){
		id=this.id
		inputs=$('input', '.modal-body')
		$.each($(this).children(), function(k, td){
			inputs[k].value=$.trim(td.innerHTML)
		})
		$("#modalPriv").modal('show')
	})
	
	$('#modalPriv').on('hidden.bs.modal',function(){
			clean = new Gestion()
			clean.getInputs('.modal-body')
			clean.Cargar()
		})
	
	$("#modPriv").click(function(){
		if (id!=""){
			close=function(){
				$.each(inputs, function(k, v){
					$("#"+id+" td")[k].innerHTML=v.value
				})
				id=""
				$('#modalPriv').modal('hide')
			}
			editar=new Gestion()
			editar.getInputs('.modal-body')
			datos = editar.getDataIn()
			if ( datos.vacio == 0 ){
				keys = new Array('nombre', 'edad', 'tiempoBau', 'id')
				editar.generateJson(keys, '{{ csrf_token }}', id)
				editar.setPost("{% url 'secretario:privMod' %}", 'Modificar Privilegio!', close)
			} else {
				showMsg('Error al Registrar Informe!','Hay Algunos Campos Vacios o con valores invalidos', "/static/img/error.png")
			}
		}
	})
</script>
{% endblock %}
