{% extends "layout.html" %}

{% block contenido %}

<div class="col-xs-12">
	<div class="form-panel">
		<h1 class="text-center titlecolor visible-md visible-lg"><i class="fa fa-angle-right"></i>Publicadores de "El Palito"</h1>
		<h3 class="text-center titlecolor visible-xs visible-sm"><i class="fa fa-angle-right"></i>Publicadores de "El Palito"</h3>

		<div class="form-group">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-12 col-lg-3 panelConPubs">
					<div class="visible-lg">
						<input type="search" class="form-control filtro" placeholder="Ingrese su Busqueda..." />

						<div class="optionGroup">
							<label class="radio-inline">
								<input type="radio" id="opt1" name="iCheck"> Nombre
							</label>
							<label class="radio-inline">
								<input type="radio" id="opt2" name="iCheck"> Edad
							</label>
							<label class="radio-inline">
								<input type="radio" id="opt3" name="iCheck"> Fecha
							</label>
							<label class="radio-inline">
								<input type="radio" id="opt4" name="iCheck"> Grupo
							</label>
						</div>

						<div id="busBau" class="btn-group btnsPubs" role="group">
							<button class="btn btn-default">No Bautizados</button>
							<button class="btn btn-default">Bautizados</button>
							<button id="mayor1" class="btn btn-default">Mayor de 1 año</button>
						</div>

						<div id="mayor2" class="btn-group hide" role="group">
							<button class="btn btn-default">Mas de 1 año</button>
						</div>

						<div class="clearfix"></div>

						<div class="btn-group btnsPubs" role="group">
							<button class="btn btn-default">Mayores de 18</button>
							<button class="btn btn-default">Menores de 18</button>
						</div>

						<div class="clearfix"></div>

						<span class="" style="color:darkcyan;font-size:14px;">Buscar por Estado:</span>
						<div class="btn-group btnsPubs" role="group">
							<button class="btn" style="background-color:#09B20F;width:40px;height:20px;"></button>
							<button class="btn" style="background-color:#ffad33;width:40px;height:20px;"></button>
							<button class="btn" style="background-color:#b30000;width:40px;height:20px;"></button>
							<button class="btn" style="background-color:#009999;width:40px;height:20px;"></button>
							<button class="btn" style="background-color:#b6b6b6;width:40px;height:20px;"></button>
						</div>

						<div class="clearfix"></div>

						<div class="blockPicker">
							<div class="form-group materialPicker">
								<div class="pickerPubs"></div>
							</div>
						</div>

						<button id="clear" class="btn btn-success">Limpiar</button>
					</div>

					<div class="visible-md">
						<div class="row">
							<div id="panelConPubsMD" class="col-md-6">
								<input type="search" class="form-control filtro" placeholder="Ingrese su Busqueda..." />

								<div class="optionGroup">
									<label class="radio-inline">
										<input type="radio" id="opt1" name="iCheck"> Nombre
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt2" name="iCheck"> Edad
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt3" name="iCheck"> Fecha
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt4" name="iCheck"> Grupo
									</label>
								</div>

								<div class="btn-group btnsPubs" role="group">
									<button class="btn btn-default">No Bautizados</button>
									<button class="btn btn-default">Bautizados</button>
									<button class="btn btn-default">Mas de 1 año</button>
								</div>

								<div class="clearfix"></div>

								<div class="btn-group btnsPubs" role="group">
									<button class="btn btn-default">Mayores de 18</button>
									<button class="btn btn-default">Menores de 18</button>
								</div>

								<div class="clearfix"></div>

								<span class="" style="color:darkcyan;font-size:14px;">Buscar por Estado:</span>
								<div class="btn-group btnsPubs" role="group">
									<button class="btn" style="background-color:#09B20F;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#ffad33;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#b30000;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#009999;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#b6b6b6;width:40px;height:20px;"></button>
								</div>

								<div class="clearfix"></div>

								<button id="clear" class="btn btn-success">Limpiar</button>
							</div>

							<div class="col-md-6">
								<div class="blockPicker">
									<div class="form-group materialPicker">
										<div class="pickerPubs"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="visible-sm">

						<input type="search" class="form-control filtro" placeholder="Ingrese su Busqueda..." />

						<div class="clearfix"></div>

						<div class="row">
							<div class="col-sm-6">
								<div class="optionGroup">
									<label class="radio-inline">
										<input type="radio" id="opt1" name="iCheck"> Nombre
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt2" name="iCheck"> Edad
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt3" name="iCheck"> Fecha
									</label>
									<label class="radio-inline">
										<input type="radio" id="opt4" name="iCheck"> Grupo
									</label>
								</div>

								<div id="busBauSm" class="btn-group btnsPubs" role="group">
									<button class="btn btn-default">No Bautizados</button>
									<button class="btn btn-default">Bautizados</button>
									<button id="mayor1Sm" class="btn btn-default">Mayor de 1 año</button>
								</div>

								<div id="mayor2Sm" class="btn-group hide" role="group">
									<button class="btn btn-default">Mas de 1 año</button>
								</div>

								<div class="clearfix"></div>

								<div class="btn-group btnsPubs" role="group">
									<button class="btn btn-default">Mayores de 18</button>
									<button class="btn btn-default">Menores de 18</button>
								</div>

								<div class="clearfix"></div>

								<span class="" style="color:darkcyan;font-size:14px;">Buscar por Estado:</span>
								<div class="btn-group btnsPubs" role="group">
									<button class="btn" style="background-color:#09B20F;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#ffad33;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#b30000;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#009999;width:40px;height:20px;"></button>
									<button class="btn" style="background-color:#b6b6b6;width:40px;height:20px;"></button>
								</div>

								<button id="clear" class="btn btn-success">Limpiar</button>
							</div>
							<div class="col-sm-6">
								<div class="blockPicker">
									<div class="form-group materialPicker">
										<div class="pickerPubs"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="pubs" class="col-md-12 col-lg-8">
					<div class="content-panel">
						<h3 class="text-center tableTitle">Informacion de los publicadores</h3>
						<section id="no-more-tables">
							<table id="public" class="table table-bordered table-striped table-condensed cf">
								<thead class="cf">
									<tr>
										<th class="text-center tConPubCol1">Nombre y Apellido</th>
										<th class="numeric text-center tConPubCol2">Edad</th>
										<th class="text-center tConPubCol3">Fecha de Bautismo</th>
										<th class="text-center tConPubCol4">Grupo Asignado</th>
										<th class="text-center tConPubCol5">Estado</th>
									</tr>
								</thead>
								<tbody>
								{% for x in pub %}
									<tr>
										<td class="text-center nombre tConPubCol1" data-title="Nombre:">
											<a href="{% url 'secretario:traerPub' x.id %}">{{ x.nombre }} {{ x.apellido }}</a>
										</td>
										<td class="text-center numeric tConPubCol2" data-title="Edad:">
											{{ x.edad }}
										</td>
										<td class="text-center bau tConPubCol3" data-title="Fecha de Bautismo:">
											{{ x.fechaBau }}
										</td>
										<td class="text-center tConPubCol4" data-title="Grupo:">
											<a href="{% url 'secretario:conGrupoofPubs' x.g %}">{{ x.FKgrupo }}</a>
										</td>
										{% if x.status == 0 %}
											<td class="estado tConPubCol5" id="{{x.id}}" data-title="Estado" style="background-color: #09B20F;" >

												<div style="display: none">
													<dl>
														<dt>Estado:</dt>
														<dd id="dgEstado">Activo</dd>

														<dt>Fecha del Ultimo Informe:</dt>
														<dd id="dgFecha">{{ x.fecha }}</dd>

														<dt>Intervalo:</dt>
														<dd id="dgInt">{{ x.intervalo }}</dd>

														<dt>Conclusiones:</dt>
														<dd id="dgConclu">publicador en buen estado</dd>
													</dl>
												</div>
											</td>
										{% elif x.status == 1 %}
											<td class="estado tConPubCol5" id="{{x.id}}" data-title="Estado" style="background-color:#ffad33">

												<div style="display: none">
													<dl>
														<dt>Estado:</dt>
														<dd id="dgEstado">Irregular</dd>

														<dt>Fecha del Ultimo Informe:</dt>
														<dd id="dgFecha">{{ x.fecha }}</dd>

														<dt>Intervalo:</dt>
														<dd id="dgInt">{{ x.intervalo }}</dd>

														<dt>Conclusiones:</dt>
														<dd id="dgConclu">publicador precaucion</dd>
													</dl>
												</div>
											</td>
										{% elif x.status ==  2 %}
											<td class="estado tConPubCol5" id="{{x.id}}" data-title="Estado" style="background-color:#b30000">

												<div style="display: none">
													<dl>
														<dt>Estado:</dt>
														<dd id="dgEstado">Inactivo</dd>

														<dt>Fecha del Ultimo Informe:</dt>
														<dd id="dgFecha">{{ x.fecha }}</dd>

														<dt>Intervalo:</dt>
														<dd id="dgInt">{{ x.intervalo }}</dd>

														<dt>Conclusiones:</dt>
														<dd id="dgConclu">publicador mal</dd>
													</dl>
												</div>
											</td>
										{% elif x.status ==  3 %}
											<td class="estado tConPubCol5" id="{{x.id}}" data-title="Estado" style="background-color: #009999">

												<div style="display: none">
													<dl>
														<dt>Estado:</dt>
														<dd id="dgEstado">Nuevo</dd>

														<dt>Intervalo:</dt>
														<dd id="dgInt">{{ x.intervalo }}</dd>

														<dt>Conclusiones:</dt>
														<dd id="dgConclu">Publicador Nuevo</dd>
													</dl>
												</div>
											</td>
										{% else %}
											<td class="estado tConPubCol5" id="{{x.id}}" data-title="Estado" style="background-color: #b6b6b6">
												<div style="display: none">
													<dl>
														<dt>Estado:</dt>
														<dd id="dgEstado">Activo</dd>

														<dt>Fecha del Ultimo Informe:</dt>
														<dd id="dgFecha">{{ x.fecha }}</dd>

														<dt>Intervalo:</dt>
														<dd id="dgInt">{{ x.intervalo }}</dd>

														<dt>Conclusiones:</dt>
														<dd id="dgConclu">No alcanzó el promedio de horas que realizan los publicadores</dd>
													</dl>
												</div>
											</td>
										{% endif %}
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>

<div id="dialogo" style="display: none">

</div>

{% endblock %}

{% block scripts %}
	<script>
		var check1
		var check2
		var vw

		$(document).ready(function(){

			$('input').iCheck({
				radioClass: 'iradio_flat-green'
			});

			check1 = $('div.visible-lg input[type="radio"]:eq(3)').parent().parent()
			check2 = $('div.visible-sm input[type="radio"]:eq(3)').parent().parent()
			vw = $(window).width()

			if(vw >= 1200 && vw < 1300){
				check1.removeClass('radio-inline')
				check1.css('margin-top', '5px')
			}

			if(vw >= 1200 && vw < 1440){
				$('#mayor1').detach()
				$('#mayor2').removeClass('hide')
			}


			if(vw > 768 && vw < 960){
				if(vw <= 900){
					check2.removeClass('radio-inline')
					check2.css('margin-top', '5px')
				}

				$('#mayor1Sm').detach()
				$('#mayor2Sm').removeClass('hide')
			}
		})

		$('div.fa-bars').click(function(){

			if((vw >768 && vw <= 904) && $('#container').attr('class') != 'sidebar-closed' ){
				check2.removeClass('radio-inline')
				check2.css('margin-top', '5px')
			} else {
				check2.addClass('radio-inline')
				check2.css('margin-top', '0px')
			}

			if((vw >768 && vw < 960) && $('#container').attr('class') != 'sidebar-closed' ){
				$('#mayor1Sm').detach()
				$('#mayor2Sm').removeClass('hide')

			} else if ((vw >= 960 && vw <= 991) || $('#container').attr('class') == 'sidebar-closed'){
				if( $('#busBauSm').children().length == 2 ){
					$('#busBauSm').append('<button id="mayor1Sm" class="btn btn-default">Mayor de 1 año</button>')
					$('#mayor2Sm').addClass('hide')
				}
			}

		})

		$(window).resize(function(){

			vw = $(this).width()

			//responsive of the panel: options
			if( vw >= 1200 && vw < 1300){
				check1.removeClass('radio-inline')
				check1.css('margin-top', '5px')
			} else if(vw >= 1300){
				check1.addClass('radio-inline')
				check1.css('margin-top', '0px')
			}

			if((vw >768 && vw <= 904) && $('#container').attr('class') != 'sidebar-closed'){
				check2.removeClass('radio-inline')
				check2.css('margin-top', '5px')
			} else if((vw > 904 && vw <= 991) || $('#container').attr('class') == 'sidebar-closed'){
				check2.addClass('radio-inline')
				check2.css('margin-top', '0px')
			}

			//responsive of the panel: buttons filters
			if(vw >= 1200 && vw < 1440){
				$('#mayor1').detach()
				$('#mayor2').removeClass('hide')
			} else if((vw < 991 || vw >= 1440) && $('#busBau').children().length == 2 ){
				$('#busBau').append('<button id="mayor1" class="btn btn-default">Mayor de 1 año</button>')
				$('#mayor1').click(function(){ searchHigherOneYear() })
				$('#mayor2').addClass('hide')
			}

			if((vw >768 && vw < 960) && $('#container').attr('class') != 'sidebar-closed' ){
				$('#mayor1Sm').detach()
				$('#mayor2Sm').removeClass('hide')

			} else if ((vw >= 960 && vw <= 991) || $('#container').attr('class') == 'sidebar-closed'){
				if( $('#busBauSm').children().length == 2 ){
					$('#busBauSm').append('<button id="mayor1Sm" class="btn btn-default">Mayor de 1 año</button>')
					$('#mayor2Sm').addClass('hide')
				}
			}
		})

		//dateTable
			var table = $('#public').DataTable({
				"bPaginate":false,
				"bInfo":false,
				"bFilter":true,
				"oLanguage": {
						      "sInfoEmpty": "La Tabla esta Vacia",
						      "sZeroRecords": "No se Encontraron Registros"
						     }
				});

			$('#public_filter').css('display', 'none')

	        $('.filtro').on( 'keyup change', function (){
				$('#public').dataTable().fnFilter( this.value )
			})
        //end dateTable

		//dataTimePicker
			$(function () {
	            $('.pickerPubs').datetimepicker({
	                inline: true,
	                showTodayButton:true,
	                viewMode: 'days',
	                format: 'YYYY-MM-DD',
		            widgetPositioning: {
			            horizontal: 'right',
			            vertical: 'auto'
			        }
	            }).on("dp.change", function(e) {
						date = $('.pickerPubs').data("DateTimePicker").viewDate()
						date = moment(date._d.toJSON()).format('YYYY-MM-DD')
	            		$('.filtro').val(date)
	            		$('.filtro').change()
	        		});
	        });
		//end dataTimePicker

		//icheck
			var column
			$('input').on('ifChecked', function(){
				opt = ""
				column = ""

				opt = parseInt( $(this).eq(0).attr('id').substr(-1) )

				if(opt == 1){
					column = table.column(0)
					console.log("entre en: 0")
				}

				if(opt == 2){
					column = table.column(1)
					console.log("entre en: 1")
				}

				if(opt == 3){
					column = table.column(2)
					console.log("entre en: 2")
				}

				if(opt == 4){
					column = table.column(3)
					console.log("entre en: 3")
				}
			})

			$('.filtro').on( 'keyup change', function(){
				if( column && column.search() !== this.value ){
					column
						.search( this.value )
						.draw();
				}
			})
		//end icheck

		//panel
			panels = $('.visible-lg .btn-group')
			console.log(panels)

			//first group
				group1 = panels.eq(0).children('button')

				//search for 'no bautazados'
				group1.eq(0).click(function(){
					$("#clear").click()
					table.column(2).search( 'No Bautizado' ).draw()
				})

				//search for 'bautizados'
				group1.eq(1).click(function(){
					$("#clear").click()
					fechai = '1900'
					fechaf = moment( new Date() ).format('YYYY')
					table.draw()
				})

				//search for 'mayores de 1 año'
				function searchHigherOneYear(){
					$("#clear").click()
					fechaActual = moment( new Date() ).format('YYYY-MM-DD')
					fechaActual = moment(fechaActual)
					table.draw()
				}

				panels.eq(1).children('button').click(function(){ searchHigherOneYear() })
				group1.eq(2).click(function(){ searchHigherOneYear() })
			//end first group

			//second group
				group2 = panels.eq(2).children('button')

				//search for 'mayores de 18'
				group2.eq(0).click(function(){
					$("#clear").click()
					look = 1
					table.draw()
				})

				//search for 'menores de 18'
				group2.eq(1).click(function(){
					$("#clear").click()
					look = 2
					table.draw()
				})
			//end second group

			//third group
				group3 = panels.eq(3).children('button')

				group3.eq(0).click(function(){
					filas = table.column( 4 ).rowColor('#09B20F')
					//console.log(filas)
					//#09B20F, #ffad33, #b30000, #009999, #b6b6b6
				})
			//end third group
		//end panel

		//button clear filter
			$("#clear").click(function(){
				fechai = fechaf = fechaActual = look = ""
				$('.filtro').val("").change()
				table.columns().search('').draw()
			})
		//end button clear

		//dialog
			$('td.estado').mouseover(function(){
				$('#dialogo').html(
					$(this).find('div').html()
				)

				$('#dialogo').dialog({
					 position: { my: "right-60 center", at: "", of: this },
					 dialogClass: 'dlg-no-title',
				});
			})
			$('td.estado').mouseleave(function(){
				$('#dialogo').dialog("destroy")
			})
		//end dialog

		//alert when edit public
            {% if msg %}
                $.gritter.add({
					title: 'Modificar publicador',
					text: "{{ msg }}",
					image: '',
					sticky: false,
					time: 3000,
					class_name: ''
				});
            {% endif %}
		//end alert
	</script>
{% endblock %}
