{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}

<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor">Tarjeta de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center titlecolor">Tarjeta de Actividad del Publicador</h3>
			</div>

			<div class="form-horizontal style-form" style="margin-top: 30px;">
				{% csrf_token %}
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-lg-8 col-md-offset-0 col-lg-offset-2">

							<div class="col-lg-4">
				        		<label for="">Grupo:</label>
					        	{{ form.Encargado }}
							</div>

							<div id="cmbPubs" class="col-lg-4">
				        		<label for="">Publicador:</label>
					        	<select class="form-control">
									<option value="" >--SELECCIONE UN PUBLICADOR--</option>
								</select>
							</div>
							
							<div class="col-lg-4">
				        		<label for="">Año de Servicio:</label>
					        	<select class="form-control" disabled>
									<option value="" >--AÑO DE SERVICIO--</option>
									{% for y in years %}
									<option value="{{ y.0 }}{{ y.1 }}"> {{ y.0 }}-{{ y.1 }} </option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>

					<div id="datpub" class="col-lg-10 col-md-offset-1" style="display:none;margin-top:40px;margin-bottom:30px;"></div>
					
		    	</div>
			</div>		
		</div>
	</div>
</div>    

{% endblock %}

{% block scripts %}
	<script>
		//responsive
		$(window).resize(function(){
			$('span.select2-container').width( $('#cmbPubs')[0].clientWidth - 30 )
		})

		//obtener todos los selects
		combos = $('select')
		datpub = $('#datpub')

		//get all Pubs
		function loadCmbPubs(json){

			$.each(json, function(key, pub){
				if ( pub.IDpub )
					id = pub.IDpub

				if ( pub.pk )
					id = pub.pk

				combos.eq(1).append( new Option(pub.nombre+" "+pub.apellido, id) )
			})

			combos.eq(1).val("")
			combos.eq(1).trigger('change')
		}

		Pubs = {{ pubs|safe }}

		combos.eq(1).select2({
			sorter: function(results) {
						return results.sort(function(a, b) {
							if (a.value == "" || b.value == ""){
								return 0
							} else {
								return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
							}
						})
					}
		})

		loadCmbPubs(Pubs)

		//nice scroll combo buscador
		combos.eq(1).on('select2:opening', function(evt){
			$("ul.select2-results__options").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '6', cursorborderradius: '10px', background: '#404040', spacebarenabled:false,  cursorborder: '', zindex: '1000'})
		})

		//controladores de combos
		function loadPubs(res){
			if ( res.on == 1 ){
				$.gritter.add({
					title: "Consulta de publicadores",
					text: 'No hay publicadores en este grupo',
					image: "{% static 'img/error.png' %}",
					time: 3000,
				})
			} else{
				//cmb de publicadores
				combos.eq(1).find('option:first').siblings().detach()
				loadCmbPubs(res)

				//combo years
				combos.eq(2).attr('disabled', true).find('option:first').prop('selected', true)
				datpub.hide('blind', 1000)
			}
		}

		function llamarload(){

            idPub = combos.eq(1).val()
            year = combos.eq(2).val()

            combos.eq(2).removeAttr('disabled')

            if ( idPub != "" && year != "" ){

				cargar = new Gestion()
				cargar.ejecutarLoad("../2/"+idPub+"/Tarjeta/"+year+"", datpub)

            } else {
                if ( datpub.is(":visible") ){
                    datpub.hide('blind', 1000)
                }
                if ( idPub == "" ){
                    combos.eq(2).attr('disabled', true).find('option:first').prop('selected', true)
                }
            }
        }

		//cmb de grupos
		reorder( combos.eq(0) )//ordernar alfabeticamente

		combos.eq(0).change(function(){

            cmbG = new Gestion()
            cmbG.getInputs(".form-group", '0')
            g = cmbG.getDataIn()

			if( g.vacio == 0 ){

                keys = new Array('id', 'all')
                cmbG.generateJson(keys, '{{ csrf_token }}', 1)
                cmbG.setPost("{% url 'secretario:conPubG' %}", 0, loadPubs)

            } else {
				combos.eq(0).css('border-color', '#ccc')
				loadCmbPubs(Pubs)
				combos.eq(2).attr('disabled', true).find('option:first').prop('selected', true)
				datpub.hide('blind', 1000)
			}
        })

		//cmb de publicadores
		combos.eq(1).change(function(){
            llamarload()
		})

		//cmb de años de servicio
		combos.eq(2).change(function(){
            llamarload()
        })

	</script>
{% endblock %}
