{% extends "layout.html" %}

{% block contenido %}
<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h3>
			</div>

			<div class="form-horizontal style-form" style="margin-top: 30px;">
				{% csrf_token %}
				<div class="form-group">
					<div class="row">
						<div class="col-lg-8 col-md-offset-2">
							<div class="col-lg-4">
					        	{{ form.Encargado }}
							</div>

							<div class="col-lg-4">
					        	<select class="form-control" disabled="true">
									<option value="" >--SELECCIONE UN PUBLICADOR--</option>
								</select>
							</div>
							
							<div class="col-lg-4">
					        	<select class="form-control" disabled="true">
									<option value="" >--AÑO DE SERVICIO--</option>
									{% for y in years %}
									<option value="{{ y.0 }}{{ y.1 }}"> {{ y.0 }}-{{ y.1 }} </option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>

					<div id="datpub" class="col-lg-10 col-md-offset-1" style="display:none;margin-top:40px;margin-bottom:30px;"></div>
					
		    	</div>
			</div>		
		</div>
	</div>
</div>    

{% endblock %}
{% block scripts %}
	<script>

		//obtener todos los selects
		combos = $('select')
		datpub = $('#datpub')
        cont=0

		//ordernar alfabeticamente los selects
		combos.eq(0).each(function() {
		    $(this).html($("option", $(this)).sort(function(a, b) {
		        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
		    }));
		})
		combos.eq(0).find(':first-child').prop('selected', true)

		combos.eq(0).change(function(){
            cmbG=new Gestion()
            cmbG.getInputs(".form-group", '0')
            g=cmbG.getDataIn()
			if(!g.vacio==0){
				combos.eq(1).attr('disabled', true).find('option:first').prop('selected', true)
				combos.eq(2).attr('disabled', true).find('option:first').prop('selected', true)
				datpub.hide('blind', 1000, function(){})
			}else{
                f=function(res){
                    if (res.on==1){
						$.gritter.add({
                            title: "Consulta de publicadores",
                            text: 'No hay publicadores en este grupo',
                            image: '',
                            sticky: false,
                            time: 3000,
                            class_name: ''
                        });
					} else{
                        combos.eq(1).find('option:first').siblings().detach()
                        combos.eq(1).attr('disabled', false)
                        $.each(res.p, function(key, values){
							combos.eq(1).append("<option value="+values.IDpub+">"+values.nombre+" "+values.apellido+"</option>")
						})
                        combos.eq(1).each(function() {
						    $(this).html($("option", $(this)).sort(function(a, b) {
						        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
						    }));
						})
						combos.eq(1).find(':first-child').prop('selected', true)
                    }
                }
                keys=new Array('g')
                cmbG.generateJson(keys, '{{ csrf_token }}')
                cmbG.setPost("{% url 'secretario:conPubG' %}", '', f)

            }
        })
		
		combos.eq(1).change(function(){
            llamarload(1)
		})

        function llamarload(valid){
            pub=combos.eq(1).val()
            year=combos.eq(2).val()
            combos.eq(2).attr('disabled', false)
            if (validar=$.trim(pub)!="" && $.trim(year)!=""){
                cargar=new Gestion()
                cargar.ejecutarLoad("../2/"+pub+"/Tarjeta/"+year+"", datpub)
            } else{
                if(datpub.is(":visible")){
                    datpub.hide('blind', 1000, function(){})
                }
                if (valid==1 && cont>0){
                    combos.eq(2).attr('disabled', true).find('option:first').prop('selected', true)
                }
                if($.trim(pub)==""){
                    cont=0
                }
            }
        }

		combos.eq(2).change(function(){
            llamarload(2)
            cont=1
        })

	</script>
{% endblock %}
