<div class="modal fade" id="informe" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"></h4>
			</div>

			<div class="modal-body">

				<input type="number" min="0" placeholder="Ingrese las Publicaciones..." class="form-control mrg-bottom">
				<input type="number" min="0" placeholder="total de Videos..." class="form-control mrg-bottom">
				<input type="number" min="0" placeholder="total de Horas..." class="form-control mrg-bottom">
				<input type="number" min="0" placeholder="total de Revisitas..." class="form-control mrg-bottom">
				<input type="number" min="0" placeholder="total de Cursos Biblicos..." class="form-control mrg-bottom">
				<input type="text" placeholder="Observaciones..." class="form-control mrg-bottom">

				<div class='input-group date datepicker'>
					<input type="text" class="form-control" placeholder="Ingrese la Fecha...">
					<span class="input-group-addon">
						<span class="fa fa-calendar">
						</span>
					</span>
				</div>

				<hr>
				<input type="number" class="form-control" min="0" placeholder="Ingrese las Horas por Consecion...">
			</div>

			<div class="modal-footer">
				<button id="regInf" type="button" class="btn"></button>
			</div>
		</div>
	</div>
</div>
