
.inputtrans:focus{
	outline: 0px;
	text-align: center;
}

#grupos {
	margin-bottom: 10px;
}

.mrg-bottom {
	margin-bottom: 10px;
}

#pubs {
	margin-top: 40px;
}

.sinmrg {
	padding: 0px;
	margin: 0px;
}

.titlecolor {
	color: sandybrown;
}

.dlg-no-title .ui-dialog-titlebar{
    display: none;
}

.ui-dialog {
    background-color: white;
    border: solid 2px #ffa31a;
}

.mrgPdgNull {
    margin: 0px;
    padding: 0px;
}

.tabla-top {
    margin-top: 40px;
}

.preAux {
    font-size: 20px;
}

.ficha {
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}

.ficha dt {
    color: darkcyan;
    text-align: right;
    display: inline-block;
    width: 46%;
    margin: 0xp;
    padding: 0px;
    margin-bottom: 10px;
}

.ficha dd {
    color: #000000;
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-left: 2%;
}

.FichaHe {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #ffd777;
    border-bottom: 2px;
    border-bottom-color: dimgray;
}

.baja {
    margin-left: 20%;
    width: 60%;
    height: 40px;
    margin-bottom: 30px;
}

div#informe input[type="number"], div#informe input[type="text"]{
	font-size: 14px;
	height: 30px;
}

#nombrar select, #nombrar input[type="number"] {
    font-size: 12px;
    height: 28px;
}

.btnPrecur {
    background-color: transparent;
    border: none;
    height: 20px;
}

.cabecero {
    margin:0px;
    padding:0px;
    margin-top: 15px;
}

.Nfilter {
    margin-top: 15px;
    margin-bottom: 20px;
}

#main {
    position:fixed;
    width:100%;
    height:100%;
    background-color:#664988;
}

.grafNext {
    font-size:16px;
}

.grafNext:hover {
    color:#f2b14e;
}

#grafica2 {
    margin-top:50px;
    margin-bottom:50px;
}

#resultAT {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#resultAT dt {
	color: darkcyan;
}
#AT {
    margin-top: 10px;
}

#send {
    margin-top: 28px;
    height: 34px;
}

label[for="line"] {
    width:30%;
    margin-left:30%;
    text-align:center;
}

.doughnut-legend {
	padding: 0px;
}

.doughnut-legend li{
    list-style: none;
    height: 20px;
    margin-bottom: 5px;
    position: relative;
}

.doughnut-legend-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.doughnut-legend-text {
    display: inline-block;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 35px;
}

#tDetail td{
	text-align: center;
}

.tableTitle {
	padding: 0px;
	margin: 0px;
	margin-bottom:10px;
	color: sandybrown;
}

.dateBau {
	float:left;
	width:87%;
	padding:0px;
	padding-right:2%;
}
.noBau {
	float:right;
	width:10%;
}

.tGrupoClm1 {
	width: 70%;
}

.tGrupoClm2 {
	width: 20%;
}
.table-Font {
	font-size: 16px;
}

/* Media Queris*/

@media (min-width: 1440px) {
	#btnCon {
		width: 50%;
	}
}

@media (min-width: 1200px) and (max-width: 1439px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
	@media (min-width: 800px) and (max-width: 991px) {

	}
	@media (max-width: 799px) {
		.tGrupoClm1 {
			width: auto;
		}
		.tGrupoClm2 {
			width: auto;
		}
		.table-Font {
			font-size: 14px;
		}
	}
}

@media (max-width: 767px){
	.btnconXS {
		padding: 0px;
	}
	.tGrupoClm1 {
		width: auto;
	}
	.tGrupoClm2 {
		width: auto;
	}
	.table-Font {
		font-size: 14px;
	}

	#mainPub {
		padding: 0px;
	}

	#mainPub label {
		font-size: 14px;
	}

	.dateBau {
		float:left;
		width:80%;
		padding:0px;
		padding-right:2%;
	}
	.noBau {
		float:right;
		width:15%;
	}
}

/* End */

.materialPicker {
	border: solid 1px gray;
	box-shadow: -webkit-box-shadow: 0px 7px 14px -3px rgba(54,54,54,1);
				-moz-box-shadow: 0px 7px 14px -3px rgba(54,54,54,1);
				box-shadow: 0px 7px 14px -3px rgba(54,54,54,1);
}

.materialPicker div.datepicker .table-condensed td, .materialPicker div.datepicker .table-condensed th{
	border: solid 1px gray;
	border-radius: 0px;
}

.materialPicker div.datepicker thead > tr:nth-child(1) {
	background-color: #3365aa;
	color: #fff;
	border-radius: 0px;
	font-size: 16px;
}

.materialPicker div.datepicker thead > tr:nth-child(1) > th{
	background-color: #1e898d;
	color: #fff;
	border-radius: 0px;
	border: none;
}

.materialPicker div.datepicker thead > tr:nth-child(2) > th{
	background-color: #78d6d9;
	color: #fff;
	border-radius: 0px;
}

.blockPicker {
	margin-top:40px;
	padding:5px;
	margin-bottom:20px;
}
