{% load staticfiles %}

<div class="row">

	<h3 class="text-center titlecolor">Informacion del Grupo</h3>

	{% csrf_token %}

	<div id="responsables" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		<div class="col-md-9">
			<span class="text-center sp-title"><strong>Encargado:</strong>
				<span class="sp-content"> {{ enc }} </span>
			</span>

			<span class="text-center sp-title" style="margin-left:30px;"><strong>Auxiliar:</strong>
				<span class="sp-content"> {{ aux }} </span>
			</span>
		</div>
		<div class="col-md-3" style="padding-right:0px;">
			<button id="edit" class="btn btn-block btn-success">Editar Grupo</button>
		</div>
	</div>

	<div class="clearfix"></div>

	<div id="pubs" class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1">
		<div class="content-panel">

			<h3 class="text-center tableTitle hidden-xs">Publicadores del Grupo # {{ num }}</h3>
			<h4 class="text-center tableTitle visible-xs">Publicadores del Grupo # {{ num }}</h4>

			<section id="no-more-tables">
				<table id="grupo" class="table table-striped table-condensed cf table-Font">
					<thead class="cf">
						<tr>
							<th class="tGrupoClm1">Nombre y Apellido</th>
							<th class="tGrupoClm2">Direccion</th>
							<th class="tGrupoClm3">Telefono</th>
							<th class="tGrupoClm4">E-mail</th>
							<th class="tGrupoClm5">Estado</th>
							<th class="tGrupoClm6">Informar</th>
						</tr>
					</thead>
					<tbody>
					{% for pub in pubs %}
						<tr>
							<td class="tGrupoClm1" data-title="Nombre:">
								<a href="{% url 'secretario:tarjeta' 1 pub.id y %}">{{ pub.nombre }} {{ pub.apellido }} </a>
							</td>

							<td class="tGrupoClm2" data-title="Direccion:">
								{{ pub.direccion }}
							</td>

							<td class="tGrupoClm3" data-title="Telefono:">
								{{ pub.telefono }}
							</td>

							<td class="tGrupoClm4" data-title="E-mail:">
								{{ pub.email }}
							</td>

							<td class="tGrupoClm5" data-title="Estado">
								<div class="tGrupoStatus" style = "background-color:
									{% if pub.status == 0 %}
										#09B20F
									{% elif pub.status == 1 %}
										#FFAD33
									{% elif pub.status == 2 %}
										#B30000
									{% elif pub.status == 3 %}
										#009999
									{% else %}
										#B6B6B6
									{% endif %};"></div>
							</td>

							<td class="tGrupoClm6" id="{{ pub.id }}">
								<button class="btn btn-info fa fa-plus" data-toggle="modal" data-target="#informe"></button>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>

{% include 'inc/modalInforme.html' %}

<script>

	var id
	var colStatus

	$(document).ready(function() {
		$('.datepicker').datetimepicker({
            format: 'MM-YYYY',
            widgetPositioning:  {
              horizontal: 'right',
              vertical: 'auto',
            },
            maxDate:'now'
        })

		maxwidth = $(window).width()
	})

	$(window).resize(function(){
		maxwidth = $(window).width()
	})

	$('#regInf').html('Registrar')
	$('.modal-title').html('Registrar Informe')
	$('#regInf').addClass('btn-primary')

	$("td > button:nth-child(1)").click(function(){
		colStatus = ""
		id = 0
		id = this.parentNode.id
		informe = new Gestion()
		informe.getInputs('#informe')
		informe.Cargar()
		colStatus = $(this).parent().siblings(':eq(4)').children()
	})

	$("#regInf").click(function(){
		close = function(res){
			$('#informe').modal('hide')
			datInf.Cargar()

			if ( res.status || res.status === 0 ){
				var status = res.status
				var color = ""
				
				if (status == 0){
					color = '#09B20F'
				} else if (status == 1){
					color = '#FFAD33'
				} else if (status == 2){
					color = '#B30000'
				} else {
					color = '#B6B6B6'
				}

				$(colStatus).css('background-color', color)
			}
		}

		hrs = $("input[type='number']:eq(2)", ".modal-body")
		if( hrs.val() > 0 ){

			obs =  $(":text:eq(0)", ".modal-body")
			if ( obs.val().trim() == "" ){
				obs.val("n/t")
			}

			HC = $("input[type='number']:eq(5)", ".modal-body")
			if ( HC.val().trim() == "" ){
				HC.val(0)
			}

			datInf = new Gestion()
			datInf.getInputs('#informe')
			input = datInf.getDataIn()

			if ( input.vacio == 0 ){
				keys = new Array('publicaciones', 'videos', 'horas', 'revisitas', 'estudios', 'obs','fecha','horasCons', 'publicador')
				datInf.generateJson(keys, '{{ csrf_token }}', id)
				datInf.setPost("{% url 'secretario:regInf' %}", 'Regitro de informe!', close)
			} else {
				showMsg('Error al Registrar Informe!','Hay Algunos Campos Vacios o con valores invalidos', "{% static 'img/error.png' %}")
			}
		} else {
			showMsg('Error al Registrar Informe!','No Puede Registrar Informes Vacios', "{% static 'img/error.png' %}")
			hrs.css('border-color', '#d90000')
		}
	})

	$("#edit").click(function(){
		window.location = "{% url 'secretario:editGrupo' num %}"
	})
</script>
