{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}


<div id="mainGrupo" class="col-lg-12">
	<div class="form-panel row">
		<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Editar Grupo de Predicación</h3>

		{% csrf_token %}
		<div class="form-group">
			<div class="col-xs-12 col-md-2">
				<p class="text-center pTitle">Numero de Grupo:</p>
				<p id="nroGrupo" class="text-center" style="font-size:24px;color:black;"> {{ id }} </p>
			</div>

			<div class="col-xs-12 col-md-3">
				<label for="enc">Encargado:</label>
				<select id="enc" class="form-control mrg-bottom">
					<option value="">Seleccione un Encargado</option>
					{% for enc in cmbEnc %}
						{% if enc.selected == 1 %}
							<option value="{{ enc.value }}" data-priv="1" data-adress="{{ enc.direccion }}" selected> {{ enc.text }} </option>
						{% else %}
							<option value="{{ enc.value }}" data-priv="1">{{ enc.text }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="col-xs-12 col-md-3">
				<label for="aux">Auxiliar:</label>
				<select id="aux" class="form-control mrg-bottom">
					<option value="">Seleccione un Auxiliar</option>
					{% for aux in cmbAux %}
						{% if aux.selected == 1 %}
							<option value="{{ aux.value }}" {% if aux.priv == 1 %} data-priv="1" {% endif %}
							data-adress="{{ aux.direccion }}" selected>{{ aux.text }}</option>
						{% else %}
							<option value="{{ aux.value }}" {% if aux.priv == 1 %} data-priv="1" {% endif %}>
							{{ aux.text }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="col-lg-4" style="margin-top:22px;">
				<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-2">
						<button id="move-right" class="btn btn-success btn-block fa fa-arrow-right fa-2x" disabled></button>
					</div>

					<div class="col-sm-3 col-md-3 col-lg-3">
						<button id="move-left" class="btn btn-danger btn-block fa fa-arrow-left fa-2x" disabled></button>
					</div>

					<div class="col-sm-3 col-md-3 col-lg-3">
						<button id="save" class="btn btn-primary btn-block fa fa-floppy-o fa-2x"></button>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-lg-6" style="margin-top: 40px;">
			<div class="content-panel">
				<section id="tabla1">

					<h3 class="text-center titlecolor cabecero">Publicadores sin Grupo</h3>

					<div class="col-lg-6 Nfilter">
						<input type="text" id="filtro1" class="form-control" placeholder="Buscar...">
					</div>

					<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
						<thead class="cf">
							<tr>
								<th style="width:5%;">
									<input type="checkbox" id="selectAll" />
								</th>
								<th class="numeric text-center">Nombre y Apellido</th>
								<th class="numeric text-center">Direccion</th>
							</tr>
						</thead>
						<tbody>
						{% for pubs in sinG %}
							<tr id="{{ pubs.pk }}">
								<td></td>
								<td class="numeric text-center" data-title="Nombre y Apellido">
									{{ pubs.nombre }} {{ pubs.apellido }}
								</td>
								<td class="numeric text-center" data-title="Direccion">
									{{ pubs.direccion}}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					<div style="height:80px;">
						<nav class="center-block">
						  <ul id="pager1" class="pagination pager hide" >
							<li>
							  <a href="#" aria-label="P">
								<span aria-hidden="true">&laquo;</span>
							  </a>
							</li>
							<li>
							  <a href="#" aria-label="N">
								<span aria-hidden="true">&raquo;</span>
							  </a>
							</li>
						  </ul>
						</nav>
					</div>
				</section>
			</div>
		</div>

		<div class="col-lg-6" style="margin-top: 40px;">
			<div class="content-panel">
				<section id="tabla2">

				   <h3 class="text-center titlecolor cabecero">Publicadores del Grupo</h3>

					<div class="col-lg-6 Nfilter">
						<input type="text" id="filtro2" class="form-control" placeholder="Buscar...">
					</div>

					<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
						<thead class="cf">
							<tr>
								<th style="width:5%;">
									<input type="checkbox" id="selectAll2" />
								</th>
								<th class="numeric text-center">Nombre y Apellido</th>
								<th class="numeric text-center">Direccion</th>
							</tr>
						</thead>
						<tbody>
						{% for pub in pubs %}
							<tr id="{{ pub.pk }}">
								<td></td>
								<td class="numeric text-center" data-title="Nombre y Apellido">
									{{ pub.nombre }} {{ pub.apellido }}
								</td>
								<td class="numeric text-center" data-title="Direccion">
									{{ pub.direccion}}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					<div style="height:80px;">
						<nav class="center-block">
						  <ul id="pager2" class="pagination pager hide">
							<li>
							  <a href="#" aria-label="P">
								<span aria-hidden="true">&laquo;</span>
							  </a>
							</li>
							<li>
							  <a href="#" aria-label="N">
								<span aria-hidden="true">&raquo;</span>
							  </a>
							</li>
						  </ul>
						</nav>
					</div>
				</section>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="form-group" style="margin-top:40px;">
			<div class="col-md-2">
				<button id="changeGrupo" class="btn btn-success btn-block">Cambiar a otro Grupo</button>
			</div>

			<div id="otherGroupP" style="width:0px;float:left;">
				<select id="otherGroup" class="form-control mrg-bottom" style="display:none;margin-bottom:0px;">
					<option value="">Seleccione un Encargado</option>
					{% for enc in cmbGrupo %}
							<option value="{{ enc.value }}">{{ enc.text }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="col-md-2">
				<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#mdDelGroup">Eliminar Grupo</button>
			</div>
		</div>

		<div class="clearfix" style="margin-bottom:30px;"></div>
	</div>
</div>

<div class="modal fade" id="mdDelGroup" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #9d1818;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Grupo</h4>
			</div>

			<div class="modal-body">
				<h4 class="text-center">¿Desea Eliminar el Grupo {{ id }} ?</h4>
			</div>

			<div class="modal-footer">
                <div class="col-xs-6">
                    <button id="deleteGroup" class="btn btn-danger" data-dismiss="modal">SI</button>
                </div>
			    <div class="col-xs-1">
                    <button class="btn btn-info" data-dismiss="modal">NO</button>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
	var publics, nombrar, altoT
	var idEnc = $("#enc").val()
	var idAux = $("#aux").val()

	$(document).ready(function () {

		reorder( $("#enc") )
		reorder( $("#aux") )

		tablaConfig = {
			columnDefs: [{
				orderable: false,
				className: 'select-checkbox',
				targets: 0
			}],
			select: {
				style: 'multi',
				selector: 'td:first-child',
			},
			order: [[1, 'asc']],
			"bInfo": false,
			"oLanguage": {
				"sInfoEmpty": "La Tabla se Encuentra Vacia",
				"sZeroRecords": "No se Encontraron Registros"
			, }
		}

		//instancia de las tablas
		publics = $('#publics').DataTable(tablaConfig);
		nombrar = $('#nombrar').DataTable(tablaConfig);

		//estilisando los filtros
		$('#publics_length').hide()
		$('#publics_filter').hide()
		$('#publics_paginate').hide()
		$('#filtro1').on('keyup change', function () {
			$('#publics').dataTable().fnFilter(this.value);
		});

		$('#nombrar_length').hide()
		$('#nombrar_filter').hide()
		$('#nombrar_paginate').hide()
		$('#filtro2').on('keyup change', function () {
			$('#nombrar').dataTable().fnFilter(this.value);
		});

		//asignacion de altura de las tablas
		reajustarTables()

		//creacion del pager
		pg1 = createPager(publics, 1)

		if (pg1 == 1) {
			altoT = $('#tabla1')[0].clientHeight
		}

		//habilitar panel
		if ( publics.data().length > 0 ) {
			$('#move-right').removeAttr('disabled')
		}

		if ( nombrar.data().length > 0 ) {
			$('#move-left').removeAttr('disabled')
		}
	})

	//controladores de combos
	function reorder(cmb){
		selected = cmb.val()
		cmb.each(function() {
		    $(this).html($('option[value!=""]', $(this)).sort(function(a, b) {
		        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
		    }))
		})
		cmb.val(selected).prop('selected', true)
	}

	function compararOptions(select1, select2, priv){
		options1 = select1.find('option[value!=""]')
		options2 = select2.find('option[value!=""]')

		$.each(options1, function(key, nodo1){
			exist = 0

			$.each(options2, function(key2, nodo2){
				if(nodo1.value == nodo2.value){
					exist++

					if( $(nodo1).is(':selected') )
						$(nodo2).detach()
				}
			})

			if(exist == 0){

				node = nodo1.cloneNode(true)

				if( $(node).is(':selected') )
					$(node).removeAttr('selected')

				if( priv ){
					if( $(node).attr('data-priv') ){
						select2.append( node )
					}
				} else {
					select2.append( node )
				}

			}
		})

		reorder(select1)
		reorder(select2)
	}

	function addEncAux(id, cmbNow, cmb2){

		fila = nombrar.row( "#"+id )

		if( cmbNow.val() != id && cmb2.val() != id && fila.length == 0 ){

			nodo = $('#'+cmbNow.attr('id')+' option[value="'+id+'"]')

			newRow = nombrar.row.add([
								"",
								$(nodo).html(),
								$(nodo).attr('data-adress'),
							]).draw().node()
			$(newRow).attr('id', '' + $(nodo).val() ).find('td').addClass("text-center")

		} else if( cmbNow.val() == id && fila.length > 0 ){
			fila.remove().draw()
		}

		reajustarTables()
		pg1 = createPager(publics, 1)
		pg2 = createPager(nombrar, 2)

		if (pg2 == 1) {
			altoT = $('#tabla2')[0].clientHeight
		} else if (pg1 == 1) {
			altoT = $('#tabla1')[0].clientHeight
		} else {
			altoT = null
		}
	}

    function delEncAux(id, cmbNow, cmb2){
        var remove = ""

        if( cmbNow.val() == id || cmb2.val() == id ){
            fila = publics.row( "#"+id )
            if( fila.length > 0 ){
                fila.remove().draw()

                reajustarTables()
                pg1 = createPager(publics, 1)
                pg2 = createPager(nombrar, 2)

                if (pg2 == 1) {
                    altoT = $('#tabla2')[0].clientHeight
                } else if (pg1 == 1) {
                    altoT = $('#tabla1')[0].clientHeight
                } else {
                    altoT = null
                }
            }

            $.each(newGroup, function(key, pub){
                if( pub.idPub == id)
                    remove = key
            })

            if( (remove === 0 && remove !== "") || remove )
                newGroup.splice(remove, 1)

        }
    }

	$('#enc').change(function(){
		enc = $(this)
		aux = $('#aux')

		if( this.value != "" ){
			compararOptions(enc, aux)
		} else {
			compararOptions(enc, aux)
		}

		enc.find('option[selected]').removeAttr('selected')

		addEncAux(idAux, enc, aux)
		addEncAux(idEnc, enc, aux)
        delEncAux(idAux, enc, aux)
        delEncAux(idEnc, enc, aux)
	})

	$("#aux").change(function(){
		aux = $(this)
		enc = $('#enc')

		if( this.value != "" ){
			compararOptions(aux, enc, 1)
		} else {
			compararOptions(aux, enc, 1)
		}

		aux.find('option[selected]').removeAttr('selected')

		addEncAux(idAux, aux, enc)
		addEncAux(idEnc, aux, enc)
        delEncAux(idAux, aux, enc)
        delEncAux(idEnc, aux, enc)
	})

	//check para seleccionar todo los elementos de la tabla
	$('#selectAll').click(function () {

		if (this.checked) {
			publics.rows().select();
		} else {
			publics.rows().deselect();
		}

	})

	$('#selectAll2').click(function () {

		if (this.checked) {
			nombrar.rows().select();
		} else {
			nombrar.rows().deselect();
		}

	})

	$('#nombrar th, #publics th').click(function () {
		reajustarTables(altoT)
	})

	//btns para cambiar de tabla
	var newGroup = []

	$('#move-right').click(function () {
			row = ""
			col = ""
			nodo = rowNode = ""

			//obtener la filas seleccionadas
			row = publics.rows('.selected').data()
			rowNode = publics.rows('.selected').nodes()
			publics.rows('.selected').remove().draw()

			//crear las filas en la tabla Nombrar
			$.each(row, function (key, value) {
				remove = ""

				nodo =  nombrar.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				//asignar atributos a la fila creada
				$(nodo).attr('id', rowNode[key].id ).find('td').addClass("numeric text-center")

				$.each(newGroup, function(key2, pub2){
					if( pub2.idPub == rowNode[key].id )
						remove = key2

				})

				if( (remove === 0 && remove !== "") || remove )
					newGroup.splice(remove, 1)

			})

			if ($('#move-left').is(':disabled') && row.length > 0) {
				$('#move-left').removeAttr('disabled')
				$('#save').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if ($('#selectAll').is(':checked'))
				$('#selectAll').removeProp('checked')

			if (publics.data().length == 0)
				$(this).prop('disabled', true)

			reajustarTables()
			pg1 = createPager(publics, 1)
			pg2 = createPager(nombrar, 2)

			if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveright

	$('#move-left').click(function () {
			row = ""
			col = ""
			nodo = rowNode = ""

			row = nombrar.rows('.selected').data()
			rowNode = nombrar.rows('.selected').nodes()
			nombrar.rows('.selected').remove().draw()

			$.each(row, function (key, value) {

				nodo =  publics.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				$(nodo).attr('id', '' + rowNode[key].id ).find('td').addClass("numeric text-center")

				if ( $('#otherGroup').is(':visible') && $('#otherGroup').val().trim() != "" ){
					newGroup.push({'idPub': rowNode[key].id,
								   'idGrupo': $('#otherGroup').val(),
								   'nombre': value[1],
								   'adress': value[2],
								  })
				} else {
					newGroup.push({'idPub': rowNode[key].id,
								   'idGrupo': '0',
								   'nombre': value[1],
								   'adress': value[2],
								  })
				}

				console.log(newGroup)
			})

			if ($('#selectAll2').is(':checked'))
				$('#selectAll2').removeProp('checked')

			if ($('#move-right').is(':disabled') && row.length > 0) {
				$('#move-right').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if (nombrar.data().length == 0) {
				$(this).prop('disabled', true)
				$('#save').prop('disabled', true)
			}

			reajustarTables()
			pg2 = createPager(nombrar, 2)
			pg1 = createPager(publics, 1)

			if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveleft

	//fin de cambiar de tabla

	/* controlador para el llenado de tablas */
	getPub =  function(res){
				publics.rows().remove().draw()
				pubsActual = nombrar.rows().nodes()

				col = ""

				if( $('#otherGroup').is(':visible') ){
					$('#tabla1 h3').html('Publicadores del Grupo '+ $('#otherGroup').val() )
				} else {
					$('#tabla1 h3').html('Publicadores sin Grupo')
				}

				if( !res.on ){
					$.each(res, function (key, pub) {
						on = 0

						$.each(pubsActual, function(key2, nodo){
							if( $(nodo).attr('id') == pub.pk ){
//								console.warn('el pub ya esta en la tabla nombrar')
								on = 1
							}
						})

						$.each(newGroup, function(key2, pub2){
							if( pub2.idPub == pub.pk ){
//								console.warn('el pub:'+ pub2.nombre +' se encuentra en el Grupo: '+pub2.idGrupo)
								on = 1
							}
						})

						if(on == 0){
							nombre = pub.nombre + " " + pub.apellido
							nodo =  publics.row.add([
												col,
												nombre,
												pub.direccion
											]).draw().node()

							$(nodo).attr('id', '' + pub.pk ).find('td').addClass("numeric text-center")
						}
					})
				} else {
					console.warn( res )
				}

				if( newGroup ){
					$.each(newGroup, function(key, pub){
						on = 0

						if( pub.idGrupo == '0' && $('#otherGroup').is(':hidden') ){
							on = 1
						}

						if( pub.idGrupo != '0' && $('#otherGroup').is(':visible') ){
							if( pub.idGrupo == $('#otherGroup').val() )
								on = 1
						}

						if(on == 1){
							nodo =  publics.row.add([
												col,
												pub.nombre,
												pub.adress
											]).draw().node()

							$(nodo).attr('id', '' + pub.idPub ).find('td').addClass("numeric text-center")
						}
					})
				}

				if ( $('#move-right').is(':disabled') && publics.data().length > 0) {
					$('#move-right').removeAttr('disabled')
				} else if ( !$('#move-right').is(':disabled') && publics.data().length == 0 ){
					$('#move-right').attr('disabled', true)
				}

				reajustarTables()
				pg1 = createPager(publics, 1)
				pg2 = createPager(nombrar, 2)

				if (pg2 == 1) {
					altoT = $('#tabla2')[0].clientHeight
				} else if (pg1 == 1) {
					altoT = $('#tabla1')[0].clientHeight
				} else {
					altoT = null
				}
			}

	//combo para consultar grupos
	$('#changeGrupo').click(function(){
		if(	$(this).hasClass('btn-success') ){

			$(this).removeClass('btn-success').addClass('btn-default')
			$('#otherGroup').show()
			$('#otherGroupP').animate({
				width: '25%'
			}, 1000)

			$('#otherGroup').find(':first-child').prop('selected', true)
			$("#otherGroup").css('border-color', '#ccc')

		} else {
			if( publics.data().length > 0){
				$(this).removeClass('btn-default').addClass('btn-success')
				$('#tabla1').parent().css('border', 'none')

				$('#otherGroupP').animate({
					width: '0%'
				}, 1000, function(){

					$('#otherGroup').hide()

					$.post("{% url 'secretario:conPubG' %}", {'id': 0, csrfmiddlewaretoken: '{{ csrf_token }}' })
					.success(function(res){
						res = JSON.parse(res)
						getPub(res)
					})
				})
			} else {
				$('#tabla1').parent().css({
					'border' : 'solid',
					'border-color': '#d90000'
				})

				titulo = "Editar Grupos!"
				msg = "Error! los grupos de predicacion deben contener al menos 1 publicador"
				img = "{% static 'img/error.png' %}"
				showMsg(titulo, msg, img)
			}
		}
	})

	$('#otherGroup').change(function(){
		id = this.value

		obj = new Gestion()
		obj.getInputs('.form-group:eq(1)')
		vacio = obj.getDataIn()

		if( vacio.vacio == 0 ){
			keys = new Array('id')
			obj.generateJson(keys, '{{ csrf_token }}')
			obj.setPost("{% url 'secretario:conPubG' %}", 0, getPub)
		} else {
			$('#move-right').attr('disabled', true)
			publics.rows().remove().draw()
			$('#tabla1 h3').html('Publicadores')
		}
	})

	//btn para eliminar grupo
	$('#deleteGroup').click(function(){

		nro = parseInt( $('#nroGrupo').html().trim() )

		$.post("{% url 'secretario:deleteG' %}", {'id': nro, csrfmiddlewaretoken: '{{ csrf_token }}' })
		.success(function(res){
			res = JSON.parse(res)
			$.gritter.add({
				title: 'Editar de Grupos!',
				text: 'Se ha Eliminado el Grupo {{ id }} correctamente',
				image: "{% static 'img/success.png' %}",
				time: 3000,
			})

			setTimeout(
				function () {
					window.location = "{% url 'secretario:conGrupo' %}"
				}, 1500
			)
		})
	})

	$('#save').click(function () {
		result = function (res) {
			bien = 0
			mal = 0

			if (!res.msg) {
				$.each(res, function (key, value) {
					if (value.bien == 1) {
						nombrar.row('#' + value.id).remove().draw()
						bien++
					} else {
						mal++
					}
				})
			} else {
				bien++
			}

			if (bien > 0) {
				$.gritter.add({
					title: 'Editar de Grupos!'
					, text: 'Grupo modificado con Exito!'
					, image: "{% static 'img/success.png' %}"
					, time: 3000
				, });
			}

			if (mal > 0) {
				$.gritter.add({
					title: 'Editar de Grupos!'
					, text: 'No se pudo modificar el grupo'
					, image: "{% static 'img/error.png' %}"
					, time: 3000
				, });
			} else {
				setTimeout(
					function () {
						window.location = "{% url 'secretario:conGrupoofPubs' id %}"
					}
					, 3000
				)
			}
		}

		pubs = []

		rows = nombrar.rows().nodes()
		nro = $('#nroGrupo').html().trim()

		$.each(rows, function (key, row) {
			pubs.push({
				'id': $(row).attr('id'),
				'idG': nro,
			})
		})

		$.each(newGroup, function (key, pub) {
			pubs.push({
				'id': pub.idPub,
				'idG': pub.idGrupo,
			})
		})

		obj = new Gestion()
		obj.getInputs('.form-group:eq(0)')
		input = obj.getDataIn()

		if(input.vacio == 0){
			key = new Array('enc', 'aux', 'IDgrupo', 'pubs')
			grupoPubs = new Array(nro, JSON.stringify(pubs) )
			x = obj.generateJson(key, '{{ csrf_token }}', grupoPubs)
			console.log(x)
			obj.setPost("{% url 'secretario:modGrup' %}", 0, result)
		}
	})
</script>
{% endblock %}
