{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}


	<div id="mainGrupo" class="col-lg-12">
		<div class="form-panel row">
			<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Editar Grupo de Predicación</h3>

			{% csrf_token %}
			<div class="form-group">
				<div class="col-xs-12 col-md-2">
					<p class="text-center pTitle">Numero de Grupo:</p>
					<p id="nroGrupo" class="text-center" style="font-size:24px;color:black;"> {{ id }} </p>
				</div>

				<div class="col-xs-12 col-md-3">
					<label for="enc">Encargado:</label>
					<select id="enc" class="form-control mrg-bottom">
						<option value="">Seleccione un Encargado</option>
						{% for enc in cmbEnc %}
							{% if enc.selected == 1 %}
								<option value="{{ enc.value }}" data-adress="{{ enc.direccion }}" selected>
								{{ enc.text }}</option>
							{% else %}
								<option value="{{ enc.value }}">{{ enc.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="col-xs-12 col-md-3">
					<label for="aux">Auxiliar:</label>
					<select id="aux" class="form-control mrg-bottom">
						<option value="">Seleccione un Auxiliar</option>
						{% for aux in cmbAux %}
							{% if aux.selected == 1 %}
								<option value="{{ aux.value }}" {% if aux.priv == 1 %} data-priv="1" {% endif %}
								data-adress="{{ aux.direccion }}" selected>{{ aux.text }}</option>
							{% else %}
								<option value="{{ aux.value }}" {% if aux.priv == 1 %} data-priv="1" {% endif %}>
								{{ aux.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="col-lg-4" style="margin-top:22px;">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-2">
							<button id="move-right" class="btn btn-success btn-block fa fa-arrow-right fa-2x" disabled></button>
						</div>

						<div class="col-sm-3 col-md-3 col-lg-3">
							<button id="move-left" class="btn btn-danger btn-block fa fa-arrow-left fa-2x" disabled></button>
						</div>

						<div class="col-sm-3 col-md-3 col-lg-3">
							<button id="save" class="btn btn-primary btn-block fa fa-check-square-o fa-2x"></button>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-6" style="margin-top: 40px;">
				<div class="content-panel">
					<section id="tabla1">

						<h3 class="text-center titlecolor cabecero">Publicadores sin Grupo</h3>

						<div class="col-lg-6 Nfilter">
							<input type="text" id="filtro1" class="form-control" placeholder="Buscar...">
						</div>

						<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
							<thead class="cf">
								<tr>
									<th style="width:5%;">
										<input type="checkbox" id="selectAll" />
									</th>
									<th class="numeric text-center">Nombre y Apellido</th>
									<th class="numeric text-center">Direccion</th>
								</tr>
							</thead>
							<tbody>
							{% for pubs in sinG %}
								<tr id="{{ pubs.pk }}">
									<td></td>
									<td class="numeric text-center" data-title="Nombre y Apellido">
										{{ pubs.nombre }} {{ pubs.apellido }}
									</td>
									<td class="numeric text-center" data-title="Direccion">
										{{ pubs.direccion}}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

						<div style="height:80px;">
							<nav class="center-block">
							  <ul id="pager1" class="pagination pager hide" >
								<li>
								  <a href="#" aria-label="P">
									<span aria-hidden="true">&laquo;</span>
								  </a>
								</li>
								<li>
								  <a href="#" aria-label="N">
									<span aria-hidden="true">&raquo;</span>
								  </a>
								</li>
							  </ul>
							</nav>
						</div>
					</section>
				</div>
			</div>

			<div class="col-lg-6" style="margin-top: 40px;">
				<div class="content-panel">
					<section id="tabla2">

					   <h3 class="text-center titlecolor cabecero">Publicadores del Grupo</h3>

						<div class="col-lg-6 Nfilter">
							<input type="text" id="filtro2" class="form-control" placeholder="Buscar...">
						</div>

						<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
							<thead class="cf">
								<tr>
									<th style="width:5%;">
										<input type="checkbox" id="selectAll2" />
									</th>
									<th class="numeric text-center">Nombre y Apellido</th>
									<th class="numeric text-center">Direccion</th>
								</tr>
							</thead>
							<tbody>
							{% for pub in pubs %}
								<tr id="{{ pub.pk }}">
									<td></td>
									<td class="numeric text-center" data-title="Nombre y Apellido">
										{{ pub.nombre }} {{ pub.apellido }}
									</td>
									<td class="numeric text-center" data-title="Direccion">
										{{ pub.direccion}}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

						<div style="height:80px;">
							<nav class="center-block">
							  <ul id="pager2" class="pagination pager hide">
								<li>
								  <a href="#" aria-label="P">
									<span aria-hidden="true">&laquo;</span>
								  </a>
								</li>
								<li>
								  <a href="#" aria-label="N">
									<span aria-hidden="true">&raquo;</span>
								  </a>
								</li>
							  </ul>
							</nav>
						</div>
					</section>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="form-group" style="margin-top:40px;">
				<div class="col-md-2">
					<button id="changeGrupo" class="btn btn-success btn-block">Cambiar a otro Grupo</button>
				</div>

				<div class="col-md-3" style="display:none;">
					<select id="otherGroup" class="form-control mrg-bottom">
						<option value="">Seleccione un Encargado</option>
						{% for enc in cmbGrupo %}
								<option value="{{ enc.value }}">{{ enc.text }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-md-2">
					<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#mdDelGroup">Eliminar Grupo</button>
				</div>
			</div>

			<div class="clearfix" style="margin-bottom:30px;"></div>
		</div>
	</div>

<div class="modal fade" id="mdDelGroup" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #9d1818;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Grupo</h4>
			</div>

			<div class="modal-body">
				<h4 class="text-center">¿Desea Eliminar el Grupo {{ id }} ?</h4>
			</div>

			<div class="modal-footer">
                <div class="col-xs-6">
                    <button id="deleteGroup" class="btn btn-danger" data-dismiss="modal">SI</button>
                </div>
			    <div class="col-xs-1">
                    <button class="btn btn-info" data-dismiss="modal">NO</button>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
	var publics, nombrar, altoT
	var idEnc = $("#enc").val()
	var idAux = $("#aux").val()

	$(document).ready(function () {

		tablaConfig = {
			columnDefs: [{
				orderable: false
				, className: 'select-checkbox'
				, targets: 0
					        }]
			, select: {
				style: 'multi'
				, selector: 'td:first-child'
			, }
			, order: [[1, 'asc']]
			, "bInfo": false
			, "oLanguage": {
				"sInfoEmpty": "La Tabla esta Vacia"
				, "sZeroRecords": "No se Encontraron Registros"
			, }
		}

		//instancia de las tablas
		publics = $('#publics').DataTable(tablaConfig);
		nombrar = $('#nombrar').DataTable(tablaConfig);

		//estilisando los filtros
		$('#publics_length').hide()
		$('#publics_filter').hide()
		$('#publics_paginate').hide()
		$('#filtro1').on('keyup change', function () {
			$('#publics').dataTable().fnFilter(this.value);
		});

		$('#nombrar_length').hide()
		$('#nombrar_filter').hide()
		$('#nombrar_paginate').hide()
		$('#filtro2').on('keyup change', function () {
			$('#nombrar').dataTable().fnFilter(this.value);
		});

		//asignacion de altura de las tablas
		reajustarTables()

		//creacion del pager
		pg1 = createPager(publics, 1)

		if (pg1 == 1) {
			altoT = $('#tabla1')[0].clientHeight
		}

		//habilitar panel
		if ( publics.data().length > 0 ) {
			$('#move-right').removeAttr('disabled')
		}

		if ( nombrar.data().length > 0 ) {
			$('#move-left').removeAttr('disabled')
		}
	})

	//controladores de combos
	$("#aux").change(function(){
		aux = $(this)

		if( aux.val() != idAux ){
			nodo = $('#aux option[value="'+idAux+'"]')
			newRow = nombrar.row.add([
								"",
								$(nodo).html(),
								$(nodo).attr('data-adress'),
							]).draw().node()
			$(newRow).attr('id', '' + $(nodo).val() ).find('td').addClass("text-center")
		} else {
			nombrar.row( "#"+idAux+"" ).remove().draw()
		}
	})

	//check para seleccionar todo los elementos de la tabla
	$('#selectAll').click(function () {

		if (this.checked) {
			publics.rows().select();
		} else {
			publics.rows().deselect();
		}

	})

	$('#selectAll2').click(function () {

		if (this.checked) {
			nombrar.rows().select();
		} else {
			nombrar.rows().deselect();
		}

	})

	$('#nombrar th, #publics th').click(function () {
		reajustarTables(altoT)
	})

	//btns para cambiar de tabla
	$('#move-right').click(function () {
			row = ""
			col = ""
			nodo = rowNode = ""

			//obtener la filas seleccionadas
			row = publics.rows('.selected').data()
			rowNode = publics.rows('.selected').nodes()
			publics.rows('.selected').remove().draw()

			//crear las filas en la tabla Nombrar
			$.each(row, function (key, value) {

				nodo =  nombrar.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				//asignar atributos a la fila creada
				$(nodo).attr('id', rowNode[key].id ).find('td').addClass("numeric text-center")

				if ( $('#otherGroup').is(':visible') && $('#otherGroup').val().trim() != "" ){
					$(nodo).attr('idGrupo', $('#otherGroup').val() )
				}
			})

			if ($('#move-left').is(':disabled') && row.length > 0) {
				$('#move-left').removeAttr('disabled')
				$('#save').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if ($('#selectAll').is(':checked'))
				$('#selectAll').removeProp('checked')

			if (publics.data().length == 0)
				$(this).prop('disabled', true)

			reajustarTables()
			pg1 = createPager(publics, 1)
			pg2 = createPager(nombrar, 2)

			if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveright

	$('#move-left').click(function () {
			row = ""
			col = ""
			nodo = rowNode = ""

			row = nombrar.rows('.selected').data()
			rowNode = nombrar.rows('.selected').nodes()
			nombrar.rows('.selected').remove().draw()

			console.log(row)
			$.each(row, function (key, value) {

				nodo =  publics.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				$(nodo).attr('id', '' + rowNode[key].id ).find('td').addClass("numeric text-center")
			})

			if ($('#selectAll2').is(':checked'))
				$('#selectAll2').removeProp('checked')

			if ($('#move-right').is(':disabled') && row.length > 0) {
				$('#move-right').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if (nombrar.data().length == 0) {
				$(this).prop('disabled', true)
				$('#save').prop('disabled', true)
			}

			reajustarTables()
			pg2 = createPager(nombrar, 2)
			pg1 = createPager(publics, 1)

			if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveleft
	//fin de cambiar de tabla

	/* controlador para el llenado de tablas */
	getPub =  function(res){
				publics.rows().remove().draw()
				pubsActual = nombrar.rows().nodes()

				col = ""

				if( $('#otherGroup').parent().is(':visible') ){
					$('#tabla1 h3').html('Publicadores del Grupo '+ $('#otherGroup').val() )
				} else {
					$('#tabla1 h3').html('Publicadores sin Grupo')
				}

				if( !res.on ){
					$.each(res, function (key, pub) {
						on = 0

						$.each(pubsActual, function(key2, nodo){
							/*console.log( $(nodo).attr('id') )
							console.log( pub.pk )*/
							if( $(nodo).attr('id') == pub.pk ){
								console.warn('el pub ya esta en la tabla nombrar')
								on = 1
							}
						})

						if(on == 0){
							nombre = pub.nombre + " " + pub.apellido
							nodo =  publics.row.add([
												col,
												nombre,
												pub.direccion
											]).draw().node()

							$(nodo).attr('id', '' + pub.pk ).find('td').addClass("numeric text-center")
						}
					})
				} else {
					console.warn( res )
				}

				if ( $('#move-right').is(':disabled') && publics.data().length > 0) {
					$('#move-right').removeAttr('disabled')
				} else if ( !$('#move-right').is(':disabled') && publics.data().length == 0 ){
					$('#move-right').attr('disabled', true)
				}

				reajustarTables()
				pg1 = createPager(publics, 1)
				pg2 = createPager(nombrar, 2)

				if (pg2 == 1) {
					altoT = $('#tabla2')[0].clientHeight
				} else if (pg1 == 1) {
					altoT = $('#tabla1')[0].clientHeight
				} else {
					altoT = null
				}
			}

	//combo para consultar grupos
	$('#changeGrupo').click(function(){
		if(	$(this).hasClass('btn-success') ){

			$(this).removeClass('btn-success').addClass('btn-default')
			$('#otherGroup').parent().show('slide', 1000)
			$('#otherGroup').find(':first-child').prop('selected', true)
			$("#otherGroup").css('border-color', '#ccc')

		} else {

			$(this).removeClass('btn-default').addClass('btn-success')
			$('#otherGroup').parent().hide('slide', 1000, function(){
				$.post("{% url 'secretario:conPubG' %}", {'id': 0, csrfmiddlewaretoken: '{{ csrf_token }}' })
				.success(function(res){
					res = JSON.parse(res)
					getPub(res)
				})
			})
		}
	})

	$('#otherGroup').change(function(){
		id = this.value

		obj = new Gestion()
		obj.getInputs('.form-group:eq(1)')
		vacio = obj.getDataIn()

		if( vacio.vacio == 0 ){
			keys = new Array('id')
			obj.generateJson(keys, '{{ csrf_token }}')
			obj.setPost("{% url 'secretario:conPubG' %}", 0, getPub)
		} else {
			$('#move-right').attr('disabled', true)
			publics.rows().remove().draw()
			$('#tabla1 h3').html('Publicadores')
		}
	})

	//btn para eliminar grupo
	$('#deleteGroup').click(function(){

		nro = parseInt( $('#nroGrupo').html().trim() )

		$.post("{% url 'secretario:deleteG' %}", {'id': nro, csrfmiddlewaretoken: '{{ csrf_token }}' })
		.success(function(res){
			res = JSON.parse(res)
			$.gritter.add({
				title: 'Editar de Grupos!',
				text: 'Se ha Eliminado el Grupo {{ id }} correctamente',
				image: "{% static 'img/success.png' %}",
				time: 3000,
			})

			setTimeout(
				function () {
					window.location = "{% url 'secretario:conGrupo' %}"
				}, 1500
			)
		})
	})

	$('#save').click(function () {
		result = function (res) {
			bien = 0
			mal = 0

			if (!res.msg) {
				$.each(res, function (key, value) {
					if (value.bien == 1) {
						nombrar.row('#' + value.id).remove().draw()
						bien++
					} else {
						mal++
					}
				})
			} else {
				bien++
			}

			if (bien > 0) {
				$.gritter.add({
					title: 'Editar de Grupos!'
					, text: 'Grupo modificado con Exito!'
					, image: "{% static 'img/success.png' %}"
					, time: 3000
				, });
			}

			if (mal > 0) {
				$.gritter.add({
					title: 'Editar de Grupos!'
					, text: 'No se pudo modificar el grupo'
					, image: "{% static 'img/error.png' %}"
					, time: 3000
				, });
			} else {
				setTimeout(
					function () {
						window.location = "{% url 'secretario:conGrupoofPubs' id %}"
					}
					, 3000
				)
			}
		}

		pubs = []

		rows = nombrar.rows().nodes()
		nro = $('#nroGrupo').html().trim()

		$.each(rows, function (key, value) {
			pubs.push({
				'id': $(value).attr('id')
			})
		})

		/*$.each(rows, function (key, value) {
			if ( $(value).attr('idGrupo') ){
				pubsCon .push({
					'idGrupoCon': $(value).attr('idGrupo'),
					'idPub': $(value).attr('id')
				})
			}
		})*/

		obj = new Gestion()
		obj.getInputs('.form-group:eq(0)')
		input = obj.getDataIn()

		if(input.vacio == 0){
			key = new Array('enc', 'aux', 'IDgrupo', 'pubs')
			grupoPubs = new Array(nro, JSON.stringify(pubs) )
			x = obj.generateJson(key, '{{ csrf_token }}', grupoPubs)
			console.log(x)
			obj.setPost("{% url 'secretario:modGrup' %}", 0, result)
		}
	})
</script>
{% endblock %}
