{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}

	<div id="mainGrupo" class="col-lg-12">
		<div class="form-panel row">
			<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h3>

			<div>
				{% csrf_token %}
				<div class="form-group">
					<div class="col-xs-12 col-md-2">
						<label for="idgrupo">Numero de Grupo:</label>
						<input type="number" min="1" id="idgrupo" class="form-control mrg-bottom">
					</div>

					<div class="col-xs-12 col-md-3">
						<label for="enc">Encargado:</label>
						<div class="col-xs-10" style="padding:0px;">
							<select id="enc" class="form-control mrg-bottom">
								<option value="">Seleccione un Encargado</option>
								{% for pub in encargados %}
									<option value="{{ pub.pk }}" data-priv="1" data-adress="{{ pub.direccion }}">{{ pub.nombre }} {{ pub.apellido }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-xs-2" style="padding:0px;padding-left:15px;">
							<button id="newEnc" class="btn btn-success btn-block fa fa-plus" style="height:34px;"  data-toggle="modal" data-target="#modNewPub"></button>
						</div>
					</div>

					<div class="col-xs-12 col-md-3">
						<label for="aux">Auxiliar:</label>
						<div class="col-xs-10" style="padding:0px;">
							<select id="aux" class="form-control mrg-bottom">
								<option value="">Seleccione un Auxiliar</option>
								{% for pub in aux %}
									<option value="{{ pub.pk }}" {% if pub.priv == 1 %} data-priv="1" {% endif %} data-adress="{{ pub.direccion }}">{{ pub.nombre }} {{ pub.apellido }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-xs-2" style="padding:0px;padding-left:15px;">
							<button id="newAux" class="btn btn-success btn-block fa fa-plus" style="height:34px;" data-toggle="modal" data-target="#modNewPub"></button>
						</div>
					</div>

					<div class="col-lg-4" style="margin-top:22px;">
						<div class="row">
							<div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-2">
								<button id="move-right" class="btn btn-success btn-block fa fa-arrow-right fa-2x"></button>
							</div>

							<div class="col-sm-3 col-md-3 col-lg-3">
								<button id="move-left" class="btn btn-danger btn-block fa fa-arrow-left fa-2x" disabled></button>
							</div>

							<div class="col-sm-3 col-md-3 col-lg-3">
								<button id="save" class="btn btn-primary btn-block fa fa-floppy-o fa-2x" disabled></button>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="col-lg-6" style="margin-top: 40px;">
					<div class="content-panel">
						<section id="tabla1">

							<h3 class="text-center titlecolor cabecero">Publicadores</h3>

							<div class="col-lg-6 Nfilter">
								<input type="text" id="filtro1" class="form-control" placeholder="Buscar...">
							</div>

							<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
								<thead class="cf">
									<tr>
										<th style="width:5%;">
											<input type="checkbox" id="selectAll" />
										</th>
										<th class="numeric text-center">Nombre y Apellido</th>
										<th class="numeric text-center">Direccion</th>
									</tr>
								</thead>
								<tbody>

								{% for pubs in all %}
									<tr id="{{ pubs.pk }}">
										<td></td>
										<td class="numeric text-center" data-title="Nombre y Apellido">
											{{ pubs.nombre }} {{ pubs.apellido }}
										</td>
										<td class="numeric text-center" data-title="Direccion">
											{{ pubs.direccion}}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>

							<div style="height:80px;">
								<nav class="center-block">
								  <ul id="pager1" class="pagination pager hide" >
									<li>
									  <a href="#" aria-label="P">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li>
									  <a href="#" aria-label="N">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</section>
					</div>
				</div>

				<div class="col-lg-6" style="margin-top: 40px;">
					<div class="content-panel">
						<section id="tabla2">

						   <h3 class="text-center titlecolor cabecero">Publicadores Asignados al Grupo</h3>

							<div class="col-lg-6 Nfilter">
								<input type="text" id="filtro2" class="form-control" placeholder="Buscar...">
							</div>

							<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
								<thead class="cf">
									<tr>
										<th style="width:5%;">
											<input type="checkbox" id="selectAll2" />
										</th>
										<th class="numeric text-center">Nombre y Apellido</th>
										<th class="numeric text-center">Direccion</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>

							<div style="height:80px;">
								<nav class="center-block">
								  <ul id="pager2" class="pagination pager hide">
									<li>
									  <a href="#" aria-label="P">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li>
									  <a href="#" aria-label="N">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</section>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modNewPub" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Nuevo Publicador</h4>
				</div>

				<div class="modal-body">
				<div id="wizard" class="form_wizard wizard_verticle">
					<ul class="list-unstyled wizard_steps">
						<li>
							<a href="#step-1">
								<span class="step_no">1</span>
							</a>
						</li>
						<li>
							<a href="#step-2">
								<span class="step_no">2</span>
							</a>
						</li>
					</ul>
					<div id="step-1">
						<h2 class="StepTitleCustom">Registrar Publicador</h2>

						{{ regPub }}

						<label for="fechaNa">Fecha de Nacimiento:</label>
						<div class='input-group date datepicker2 mrg-bottom'>
							<input id="fechaNA" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>

						<label for="fechaBau">Fecha de Bautismo:</label>
						<div class='input-group datepicker2'>
							<input id="fechaBau" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>
					</div>

					<div id="step-2">
						<h2 class="StepTitleCustom">Nombrar Publicador</h2>

						<label for="fechaNa">Fecha de Nombramiento:</label>
						<div class='input-group date datepicker mrg-bottom'>
							<input id="fechaNom" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>

						<label for="privilegio">Privilegios:</label>
						<select id="privilegio" class="form-control mrg-bottom">
							<option value>Seleccion un Privilegio</option>
							<option value="1">Superintendente (Anciano)</option>
							<option value="2">Siervo Ministerial</option>
						</select>

						<label for="respon">Responsabilidad:</label>
						<input id="respon" type="text" class="form-control">

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
	var publics, nombrar, altoT
    var peligro = 0
    var cmb = 0

	$(document).ready(function () {

		reorder( $("#enc") )
		reorder( $("#aux") )

		tablaConfig = {
			columnDefs: [{
				orderable: false,
				className: 'select-checkbox',
				targets: 0
			}],
			select: {
				style: 'multi',
				selector: 'td:first-child',
			},
			order: [[1, 'asc']],
			"bInfo": false,
			"oLanguage": {
				"sInfoEmpty": "La Tabla esta Vacia",
				"sZeroRecords": "No se Encontraron Registros",
			}
		}

		//instancia de las tablas
		publics = $('#publics').DataTable(tablaConfig)
		nombrar = $('#nombrar').DataTable(tablaConfig)

		//estilisando los filtros
		$('#publics_length').hide()
		$('#publics_filter').hide()
		$('#publics_paginate').hide()
		$('#filtro1').on('keyup change', function () {
			$('#publics').dataTable().fnFilter(this.value)
		})

		$('#nombrar_length').hide()
		$('#nombrar_filter').hide()
		$('#nombrar_paginate').hide()
		$('#filtro2').on('keyup change', function () {
			$('#nombrar').dataTable().fnFilter(this.value)
		})

		//asignacion de altura de las tablas
		reajustarTables()

		//creacion del pager
		pg1 = createPager(publics, 1)

		if (pg1 == 1) {
			altoT = $('#tabla1')[0].clientHeight
		}
	})

	//smartWizard
	function saveEncAux(){
		function nombrar(res, pubR){
            pubR['id'] = res.id
			pub = []

			wizard2 = new Gestion()
			wizard2.getInputs("#step-2", '0')
			inputs = wizard2.getDataIn()

			if ( inputs.vacio == 0 ){
				pub.push({
					'id': res.id,
					'privilegio': $('#privilegio').val(),
					'respon': $("#respon").val()
				})

				keys = new Array('fechaIni', 'pub')
				wizard2.generateJson( keys, "{{ csrf_token }}", JSON.stringify(pub) )
				wizard2.setPost("{% url 'secretario:nombrarPriv' %}", 'Registro Instantaneo!', closeModal, pubR)
			}
		}

        function closeModal(res, pub){
            string = res.msg
            if( string.substr(0, 1) == 'S' || res.on ){
                $('#modNewPub').modal('hide')

                nombre = (pub.nombre+" "+pub.apellido).toUpperCase()
				adress = pub.direccion.toUpperCase()

                nodo =  publics.row.add([
									"",
									nombre,
									adress,
								]).draw().node()

                if( cmb == 1 && pub.id ){

                    $('#enc, #aux').append(
                        "<option value='"+pub.id+"' data-priv='1' data-adress='"+adress+"'>"+nombre+"</option>"
                    )

                    $(nodo).attr('id', '' + pub.id  ).find('td').addClass("numeric text-center")

                } else if( cmb == 2 && peligro == 0 && pub.id ){

                    $('#aux, #enc').append(
                        "<option value='"+pub.id+"' data-priv='1' data-adress='"+adress+"'>"+nombre+"</option>"
                    )

                    $(nodo).attr('id', '' + pub.id  ).find('td').addClass("numeric text-center")

                } else {
                    $('#aux').append(
                        "<option value='"+res.id+"' data-adress='"+adress+"'>"+nombre+"</option>"
                    )

                    $(nodo).attr('id', '' + res.id ).find('td').addClass("numeric text-center")
                }
            }
        }

		wizard = new Gestion()
		wizardPro = new Gestion()

		wizard.getInputs('#step-1')
		wizardPro.getInputs('#step-2')
		inputs = wizard.getDataIn()
		inputs2 = wizardPro.getDataIn()

		if ( inputs.vacio == 0 ){
			if ( inputs2.vacio == 0 ){
				keys = new Array('nombre', 'apellido', 'telefono', 'direccion', 'email', 'fechaNa', 'fechaBau', 'sexo')
				pub = wizard.generateJson(keys, "{{ csrf_token }}", 'M')
				wizard.setPost("{% url 'secretario:publicReg' %}", 'Registro Instantaneo!', nombrar, pub)
			} else {
                if( cmb == 2 && peligro == 0 ){
                    if ( $('#wizard').smartWizard('currentStep') != 2 )
                        $('#wizard').smartWizard('goToStep', 2)

                    peligro = showMsg('Precaucion!', "Hay algunos campos vacios", "{% static 'img/error.png' %}")
                } else if ( peligro == 1 ) {
                    keys = new Array('nombre', 'apellido', 'telefono', 'direccion', 'email', 'fechaNa', 'fechaBau', 'sexo')
                    pub = wizard.generateJson(keys, "{{ csrf_token }}", 'M')
                    wizard.setPost("{% url 'secretario:publicReg' %}", 'Registro Instantaneo!', closeModal, pub)
                } else {
					showMsg('Precaucion!', "Hay algunos campos vacios", "{% static 'img/error.png' %}")

					if ( $('#wizard').smartWizard('currentStep') != 2 )
						$('#wizard').smartWizard('goToStep', 2)
				}
			}
		} else {
			if ( $('#wizard').smartWizard('currentStep') != 1 )
				$('#wizard').smartWizard('goToStep', 1)

			showMsg('Error!', "Hay algunos campos vacios", "{% static 'img/error.png' %}")
		}
	}

	$('#wizard').smartWizard({
		transitionEffect: 'slide',
		labelNext:'Siguiente',
		labelPrevious:'Anterior',
		labelFinish:'Finalizar',
		onFinish: saveEncAux
	})

	$('#modNewPub').on('shown.bs.modal', function (e) {
		$("#step-1, #step-2").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '6', cursorborderradius: '10px', background: '#404040', spacebarenabled:false,  cursorborder: '', zindex: '1000'})
	})

	$('#modNewPub').on('hide.bs.modal', function (e){
		$("#step-1").scrollTo(0, 0);
	})

	$('#modNewPub').on('hidden.bs.modal', function (e){
        peligro = 0
        cmb = 0

		wizard = new Gestion()
		wizard.getInputs("#step-1")
		wizard.Cargar()

		wizard2 = new Gestion()
		wizard2.getInputs("#step-2")
		wizard2.Cargar()

		$('#wizard').smartWizard('goToStep', 1)
		$('#wizard').smartWizard('enableStep', 1)
		$('#wizard').smartWizard('disableStep', 2)
		$('#wizard').smartWizard('enableFinish', false)
	})

    $('#newEnc').click(function(){
        cmb = 1
    })

    $('#newAux').click(function(){
        cmb = 2
    })
	//end wizard

	//controladores de combos
	function delAddPub(cmb1, cmb2){
		function _searchDel(cmb){

			id = cmb.val()

			if (id){
				onNom = nombrar.row("#"+id).length
				onPub = publics.row("#"+id).length

				console

				if( onNom > 0 ){
					nombrar.row("#"+id).remove().draw()
					return 1
				} else if ( onPub > 0 ) {
					publics.row("#"+id).remove().draw()
					return 1
				}
			}

			return 0
		}

		function _searchAdd(cmb, cmb2){

			cmb.find('option[value!=""]').each(function(){
				id = $(this).val()

				if ( id != cmb.val() ){
					onNom = nombrar.row("#"+id).length
					onPub = publics.row("#"+id).length
					onCmb = cmb2.val()

					if( onNom == 0 && onPub == 0 && onCmb != id ){
						nodo =  publics.row.add([
										"",
										$(this).html().trim(),
										$(this).attr("data-adress"),
									]).draw().node()

						$(nodo).attr('id', '' + id ).find('td').addClass("numeric text-center")

						console.log('pub agregado ' + id)
					} else {
						console.log('publicador existe '+id)
					}
				}
			})
		}

		s1 = _searchDel(cmb1)
		s2 = _searchDel(cmb2)

		console.log(s1)
		console.log(s2)

		_searchAdd(cmb1, cmb2)
		_searchAdd(cmb2, cmb1)

	}

	$('#enc').change(function(){
		enc = $(this)
		aux = $('#aux')

		compararOptions(enc, aux)
		delAddPub(enc, aux)
	})

	$('#aux').change(function(){
		aux = $(this)
		enc = $('#enc')

		compararOptions(aux, enc, 1)
		delAddPub(aux, enc)
	})

	//check para seleccionar todo los elementos de la tabla
	$('#selectAll').click(function () {

		if (this.checked) {
			publics.rows().select();
		} else {
			publics.rows().deselect();
		}

	})

	$('#selectAll2').click(function () {

		if (this.checked) {
			nombrar.rows().select();
		} else {
			nombrar.rows().deselect();
		}

	})

	$('#nombrar th, #publics th').click(function () {
		reajustarTables(altoT)
	})

	//btns para cambiar de tabla
	$('#move-right').click(function () {
			row = ""
			col = ""
			nodo = ""

			//obtener la filas seleccionadas
			row = publics.rows('.selected').data()
			rowNode = publics.rows('.selected').nodes()
			publics.rows('.selected').remove().draw()

			//crear las filas en la tabla Nombrar
			$.each(row, function (key, value) {

				nodo =  nombrar.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				//asignar atributos a la fila creada
				$(nodo).attr('id', rowNode[key].id ).find('td').addClass("numeric text-center")
			})

			if ($('#move-left').is(':disabled') && row.length > 0) {
				$('#move-left').removeAttr('disabled')
				$('#save').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if ($('#selectAll').is(':checked'))
				$('#selectAll').removeProp('checked')

			if (publics.data().length == 0)
				$(this).prop('disabled', true)

			reajustarTables()
			pg1 = createPager(publics, 1)
			pg2 = createPager(nombrar, 2)

			if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveright

	$('#move-left').click(function () {
			row = ""
			col = ""
			nodo = ""

			row = nombrar.rows('.selected').data()
			rowNode = nombrar.rows('.selected').nodes()
			nombrar.rows('.selected').remove().draw()

			console.log(row)
			$.each(row, function (key, value) {

				nodo =  publics.row.add([
									col,
									value[1],
									value[2],
								]).draw().node()

				$(nodo).attr('id', '' + rowNode[key].id ).find('td').addClass("numeric text-center")
			})

			if ($('#selectAll2').is(':checked'))
				$('#selectAll2').removeProp('checked')

			if ($('#move-right').is(':disabled') && row.length > 0) {
				$('#move-right').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if (nombrar.data().length == 0) {
				$(this).prop('disabled', true)
				$('#save').prop('disabled', true)
			}

			reajustarTables()
			pg2 = createPager(nombrar, 2)
			pg1 = createPager(publics, 1)

			if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveleft
	//fin de cambiar de tabla


	$('#save').click(function () {
		result = function (res) {
			bien = 0
			mal = 0

			if (!res.msg) {
				$.each(res, function (key, value) {
					if (value.bien == 1) {
						nombrar.row('#' + value.id).remove().draw()
						bien++
					} else {
						mal++
					}
				})
			} else {
				bien++
			}

			if (bien > 0) {
				$.gritter.add({
					title: 'Creacion de Grupos!'
					, text: 'Grupo Creado con Exito!'
					, image: "{% static 'img/success.png' %}"
					, time: 3000
				, });
			}

			if (mal > 0) {
				$.gritter.add({
					title: 'Creacion de Grupos!'
					, text: 'No se pudo crear el grupo, porfavor intentelo nuevamente'
					, image: "{% static 'img/error.png' %}"
					, time: 3000
				, });
			} else {
				setTimeout(
					function () {
						window.location = "{% url 'secretario:registrarGrupo' %}"
					}
					, 3000
				)
			}
		}
		pubs = []

		rows = nombrar.rows().nodes()

		$.each(rows, function (key, value) {
			pubs.push({
				'id': $(value).attr('id')
			})
		})

		obj = new Gestion()
		obj.getInputs('.form-group')
		input = obj.getDataIn()

		if(input.vacio == 0){
			key = new Array('IDgrupo', 'encargado', 'auxiliar', 'pubs')

			obj.generateJson(key, '{{ csrf_token }}', JSON.stringify(pubs))

			obj.setPost("{% url 'secretario:grupos_registrar' %}", 0, result)
		}
	})
</script>
{% endblock %}




