{% extends "layout.html" %} {% load staticfiles %} {% block contenido %}

	<div id="mainGrupo" class="col-lg-12">
		<div class="form-panel row">
			<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h3>

			<div>
				{% csrf_token %}
				<div class="form-group">
					<div class="col-xs-12 col-md-2 col-md-offset-1">
						<label for="idgrupo">Numero de Grupo:</label>
						<input type="number" id="idgrupo" class="form-control mrg-bottom">
					</div>

					<div class="col-xs-12 col-md-3">
						<label for="enc">Encargado:</label>
						<div class="col-xs-10" style="padding:0px;">
							<select id="enc" class="form-control mrg-bottom">
								<option value="">Seleccione un Encargado</option>
							</select>
						</div>
						<div class="col-xs-2" style="padding:0px;padding-left:15px;">
							<button id="newEnc" class="btn btn-success btn-block fa fa-plus" style="height:34px;"  data-toggle="modal" data-target="#modNewPub"></button>
						</div>
					</div>

					<div class="col-xs-12 col-md-3">
						<label for="aux">Auxiliar:</label>
						<div class="col-xs-10" style="padding:0px;">
							<select id="enc" class="form-control mrg-bottom">
								<option value="">Seleccione un Auxiliar</option>
							</select>
						</div>
						<div class="col-xs-2" style="padding:0px;padding-left:15px;">
							<button id="newAux" class="btn btn-success btn-block fa fa-plus" style="height:34px;" data-toggle="modal" data-target="#modNewPub"></button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
						<button id="save" class="btn btn-primary btn-block" style="margin-top:28px;" disabled>Crear</button>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="col-lg-6" style="margin-top: 40px;">
					<div class="content-panel">
						<section id="tabla1">

							<h3 class="text-center titlecolor cabecero">Publicadores</h3>

							<div class="col-lg-6 Nfilter">
								<input type="text" id="filtro1" class="form-control" placeholder="Buscar...">
							</div>

							<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
								<thead class="cf">
									<tr>
										<th style="width:5%;">
											<input type="checkbox" id="selectAll" />
										</th>
										<th class="numeric text-center">Nombre y Apellido</th>
										<th class="numeric text-center">Direccion</th>
										<th class="numeric text-center" style="width:10%;">Estado</th>
									</tr>
								</thead>
								<tbody>
								{% for pubs in pub %}
									<tr id="{{ pubs.pk }}">
										<td></td>
										<td class="numeric text-center" data-title="Nombre y Apellido">
											{{ pubs.nombre }} {{ pubs.apellido }}
										</td>
										<td class="numeric text-center" data-title="Direccion">
											{{ pubs.dir}}
										</td>
										<td class="numeric text-center" data-title="">
										<!--background-color:{{ pubs.estado }}-->
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>

							<div style="height:80px;">
								<nav class="center-block">
								  <ul id="pager1" class="pagination pager hide" >
									<li>
									  <a href="#" aria-label="P">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li>
									  <a href="#" aria-label="N">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</section>
					</div>
				</div>

				<div class="col-lg-6" style="margin-top: 40px;">
					<div class="content-panel">
						<section id="tabla2">

						   <h3 class="text-center titlecolor cabecero">Publicadores Asignados al Grupo</h3>

							<div class="col-lg-6 Nfilter">
								<input type="text" id="filtro2" class="form-control" placeholder="Buscar...">
							</div>

							<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
								<thead class="cf">
									<tr>
										<th style="width:5%;">
											<input type="checkbox" id="selectAll2" />
										</th>
										<th class="numeric text-center">Nombre y Apellido</th>
										<th class="numeric text-center">Direccion</th>
										<th class="numeric text-center" style="width:10%;">Estado</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>

							<div style="height:80px;">
								<nav class="center-block">
								  <ul id="pager2" class="pagination pager hide">
									<li>
									  <a href="#" aria-label="P">
										<span aria-hidden="true">&laquo;</span>
									  </a>
									</li>
									<li>
									  <a href="#" aria-label="N">
										<span aria-hidden="true">&raquo;</span>
									  </a>
									</li>
								  </ul>
								</nav>
							</div>
						</section>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modNewPub" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Nuevo Publicador</h4>
				</div>

				<div class="modal-body">
				<div id="wizard" class="form_wizard wizard_verticle">
					<ul class="list-unstyled wizard_steps">
						<li>
							<a href="#step-1">
								<span class="step_no">1</span>
							</a>
						</li>
						<li>
							<a href="#step-2">
								<span class="step_no">2</span>
							</a>
						</li>
					</ul>
					<div id="step-1">
						<h2 class="StepTitleCustom">Registrar Publicador</h2>

						{{ regPub }}

						<label for="fechaNa">Fecha de Nacimiento:</label>
						<div class='input-group date datepicker2 mrg-bottom'>
							<input id="fechaNA" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>

						<label for="fechaBau">Fecha de Bautismo:</label>
						<div class='input-group datepicker2'>
							<input id="fechaBau" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>

						<div class="clearfix"></div>

						<div class="" style="padding:0px;margin-top:5px;">
							<label for="fechaBau">Sexo:</label>
							<p><input id="sexo" type="checkbox" checked></p>
						</div>
					</div>

					<div id="step-2">
						<h2 class="StepTitleCustom">Nombrar Publicador</h2>

						<label for="privilegio">Privilegios:</label>
						<select id="privilegio" class="form-control mrg-bottom">
							<option value>Seleccion un Privilegio</option>
							<option value="1">Superintendente (Anciano)</option>
							<option value="2">Siervo Ministerial</option>
						</select>

						<label for="fechaNa">Fecha de Nombramiento:</label>
						<div class='input-group date datepicker2 mrg-bottom'>
							<input id="fechaNom" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>

						<label for="respon">Responsabilidad:</label>
						<input id="respon" type="text" class="form-control">

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
	var publics, nombrar, altoT

	$('#modNewPub').on('shown.bs.modal', function (e) {
		$("#step-1, #step-2").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '6', cursorborderradius: '10px', background: '#404040', spacebarenabled:false,  cursorborder: '', zindex: '1000'});
	})

	$(document).ready(function () {

		tablaConfig = {
			columnDefs: [{
				orderable: false
				, className: 'select-checkbox'
				, targets: 0
					        }]
			, select: {
				style: 'multi'
				, selector: 'td:first-child'
			, }
			, order: [[1, 'asc']]
			, "bInfo": false
			, "oLanguage": {
				"sInfoEmpty": "La Tabla esta Vacia"
				, "sZeroRecords": "No se Encontraron Registros"
			, }
		}

		//instancia de las tablas
		publics = $('#publics').DataTable(tablaConfig);
		nombrar = $('#nombrar').DataTable(tablaConfig);

		//estilisando los filtros
		$('#publics_length').hide()
		$('#publics_filter').hide()
		$('#publics_paginate').hide()
		$('#filtro1').on('keyup change', function () {
			$('#publics').dataTable().fnFilter(this.value);
		});

		$('#nombrar_length').hide()
		$('#nombrar_filter').hide()
		$('#nombrar_paginate').hide()
		$('#filtro2').on('keyup change', function () {
			$('#nombrar').dataTable().fnFilter(this.value);
		});

		//asignacion de altura de las tablas
		reajustarTables()

		//creacion del pager
		pg1 = createPager(publics, 1)

		if (pg1 == 1) {
			altoT = $('#tabla1')[0].clientHeight
		}

		$("#sexo").bootstrapSwitch({
            onText: 'Hombre',
            offText: 'Mujer',
            offColor: 'default',
            state: true,
			handleWidth: 120,
        })

		$('#wizard').smartWizard({
			transitionEffect: 'slide',
			labelNext:'Siguiente',
			labelPrevious:'Anterior',
			labelFinish:'Finalizar',
		});
	});

	//check para seleccionar todo los elementos de la tabla
	$('#selectAll').click(function () {

		if (this.checked) {
			publics.rows().select();
		} else {
			publics.rows().deselect();
		}

	})

	$('#selectAll2').click(function () {

		if (this.checked) {
			nombrar.rows().select();
		} else {
			nombrar.rows().deselect();
		}

	})

	$('#nombrar th, #publics th').click(function () {
		reajustarTables(altoT)
	})

	//btns para cambiar de tabla

	//cambiar a la tabla Nombrar
	$('#move-right').click(function () {
			row = ""
			col = ""
			nodo = ""

			//obtener la filas seleccionadas
			row = publics.rows('.selected').data()
			publics.rows('.selected').remove().draw()

			//crear las filas en la tabla Nombrar
			$.each(row, function (key, value) {

				nodo = nombrar.row.add([
									col
						            , value[1]
						            , value[2]
						            , value[3]
						        , ]).draw().node()

				//asignar atributos a la fila creada
				$(nodo).attr('id', row[key].DT_RowId )
			})

			if ($('#move-left').is(':disabled') && row.length > 0) {
				$('#move-left').removeAttr('disabled')
				$('#save').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if ($('#selectAll').is(':checked'))
				$('#selectAll').removeProp('checked')

			if (publics.data().length == 0)
				$(this).prop('disabled', true)

			reajustarTables()
			pg1 = createPager(publics, 1)
			pg2 = createPager(nombrar, 2)

			if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveright

	$('#move-left').click(function () {
			row = ""
			col = ""
			nodo = ""

			row = nombrar.rows('.selected').data()
			rowNode = nombrar.rows('.selected').nodes()
			nombrar.rows('.selected').remove().draw()

			$.each(row, function (key, value) {

				nodo = publics.row.add([
									col
						            , value[1]
                                    , value[2]
                                    , value[3]
						        ]).draw().node()

				$(nodo).attr('id', '' + rowNode[key].id).find('td').addClass("numeric text-center")
			})

			if ($('#selectAll2').is(':checked'))
				$('#selectAll2').removeProp('checked')

			if ($('#move-right').is(':disabled') && row.length > 0) {
				$('#move-right').removeProp('disabled')
			} else {
				if (row.length == 0) {
					$.gritter.add({
						title: 'Nombrar Publicadores!'
						, text: 'No Hay Ninguna Fila Seleccionada'
						, image: "{% static 'img/error.png' %}"
						, time: 3000
					, })
				}
			}

			if (nombrar.data().length == 0) {
				$(this).prop('disabled', true)
				$('#save').prop('disabled', true)
			}

			reajustarTables()
			pg2 = createPager(nombrar, 2)
			pg1 = createPager(publics, 1)

			if (pg1 == 1) {
				altoT = $('#tabla1')[0].clientHeight
			} else if (pg2 == 1) {
				altoT = $('#tabla2')[0].clientHeight
			} else {
				altoT = null
			}
		}) //fin del moveleft

	//fin de cambiar de tabla

	$('#save').click(function () {
		result = function (res) {
			bien = 0
			mal = 0

			if (!res.msg) {
				$.each(res, function (key, value) {
					if (value.bien == 1) {
						nombrar.row('#' + value.id).remove().draw()
						bien++
					} else {
						mal++
					}
				})
			} else {
				bien++
			}

			if (bien > 0) {
				$.gritter.add({
					title: 'Nombrar Publicadores!'
					, text: 'Precursores Nombrados Con Exito!'
					, image: "{% static 'img/success.png' %}"
					, time: 3000
				, });
			}

			if (mal > 0) {
				$.gritter.add({
					title: 'Nombrar Publicadores!'
					, text: 'Algunos Precursores No Pudieron Ser Nombrados\n Verifique Sus Datos en la Tabla'
					, image: "{% static 'img/error.png' %}"
					, time: 3000
				, });
			} else {
				setTimeout(
					function () {
						window.location = "{% url 'secretario:registrarGrupo' %}"
					}
					, 3000
				)
			}
		}
		pubs = []

		rows = nombrar.rows().nodes()

		$.each(rows, function (key, value) {
			pubs.push({
				'id': $(value).attr('id')
			})
		})

		obj = new Gestion()
		obj.getInputs('.form-group')
		input = obj.getDataIn()

		if(input.vacio == 0){
			keys = new Array('IDgrupo', 'encargado', 'auxiliar', 'pubs')

			obj.generateJson(keys, '{{ csrf_token }}', pubs)

			obj.setPost("{% url 'secretario:grupos_registrar' %}", 'Registro de Grupos!', result)
		}
	})
</script>
{% endblock %}
