{% extends "layout.html" %}

{% block contenido %}
	<div id="mainGrupo" class="col-xs-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
		<div class="form-panel row">
			<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h3>

			<div>
				{% csrf_token %}
				<div class="form-group">

					<div class="col-xs-12">
						{{ form }}
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3">
						<button id="btnSave" class="btn btn-primary btn-block">Guardar</button>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}



{% block scripts %}
	<script>
		$(document).ready(function() {
			div = $('#mainGrupo')
			maxwidth = $(window).width()
			if(maxwidth >= 1200 && maxwidth < 1440 ){
				div.removeClass('col-lg-4').removeClass('col-lg-offset-4')
				div.addClass('col-lg-6').addClass('col-lg-offset-3')
			} else if(maxwidth > 1440){
				div.removeClass('col-lg-6').removeClass('col-lg-offset-3')
				div.addClass('col-lg-4').addClass('col-lg-offset-4')
			}
		});

		$(window).resize(function(){
			div = $('#mainGrupo')
			maxwidth = $(window).width()
			if(maxwidth >= 1200 && maxwidth < 1440 ){
				div.removeClass('col-lg-4').removeClass('col-lg-offset-4')
				div.addClass('col-lg-6').addClass('col-lg-offset-3')
			} else if(maxwidth > 1440){
				div.removeClass('col-lg-6').removeClass('col-lg-offset-3')
				div.addClass('col-lg-4').addClass('col-lg-offset-4')
			}
		})

		$('#btnSave').click(function(){
            limpiar=function(res){
                obj.Cargar()
            }
            obj = new Gestion()
            obj.getInputs('.form-group')
            input=obj.getDataIn()

            if(input.vacio == 0){
                keys = new Array('encargado', 'auxiliar')

                obj.generateJson(keys, '{{ csrf_token }}')

                obj.setPost("{% url 'secretario:grupos_registrar' %}", 'Registro de Grupos!', limpiar)
            }
		})

	</script>
{% endblock %}
