{% extends "layout.html" %}

{% block contenido %}

<div class="col-lg-12">
    <div class="form-panel row">
        <div class="visible-md visible-lg">
            <h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Consulta de Precursores</h1>
        </div>
        <div class="visible-xs visible-sm">
            <h3 class="text-center"><i class="fa fa-angle-right"></i>Consulta de Precursores</h3>
        </div>

        <div class="style-form">
            {% csrf_token %}
            <div class="form-group" style="margin-top: 30px">


                <div class="col-lg-2 col-md-offset-2">
                    {{ precur.precur }}
                </div>

                <div class="col-lg-2">
                    <input id="status" type="checkbox" checked>
                </div>

                <div class="col-lg-2">
                    <select id="precur" class="form-control" disabled>
                        <option value="">Seleccione el Precursor</option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <select id="periodo" class="form-control" disabled>
                        <option value="">Seleccione el Periodo</option>
                    </select>
                </div>

                <div class="clearfix"></div>

				<div id="fichaPrecur" class="col-lg-12" style="display:none;margin-top:40px;margin-bottom:30px;"></div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function(){
            $("#id_precur option[value='1']").detach()
        })

        var ficha = $('#fichaPrecur')
        var status

        function getPrecur(status){
            $.post("{% url 'secretario:conPrecs' %}",{
                'precur': $("#id_precur").val(),
                'status': status,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            })
            .success(function(res){
                res = JSON.parse(res)
                $('#precur option:first').siblings().detach()
                $('#precur').removeAttr('disabled')

                $.each(res.p, function(key, value){
                    $('#precur').append(new Option(""+value.nombre, ""+value.pk))
                })
            })
        }

        $("#status").bootstrapSwitch({
            onText: 'Activo',
            offText: 'Inactivo',
            offColor: 'danger',
            handleWidth: 100,
            disabled: true,
            state: true,
        });

        $("#id_precur").change(function(){
            if ( $(this).val() ){
                $("#status").bootstrapSwitch('disabled', false)
                x = $("#status").bootstrapSwitch('state')
                status = x == false ? 0 : 1
                getPrecur(status)

                if( !$('#periodo').is(':disabled') ){
                    $('#periodo').attr('disabled', true)
                    $('#periodo option:first').siblings().detach()
                }

                if( ficha.is(":visible") ){
                    ficha.hide('blind', 1000, function(){})
                }

            } else{
                $("#status").bootstrapSwitch('state', true)
                $("#status").bootstrapSwitch('animate', true)
                $("#status").bootstrapSwitch('toggleDisabled')

                $('#precur').attr('disabled', true)
                $('#precur option:first').siblings().detach()

                $('#periodo').attr('disabled', true)
                $('#periodo option:first').siblings().detach()

                if( ficha.is(":visible") ){
                    ficha.hide('blind', 1000, function(){})
                }
            }
        })

        $("#status").on('switchChange.bootstrapSwitch', function(event, state) {
            if ( $("#id_precur").val() ){
                status = state == false ? 0 : 1
                getPrecur(status)

                if( !$('#periodo').is(':disabled') ){
                    $('#periodo').attr('disabled', true)
                    $('#periodo option:first').siblings().detach()
                }

                if( ficha.is(":visible") ){
                    ficha.hide('blind', 1000, function(){})
                }
            }
        });

        $("#precur").change(function(){
            if ( $(this).val() ){
                $.post("{% url 'secretario:yearServicio' %}",{
                    'pub': $(this).val(),
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                })
                .success(function(res){
                    res = JSON.parse(res)

                    $('#periodo').removeAttr('disabled')
                    $('#periodo option:first').siblings().detach()

                    if( ficha.is(":visible") ){
                        ficha.hide('blind', 1000, function(){})
                    }

					if ( $("#id_precur").val() == "2" ){
						$.each(res.years, function(key, value){
							$('#periodo').append(new Option(value, value))
						})
					}else{
						$.each(res.years, function(key, value){
							$('#periodo').append(new Option(value[0]+'-'+value[1], value[0]+''+value[1]))
						})
					}
                })
            } else {
                $('#periodo').attr('disabled', true)
                $('#periodo option:first').siblings().detach()

                if( ficha.is(":visible") ){
                    ficha.hide('blind', 1000, function(){})
                }
            }
        })

        $("#periodo").change(function(){
            if( ficha.is(":hidden") ){

                if( $(this).val() ){
                    year = this.value

                    ficha.load("../../historia/precursor/"+year, function(){
                        ficha.show( 'blind', 1000 )
                        $('#AS').html(year)
                    })
                };

            } else {
                if( $(this).val() ){
                    year = this.value

                    ficha.hide('blind', 1000, function(){
                        ficha.load("../../historia/precursor/"+year, function(){
                            ficha.show( 'blind', 1000 )
                            $('#AS').html(year)
                        })
                    })
                } else {
                    ficha.hide('blind', 1000, function(){})
                }
            }
        })

    </script>

{% endblock %}
