{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Publicadores de "El Palito"</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Informacion de "El Palito"</h3>
			</div>
	<div class="form-horizontal style-form">

		<div class="form-group">
			{% csrf_token %}
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3" style="padding:0px;margin-left:50px;margin-right:30px;">
						<input type="search" id="filtro" class="form-control" style="margin-top: 40px;" placeholder="Ingrese su Busqueda..." />
						<div style="overflow:hidden;margin-top:40px;padding:5px;">
						    <div class="form-group">
						        <div id="picker"></div>
						    </div>
						</div>
						<button id="clear" class="btn btn-success" style="width:50%;margin-left:25%;">Limpiar</button>
					</div>
					<div id="pubs" class="col-lg-8" style="">
		                <div class="content-panel">
		                	<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Informacion de los publicadores</h3>
							<section id="no-more-tables" style="margin-top: 20px;">
		                    	<table id="public" class="table table-bordered table-striped table-condensed cf" style="font-size:14px;">
		                        	<thead class="cf">				
										<tr>
											<th class="numeric text-center" style="width:34%;">Nombre y Apellido</th>
											<th class="numeric text-center" style="width:10%;">Edad</th>
											<th class="numeric text-center" style="width:18%;">Fecha de Bautismo</th>
											<th class="numeric text-center" style="width:30%;">Grupo Asignado</th>
											<th class="numeric text-center" style="width:8%;">Estado</th>
										</tr>
									</thead>
									<tbody>
									{% for x in pub %}
										<tr>
											<td class="numeric nombre" data-title="Nombre y Apellido" style="width:34%;">
												<a href="{% url 'secretario:traerPub' x.id %}">{{ x.nombre }} {{ x.apellido }}</a>
											</td>
											<td class="numeric text-center" data-title="Edad" style="width:10%;">
												{{ x.edad }}
											</td>
											<td class="numeric text-center bau" data-title="Fecha de Bautismo" style="width:18%;">
												{{ x.fechaBau }}
											</td>
											<td class="numeric" data-title="Grupo Asignado" style="width:30%;">
												<a href="{% url 'secretario:conGrupoofPubs' x.g %}">{{ x.FKgrupo }}</a>
											</td>
											{% if x.status == 0 %}
												<td class="numeric estado" id="{{x.id}}" data-title="Estado" style="width:8%; background-color:#09B20F">

													<div style="display: none">
														<dl>
															<dt>Estado:</dt>
															<dd id="dgEstado">Activo</dd>
															
															<dt>Fecha del Ultimo Informe:</dt>
															<dd id="dgFecha">{{ x.fecha }}</dd>

															<dt>Intervalo:</dt>
															<dd id="dgInt">{{ x.intervalo }}</dd>

															<dt>Conclusiones:</dt>
															<dd id="dgConclu">publicador en buen estado</dd>
														</dl>
													</div>
												</td>
											{% elif x.status == 1 %}
												<td class="numeric estado" id="{{x.id}}" data-title="Estado" style="width:8%; background-color:#ffad33">

													<div style="display: none">
														<dl>
															<dt>Estado:</dt>
															<dd id="dgEstado">Irregular</dd>
															
															<dt>Fecha del Ultimo Informe:</dt>
															<dd id="dgFecha">{{ x.fecha }}</dd>

															<dt>Intervalo:</dt>
															<dd id="dgInt">{{ x.intervalo }}</dd>

															<dt>Conclusiones:</dt>
															<dd id="dgConclu">publicador precaucion</dd>
														</dl>
													</div>
												</td>
											{% elif x.status ==  2 %}
												<td class="numeric estado" id="{{x.id}}" data-title="Estado" style="width:8%; background-color:#b30000">

													<div style="display: none">
														<dl>
															<dt>Estado:</dt>
															<dd id="dgEstado">Inactivo</dd>
															
															<dt>Fecha del Ultimo Informe:</dt>
															<dd id="dgFecha">{{ x.fecha }}</dd>

															<dt>Intervalo:</dt>
															<dd id="dgInt">{{ x.intervalo }}</dd>

															<dt>Conclusiones:</dt>
															<dd id="dgConclu">publicador mal</dd>
														</dl>
													</div>
												</td>
											{% else %}
												<td class="numeric estado" id="{{x.id}}" data-title="Estado" style="width:8%;background-color: #009999"><!--#669999 color para los q no cumplieron con sus horas-->

													<div style="display: none">
														<dl>
															<dt>Estado:</dt>
															<dd id="dgEstado">Nuevo</dd>

															<dt>Intervalo:</dt>
															<dd id="dgInt">{{ x.intervalo }}</dd>

															<dt>Conclusiones:</dt>
															<dd id="dgConclu">Publicador Nuevo</dd>
														</dl>
													</div>
												</td>
											{% endif %}
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</div>
			</div>
        </div>

	</div>
		</div>		

	</div> 

<div id="dialogo" style="display: none">

</div>

{% endblock %}

{% block scripts %}
	<script>
		//dateTable

			var table = $('#public').dataTable({
				"bPaginate":false,
				"bInfo":false,
				"bFilter":true,
				"oLanguage": {
						      "sInfoEmpty": "La Tabla esta Vacia",
						      "sZeroRecords": "No se Encontraron Registros"
						     }
				});

			$('#public_filter').css('display', 'none')

	        $('#filtro').on( 'keyup change', function () {
							table.fnFilter(this.value);
						});

        //fin dateTable

		//dataTimePicker

			$(function () {
	            $('#picker').datetimepicker({
	                inline: true,
	                showTodayButton:true,
	                viewMode: 'days',
	                format: 'YYYY-MM-DD',
		            widgetPositioning: {
			            horizontal: 'right',
			            vertical: 'auto'
			        }
	            }).on("dp.change", function(e) {
						date = $('#picker').data("DateTimePicker").viewDate()
						date = moment(date._d.toJSON()).format('DD-MM-YYYY')
	            		$('#filtro').val(date)
	            		$('#filtro').change()	
	        		});
	        });

		//fin del dataTimePicker

		//boton limpiar filtro
		$("#clear").click(function(){
			$('#filtro').val("")
			$('#filtro').change()
		})

		//dialogo
			$('td.estado').mouseover(function(){
				$('#dialogo').html(
					$(this).find('div').html()
				)

				$('#dialogo').dialog({
					 position: { my: "right-60 center", at: "", of: this },
					 dialogClass: 'dlg-no-title',
				});
			})
			$('td.estado').mouseleave(function(){
				$('#dialogo').dialog("destroy")
			})
            {% if msg %}
                alert("{{msg}}")
            {% endif %}
		//fin del dialogo
	</script>
{% endblock %}