{% extends "layout.html" %}

{% block contenido %}

<div class="col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Datos de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Datos de Actividad del Publicador</h3>
			</div>

	<div class="form-horizontal style-form">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-lg-10 col-md-offset-1" style="margin-top: 30px;">
				{% include 'tarjetaPub.html' %}
			</div>

			<div class="clearfix"></div>

			<div class="col-xs-1" style="margin-top:50px;margin-left:30px;">
				<ul class="pager" style="margin:0px;padding:0px;">
				  <li class="previous"><a href="{% url 'secretario:conGrupo' %}">Volver</a></li>
				</ul>
			</div>
		</div>
	</div>		

		</div>
	</div>
</div>    

{% endblock %}
