<div class="row">

	<h3 class="text-center titlecolor">Informacion del Grupo</h3>

		{% csrf_token %}
		
		<div class="col-lg-4 col-md-offset-4">
			{{ form }}
		</div>

		<div class="clearfix"></div>

		<div id="pubs" class="col-lg-6 col-lg-offset-3">
            <div class="content-panel">
            	<h3 class="text-center sinmrg" style="margin-bottom:10px;">Publicadores del Grupo # {{ num }}</h3>
				<section id="no-more-tables">
                	<table class="table table-bordered table-striped table-condensed cf" style="font-size:16px;">
                    	<thead class="cf">				
							<tr>
								<th class="numeric text-center" style="border-right:0px;width:85%;">Nombre y Apellido</th>
								<th class="numeric" style="border-left:0px;width:15%;"></th>
							</tr>
						</thead>
						<tbody>
						{% for pub in publicadores %}
							<tr>
								<td class="numeric" data-title="Nombre y Apellido" style="border-right:0px;width:85%;">
									<a href="{% url 'secretario:tarjeta' pub.pk %}">{{ pub.nombre|upper }} {{ pub.apellido|upper }}</a>
								</td>
								<td class="numeric text-center" data-title="" style="border-left:0px;width:15%;">
									<button id="{{ pub.pk }}" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#pubGroup"></button>
								</td>
								<td class="numeric text-center inf" data-title="" style="width:15%;">
									<button id="{{ pub.pk }}" class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#informe"></button>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</section>
			</div>
		</div>
		
		<div class="clearfix"></div>

		<div class="col-lg-2 col-md-offset-5" style="margin-top: 40px;">
        	<button id="btnMod" type="submit" class="btn btn-success" style="width:100%">Modificar</button>
		</div>
			
</div>


<div class="modal fade" id="informe" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Registrar Informe</h4>
			</div>

			<div class="modal-body">
				<label for="horas">Horas:</label>
					<input id="horas" name="horas" class="form-control mrg-bottom"/>
				<label for="publicaciones">Publicaciones:</label>
					<input id="publicaciones" name="Publicaciones" class="form-control mrg-bottom"/>
				<label for="videos">videos:</label>
				<input id="videos" name="videos" class="form-control" style="" />
				<label for="revisitas">Revisitas:</label>
				<input id="revisitas" class="form-control" style="" />
				<label for="estudios">Estudios:</label>
				<input id="estudios" class="form-control" style="" />
				<label for="fecha">Fecha:</label>
				<input id="fecha" class="form-control" style="" />
			</div>

			<div class="modal-footer">
			  <button id="regInf" type="button" class="btn btn-primary" data-dismiss="modal">Registrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pubGroup" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Cambiar de Grupo</h4>
			</div>

			<div class="modal-body">
				<label for="nombres">Nombres:</label>
					<input id="nombres" name="datPub" class="form-control mrg-bottom" disabled="true"/>
				<label for="apellidos">Apellidos:</label>
					<input id="apellidos" name="datPub" class="form-control mrg-bottom" disabled="true" />
				<label for="grupos">Grupos:</label>
				<select id="grupos" name="grupos" class="form-control" style=""></select>
			</div>

			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal" id="changeP">Cambiar</button>
			</div>
		</div>
	</div>
</div>


{% block scripts %}
	<script>
		var id
		var idinf
		$("td > button").click(function(){
			/*row = $(this).parents('tr')
			row.fadeOut()*/
			id = this.id
			$.post("{% url 'secretario:conPub' %}", {'id':id, csrfmiddlewaretoken:'{{ csrf_token }}'}, 
			function(r){
				resp = JSON.parse(r)
				$('#grupos').html("")
				$.each(resp['grupos'], function(key, value){
					if (value.id != resp['pub'].grupo){
						$('#grupos').append('<option value="'+value.id+'">'+value.encargado+'</option>')
					} else {
						$('#grupos').append('<option value="'+value.id+'" selected>'+value.encargado+'</option>')
					}
				})
				$('#nombres').val(resp['pub'].nombre.toUpperCase())
				$('#apellidos').val(resp['pub'].apellido.toUpperCase())
			})
		})
		
		$("#changeP").click(function(){
			idgrupo = $('#grupos').val()
			$.post("{% url 'secretario:cambiarPub' %}", {'id':id, 'grupo': idgrupo, csrfmiddlewaretoken:'{{ csrf_token }}'}, function(res){
				res=JSON.parse(res)
				console.log(res)
				if (res.on==1){
					row = $('td > #'+id).parents('tr')
					row.fadeOut()
				}
				
				
			})
		})
		$("#btnMod").click(function(){
			a=$("#id_auxiliar").val()
			e=$("#id_encargado").val()
			if ($.trim(a)!="" && $.trim(e)!=""){
				$.post("{% url 'secretario:modGrup' %}", {'id':encargado, 'enc':e, 'aux':a, csrfmiddlewaretoken:'{{ csrf_token }}'}, function(res){
					res=JSON.parse(res)
					if (res.on==1){
						window.location="{% url 'secretario:conGrupo' %}"
						alert(res.msg)
					} else {
						alert(res.msg)
					}
				})
			}
		})
		
		$(".inf > button").click(function(){
			idinf=this.id
		})
		$("#regInf").click(function(){
			_h=$("#horas").val()
			_p=$("#publicaciones").val()
			_v=$("#videos").val()
			_r=$("#revisitas").val()
			_e=$("#estudios").val()
			_f=$("#fecha").val()
			alert(idinf)
			$.post("{% url 'secretario:regInf' %}", {'horas': _h, 'publicaciones':_p, 'videos': _v, 'revisitas': _r, 'estudios': _e, 'fecha':_f, 'publicador':idinf, csrfmiddlewaretoken:'{{ csrf_token }}'}, function(res){
				res=JSON.parse(res)
				console.log(res)
			})
		})
	</script>
{% endblock %}