{% if msg %}
<div> </div>
<script>
	console.log("{{msg}}")
</script>
{% else %}
	<div class="row">

		<h3 class="text-center titlecolor">Informacion del Grupo</h3>

			{% csrf_token %}

			<div id="formGrupo" class="col-lg-4 col-md-offset-4">
				{{ form }}
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-2 col-md-offset-5" style="margin-top: 30px;">
				<button id="btnMod" type="submit" class="btn btn-success" style="width:100%">Modificar</button>
			</div>

			<div class="clearfix"></div>

			<div id="pubs" class="col-lg-6 col-lg-offset-3">
				<div class="content-panel">
					<h3 class="text-center sinmrg" style="margin-bottom:10px;">Publicadores del Grupo # {{ num }}</h3>
					<section id="no-more-tables">
						<table class="table table-bordered table-striped table-condensed cf" style="font-size:16px;">
							<thead class="cf">
								<tr>
									<th class="numeric text-center" style="border-right:0px;width:85%;">Nombre y Apellido</th>
									<th class="numeric" style="border-left:0px;width:15%;"></th>
								</tr>
							</thead>
							<tbody>
							{% for pub in publicadores %}
								<tr>
									<td class="numeric" data-title="Nombre y Apellido" style="border-right:0px;width:80%;">
										<a href="{% url 'secretario:tarjeta' 1 pub.pk y %}">{{ pub.nombre|upper }} {{ pub.apellido|upper }}</a>
									</td>
									<td class="numeric text-center" data-title="" style="border-left:0px;width:20%;" id="{{ pub.pk }}">
										<button class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#pubGroup"></button>

										<button class="btn btn-info fa fa-plus" data-toggle="modal" data-target="#informe" style="margin-left:20px;"></button>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</section>
				</div>
			</div>
	</div>


	<div class="modal fade" id="informe" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
				  <button id="closeInf" type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Registrar Informe</h4>
				</div>

				<div class="modal-body">
					{{ modalInfo }}

					{{ mes.fecha.label_tag }}
					<div class='input-group date datepicker mrg-bottom'>
						{{ mes.fecha }}
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar">
							</span>
						</span>
					</div>
				</div>

				<div class="modal-footer">
					<button id="sinAct" type="button" class="btn btn-warning">Sin Actividad</button>
					<button id="regInf" type="button" class="btn btn-primary">Registrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="pubGroup" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Cambiar de Grupo</h4>
				</div>

				<div class="modal-body">
					{{ modalPub }}
				    {{ modalGrupo }}
				</div>

				<div class="modal-footer">
				  <button id="changePub" type="button" class="btn btn-default">Cambiar</button>
				</div>
			</div>
		</div>
	</div>


	<script>

		var id

        $(document).ready(function() {
			$( ".datepicker" ).datetimepicker({
				format: 'MM-YYYY',
				widgetPositioning: {
					horizontal: 'right',
					vertical: 'auto'
				},
				maxDate: 'now'
			})
		});

        $("#btnMod").click(function(){
			c = function(res){ $("#btnCon").click() }
			datG = new Gestion()
            datG.getInputs('#formGrupo')
            input=datG.getDataIn()
            if(input.vacio == 0){
                keys = new Array('enc', 'aux')
				datG.generateJson(keys, '{{ csrf_token }}')
                datG.setPost("{% url 'secretario:modGrup' %}", 'Modificar Grupos!', c)
            }
		})

		$("td > button:nth-child(1)").click(function(){
			id=0
			id = this.parentNode.id

			$.post("{% url 'secretario:conPub' %}", { 'id': id, csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(r){
				res = JSON.parse(r)

				$('.modal-body > #id_Encargado')
                    .find('option[value="'+res['pub'].grupo+'"]')
                    .prop('selected', true)

				$('#id_nombre').val( res['pub'].nombre.toUpperCase() )
				$('#id_apellido').val( res['pub'].apellido.toUpperCase() )
			})
		})

		$("td > button:nth-child(2)").click(function(){
			id = 0
			id = this.parentNode.id
			informe = new Gestion()
		})

		$("#changePub").click(function(){
			f = function(res){
                row = $('#'+id).parents('tr')
                row.fadeOut()
			}
			cambioG = new Gestion()
			cambioG.getInputs('#pubGroup', 2)
            cmb = cambioG.getDataIn()

			if (cmb.vacio==0){
				keys=new Array('grupo', 'id')
				cambioG.generateJson(keys, '{{ csrf_token }}', id)
				cambioG.setPost("{% url 'secretario:cambiarPub' %}", 'Cambio de grupo!', f)
                $('#pubGroup').modal('hide')
			}
		})

		$("#regInf").click(function(){
            datInf=new Gestion()
			close=function(res){
                $("#closeInf").click()
                datInf.Cargar()
            }
			datInf.getInputs('#informe')
            input=datInf.getDataIn()
			if(input.vacio==0){
				keys=new Array('horas', 'publicaciones', 'videos', 'revisitas', 'estudios', 'fecha', 'publicador')
				datInf.generateJson(keys, '{{ csrf_token }}', id)
				datInf.setPost("{% url 'secretario:regInf' %}", 'Regitro de informe!', close)
			}
		})

		$('#sinAct').click(function(){
			ini=new Gestion()
            ini.getInputs('#informe', [0,4])
            ini.Cargar('0')
		})


	</script>
{% endif %}
