{% extends "layout.html" %}

{% block contenido %}

<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h3>
			</div>

			<div style="margin-top: 30px;">
				{% csrf_token %}
				<div class="form-group" style="margin-bottom:60px;">
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#">Informe</a></li>
                        <li role="presentation"><a href="#">Precursores</a></li>
                        <li role="presentation"><a href="#">Publicadores</a></li>
                    </ul>
			    </div>

                <div class="col-lg-4">
                    <div class="row">

                       <div class="col-lg-10 col-lg-offset-1">
                            <div class="form-group">
                                <label for="fechaIni">Fecha a Consultar:</label>
                                <div class='input-group date datepicker'>
                                    <input type="text" class="form-control" style="font-size:16px;">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-lg-offset-3">
                            <button id="send" class="btn btn-primary btn-block">Concultar</button>
                        </div>

                        <div id="AT" class="col-lg-10 col-lg-offset-1">

                            <h3 class="text-center">Actividad de la Congregacion de los Ultimos 3 meses</h3>

                            <ul id="result"></ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8">
                    <canvas id="line"></canvas>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script>

        var lineChart

        var data = {
            labels: ["Horas", "Publicaciones", "videos", "Revisitas", "Estudios"],
            datasets: [
                {
                label: '',
                fillColor: "rgba(43, 168, 26, 0.73)",
                strokeColor: "#034503",
                pointColor: "rgb(43, 168, 26)",
                pointStrokeColor: "#0000000",
                pointHighlightFill: "#ffffff",
                pointHighlightStroke: "#33a733",
                data: [0,0,0,0,0]
                },
                {
                label: '',
                fillColor: "rgba(52, 97, 170, 0.72)",
                strokeColor: "#3461aa",
                pointColor: "rgb(52, 97, 170)",
                pointStrokeColor: "#000000",
                pointHighlightFill: "#ffffff",
                pointHighlightStroke: "#3461aa",
                data: [0,0,0,0,0]
                },
                {
                label: '',
                fillColor: "rgba(170, 52, 156, 0.7)",
                strokeColor: "#aa349c",
                pointColor: "rgb(170, 52, 156)",
                pointStrokeColor: "#000000",
                pointHighlightFill: "#ffffff",
                pointHighlightStroke: "#aa349c",
                data: [0,0,0,0,0]
                }
            ]
        }

        $(document).ready(function () {

            chart = $("#line").get(0).getContext("2d")

            lineChart =   new Chart(chart).Line(data, {
                            responsive: true,
                            tooltipFillColor: "rgba(232, 26, 26, 0.55)"
                        })

            alto = $('.form-panel').height() + $('#line')[0].clientHeight + 50

            $('.form-panel').height(alto)

        });

        $('#send').click(function(){

            fecha = $('div.datepicker > input').val()

            $.post("{% url 'secretario:infG' %}",{ 'fecha': fecha, csrfmiddlewaretoken: '{{ csrf_token }}' })
                .success(function(res){

                    res = JSON.parse(res)

                    $('#result').children().detach()

                    $.each(res, function(key, value){
                        mes = moment(value.mes, "MM").format('MMMM')

                        $.each(lineChart.datasets[key].points, function(key, value){
                            value.datasetLabel = "Informe de "+mes
                        })

                        if(value.result > 0){
                            status = "Incremento del"
                        } else if(typeof value.result === 'string' ){
                            status = ""
                        } else {
                            status = "Decremento del "
                        }

                        $('#result').append("<li>Resultados de "+mes+": "+status+" "+value.result+"%</li>")

                        lineChart.datasets[key].points[0].value = value.horas
                        lineChart.datasets[key].points[1].value = value.publicaciones
                        lineChart.datasets[key].points[2].value = value.videos
                        lineChart.datasets[key].points[3].value = value.revisitas
                        lineChart.datasets[key].points[4].value = value.estudios

                        lineChart.update();

                    })

                })
        })

	</script>
{% endblock %}
