<div class="col-lg-4">
	<div class="row">

	   <div class="col-lg-9 col-lg-offset-1">
			<div class="form-group">
				<label for="fechaIni">Fecha a Consultar:</label>
				<div class='input-group date datepicker'>
					<input type="text" class="form-control" style="font-size:16px;">
					<span class="input-group-addon">
						<span class="fa fa-calendar">
						</span>
					</span>
				</div>
			</div>
		</div>

		<div class="col-lg-2">
			<button id="send" class="btn btn-primary btn-block fa fa-search"></button>
		</div>

		<div id="AT" class="col-lg-10 col-lg-offset-1">

			<h3 class="text-center titlecolor">Resultados de los Ultimos 6 meses</h3>

			<dl id="resultAT" class="dl-horizontal"></dl>
		</div>

	</div>
</div>

<div class="col-lg-8" id="grafica">
	<span style="float:left;margin-left:30px;pointer-events:none" class="grafNext glyphicon glyphicon-chevron-left"></span>
	<span style="float:right;" class="grafNext glyphicon glyphicon-chevron-right"></span>

	<label for="line">Actividad de la Congregacion</label>
	<canvas id="line"></canvas>
</div>

<div class="clearfix"></div>

<div class="col-lg-12" id="grafica2">
	<div class="row">
		<div class="col-lg-4">
			<label for="pie3"></label>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					<canvas id="pie3"></canvas>
					<div class="col-md-6 col-md-offset-3" style="margin-top:66px;">
						<button class="btn btn-default btn-block hide">Ver Detalles</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<label for="pie2"></label>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					<canvas id="pie2"></canvas>
					<div class="col-md-6 col-md-offset-3" style="margin-top:66px;">
						<button class="btn btn-default btn-block hide">Ver Detalles</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<label for="pie1"></label>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					<canvas id="pie1"></canvas>
					<div class="col-md-6 col-md-offset-3" style="margin-top:66px;">
						<button class="btn btn-default btn-block hide">Ver Detalles</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="details" style="display:none;">
	<table id="tDetail" class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th class="text-center">Entidades</th>
				<th class="text-center">Result. Mes Anterior</th>
				<th class="text-center">Result. Mes Actual</th>
				<th class="text-center">% obtenido</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div class="clearfix"></div>

<script>
	var lineChart
	var pie1, pie2, pie3
	var results
	var lineImg = []

	var inicial = [0,0,0,0,0,0,0,0,0,0,0]
	var data = {
		labels: ["Horas", "Publicaciones", "videos", "Revisitas", "Estudios", "total Publicadores", "Bautizados", "Irregulares", "Inactivos", "Prec. Reg.", "Prec. Aux."],
		datasets: [
			{
			label: '',
			fillColor: "rgba(43, 168, 26, 0.3)",
			strokeColor: "#034503",
			pointColor: "rgb(43, 168, 26)",
			pointStrokeColor: "#0000000",
			pointHighlightFill: "#ffffff",
			pointHighlightStroke: "#33a733",
			data: inicial
			},
			{
			label: '',
			fillColor: "rgba(52, 97, 170, 0.3)",
			strokeColor: "#3461aa",
			pointColor: "rgb(52, 97, 170)",
			pointStrokeColor: "#000000",
			pointHighlightFill: "#ffffff",
			pointHighlightStroke: "#3461aa",
			data: inicial
			},
			{
			label: '',
			fillColor: "rgba(170, 52, 156, 0.3)",
			strokeColor: "#aa349c",
			pointColor: "rgb(170, 52, 156)",
			pointStrokeColor: "#000000",
			pointHighlightFill: "#ffffff",
			pointHighlightStroke: "#aa349c",
			data: inicial
			}
		]
	}

	var init = 2
	var data2 = [
			{
				value: init,
				color:"#42fd66",
				highlight: "#42fd66",
				label: "Horas"
			},
			{
				value: init,
				color: "#46BFBD",
				highlight: "#46BFBD",
				label: "Publicaciones"
			},
			{
				value: init,
				color: "#FDB45C",
				highlight: "#FDB45C",
				label: "Videos"
			},
			{
				value: init,
				color: "#5c75fd",
				highlight: "#5c75fd",
				label: "Revisitas"
			},
			{
				value: init,
				color: "#ede867",
				highlight: "#ede867",
				label: "Estudios"
			},
			{
				value: init,
				color: "#bc6a3e",
				highlight: "#bc6a3e",
				label: "Nro Publicadores"
			},
			{
				value: init,
				color: "#bf4646",
				highlight: "#bf4646",
				label: "Bautizados"
			},
			{
				value: init,
				color: "#b428bf",
				highlight: "#b428bf",
				label: "Irregulares"
			},
			{
				value: init,
				color: "#46bf87",
				highlight: "#46bf87",
				label: "Inactivos"
			},
			{
				value: init,
				color: "#e2d25a",
				highlight: "#e2d25a",
				label: "Prec. Reg."
			},
			{
				value: init,
				color: "#bf4667",
				highlight: "#bf4667",
				label: "Prec. Aux."
			}
		]
	var configPie = {
						responsive: true,
						tooltipTemplate : "<%=label%>: <%= value %>%",
					}
	var dialogCondig = {
					title: "Calculo del Porcentanje de Incremento del Mes",
					draggable: false,
					resizable: false,
					position: { my: "center", at: "center", of: window },
					width: 800,
					modal: true,
					show: { effect: "scale", duration: 400 }
				}

	$(document).ready(function () {

		$('.datepicker').datetimepicker({
            format: 'MM-YYYY',
            widgetPositioning:  {
              horizontal: 'right',
              vertical: 'auto',
            },
            maxDate:'now'
        })

		chart = $("#line").get(0).getContext("2d")
		pie3 = $("#pie3").get(0).getContext("2d")
		pie2 = $("#pie2").get(0).getContext("2d")
		pie1 = $("#pie1").get(0).getContext("2d")

		lineChart =   new Chart(chart).Line(data, {
						responsive: true,
						tooltipFillColor: "rgba(44, 39, 39, 0.55)",
						scaleFontSize: 14
					})

		pie3 = new Chart(pie3).Doughnut(data2, configPie)
		pie2 = new Chart(pie2).Doughnut(data2, configPie)
		pie1 = new Chart(pie1).Doughnut(data2, configPie)

	})

	$('#send').click(function(){
		lineChart.options.onAnimationComplete = function(){
			lineImg[0] = lineChart.toBase64Image()
		}

		fecha = $('div.datepicker > input').val()

		$.post("{% url 'secretario:infG' %}",{ 'fecha': fecha, csrfmiddlewaretoken: '{{ csrf_token }}' })
			.success(function(res){
				res = JSON.parse(res)
				results = res
				console.log(res)

				$('#resultAT').children().detach()

				$.each(res, function(key, value){
					mes = moment(value.mes, "MM").format('MMMM')
					mes = toUpperFirst(mes)

					if(value.result > 0){
						status = "Incremento del"
					} else if(typeof value.result === 'string' ){
						status = ""
					} else {
						status = "Decremento del "
					}

					$('#resultAT').append("<dt>"+mes+":</dt><dd>"+status+" "+value.result+"%</dd>")

					if(key < 3){
						mes2 = mes

						//LINE CHART
							$.each(lineChart.datasets[key].points, function(key, value){
								value.datasetLabel = mes
							})

							lineChart.datasets[key].points[0].value = value.horas
							lineChart.datasets[key].points[1].value = value.publicaciones
							lineChart.datasets[key].points[2].value = value.videos
							lineChart.datasets[key].points[3].value = value.revisitas
							lineChart.datasets[key].points[4].value = value.estudios
							lineChart.datasets[key].points[5].value = value.pubs
							lineChart.datasets[key].points[6].value = value.bau
							lineChart.datasets[key].points[7].value = value.irreg
							lineChart.datasets[key].points[8].value = value.inactivos
							lineChart.datasets[key].points[9].value = value.reg
							lineChart.datasets[key].points[10].value = value.aux
							lineChart.update();
					}
				})

				//DOUGHNUT CHART
				createDoughnut(res)

				mes1 = moment(fecha, "MM").format('MMMM')
				mes1 = toUpperFirst(mes1)
				$('#grafica > label').html('Actividad de la Congregacion de '+mes1+' a '+mes2)

			})
	})

	$('#grafica > span:eq(0)').click(function(){
		if(results){
			$("#line").toggle( 'slide', { direction: 'left' }, 500, function(){
				$.each(results, function(key, value){
					if(key < 3){
						mes = moment(value.mes, "MM").format('MMMM')
						mes = toUpperFirst(mes)

						$.each(lineChart.datasets[key].points, function(key, value){
							value.datasetLabel = mes
						})

						lineChart.datasets[key].points[0].value = value.horas
						lineChart.datasets[key].points[1].value = value.publicaciones
						lineChart.datasets[key].points[2].value = value.videos
						lineChart.datasets[key].points[3].value = value.revisitas
						lineChart.datasets[key].points[4].value = value.estudios
						lineChart.datasets[key].points[5].value = value.pubs
						lineChart.datasets[key].points[6].value = value.bau
						lineChart.datasets[key].points[7].value = value.irreg
						lineChart.datasets[key].points[8].value = value.inactivos
						lineChart.datasets[key].points[9].value = value.reg
						lineChart.datasets[key].points[10].value = value.aux
						lineChart.update()
					}
				})
			})

			mes1 = toUpperFirst(moment(results[0].mes, "MM").format('MMMM'))
			mes2 = toUpperFirst(moment(results[2].mes, "MM").format('MMMM'))
			$('#grafica > label').html('Actividad de la Congregacion de '+mes1+' a '+mes2)

			$("#line").toggle( 'slide', { direction: 'right' })

			$(this).css("pointer-events", "none");
			$(this).siblings().css("pointer-events", "auto")
		}
	})

	$('#grafica > span:eq(1)').click(function(){
		if(results){
			lineChart.options.onAnimationComplete = function(){
				lineImg[1] = lineChart.toBase64Image()
			}

			$("#line").toggle( 'slide', { direction: 'right' }, 500, function(){
				dec = 3
				$.each(results, function(key, value){
					if(key > 2){
						mes = moment(value.mes, "MM").format('MMMM')
						mes = toUpperFirst(mes)

						$.each(lineChart.datasets[key-dec].points, function(key, value){
							value.datasetLabel = mes
						})

						lineChart.datasets[key-dec].points[0].value = value.horas
						lineChart.datasets[key-dec].points[1].value = value.publicaciones
						lineChart.datasets[key-dec].points[2].value = value.videos
						lineChart.datasets[key-dec].points[3].value = value.revisitas
						lineChart.datasets[key-dec].points[4].value = value.estudios
						lineChart.datasets[key-dec].points[5].value = value.pubs
						lineChart.datasets[key-dec].points[6].value = value.bau
						lineChart.datasets[key-dec].points[7].value = value.irreg
						lineChart.datasets[key-dec].points[8].value = value.inactivos
						lineChart.datasets[key-dec].points[9].value = value.reg
						lineChart.datasets[key-dec].points[10].value = value.aux
						lineChart.update()
					}
				})
			})

			key = Object.keys(results).length - 1

			mes1 = toUpperFirst(moment(results[3].mes, "MM").format('MMMM'))
			mes2 = toUpperFirst(moment(results[key].mes, "MM").format('MMMM'))
			$('#grafica > label').html('Actividad de la Congregacion de '+mes1+' a '+mes2)

			$("#line").toggle( 'slide', { direction: 'left' }, 500)

			$(this).css("pointer-events", "none");
			$(this).siblings().css("pointer-events", "auto")
		}
	})

	$('#pie3').siblings().children().click(function(){
		$('#details').dialog(dialogCondig)
		crearTablePie(results, 0)
	})

	$('#pie2').siblings().children().click(function(){
		$('#details').dialog(dialogCondig)
		crearTablePie(results, 1)
	})

	$('#pie1').siblings().children().click(function(){
		$('#details').dialog(dialogCondig)
		crearTablePie(results, 2)
	})
</script>
