{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Nombrar Precursores</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Nombrar Precursores</h3>
			</div>

	<div class="form-horizontal style-form">
		<div class="form-group">

			{% csrf_token %}

			<div class="col-lg-12" style="margin-top: 20px;">
				<div class="row">

					<div class="col-lg-6 col-md-offset-3">
						<h2 class="text-center titlecolor" style="margin-bottom: 30px;">Opciones del Precurorado</h2>
							<div class="row">

								<div class="form-horizontal">
									<label for="fechaIni" class="control-label col-lg-3">Fecha de Inicio:</label>
						        	<div class="col-lg-3">
							            <div class='input-group date datepicker mrg-bottom'>
							                <input type="text" class="form-control">
							                <span class="input-group-addon">
							                    <span class="fa fa-calendar">
							                    </span>
							                </span>
							            </div>
						            </div>
					            </div>

								<div class="col-lg-2">
									<button id="save" class="btn btn-primary fa fa-check-square-o fa-2x" style="width: 100%"></button>
								</div>
								<div class="col-lg-2">
									<button id="move-right" class="btn btn-success fa fa-arrow-right fa-2x" style="width: 100%;"></button>
								</div>
								<div class="col-lg-2">
									<button id="move-left" class="btn btn-danger fa fa-arrow-left fa-2x" style="width: 100%;"></button>
								</div>
				            </div>
					</div>

				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel" id="pito">
					<section id="no-more-tables">
						<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Publicadores</h3>

                    	<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
                        	<thead class="cf">				
								<tr>
									<th>
										<input type="checkbox" id="selectAll" />
									</th>
									<th class="numeric text-center">Nombre y Apellido</th>
									<th class="numeric text-center">Fecha de Bautismo</th>
									<th class="numeric text-center">Tiempo Bautizado</th>
								</tr>
							</thead>
							<tbody>
							{% for pubs in pub %}
								<tr id="{{ pubs.pk }}">
									<td></td>
									<td class="numeric text-center" data-title="Nombre y Apellido">
										{{ pubs.nombre }} {{ pubs.apellido }}
									</td>
									<td class="numeric text-center" data-title="Fecha de Bautismo">
										{{ pubs.fechaBau }}
									</td>
									<td class="numeric text-center" data-title="Tiempo Bautizado">
										{{ pubs.tiempoB }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

					</section>
				</div>
			</div>

			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel">
					<section id="no-more-tables">
						<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Publicadores Que Seran Nombrados</h3>

                    	<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
                        	<thead class="cf">				
								<tr>
									<th>
										<input type="checkbox" id="selectAll" />
									</th>
									<th class="numeric text-center">Publicador</th>
									<th class="numeric text-center">Tipo Precursorado
										<div class="col-lg-12">
											{{ precur.precur }}
										</div>
									</th>
									<th class="numeric text-center">Duracion</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

					</section>
				</div>
			</div>
		</div>
	</div>		

		</div> 
</div> 

{% endblock %}

{% block scripts %}
	<script>
		var publics, nombrar

		$(document).ready(function(){
		    publics =   $('#publics').DataTable({
					        columnDefs: [{
					            orderable: false,
					            className: 'select-checkbox',
					            targets:   0
					        }],
					        select: {
					            style: 'multi',
					            selector: 'td:first-child',
					        },
					        order: [[ 1, 'asc' ]],
							"bInfo":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
									     }
					    });

			nombrar	= 	$('#nombrar').DataTable({
							columnDefs: [{
					            orderable: false,
					            className: 'select-checkbox',
					            targets:   0
					        }],
					        select: {
					            style: 'multi',
					            selector: 'td:first-child',
					        },
					        order: [[ 1, 'asc' ]],
					    	"bPaginate":false,
							"bInfo":false,
							"bFilter":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
									     }
						})

		    $('.datepicker').datetimepicker({
				format: 'MM-YYYY',
	            widgetPositioning:  {
							          horizontal: 'right',
							          vertical: 'auto',
							        }
		    })

		    alto = $('div.content-panel')[0].clientHeight
        	$('div.content-panel').css('height', alto+'px')
		});

		$('#selectAll').click(function(){

			if(this.checked){ 
                publics.rows().select();
            } else {
                publics.rows().deselect();
            }

        })
		
		//cambiar de tabla 
			$('#move-right').click(function(){
				row = ""
				col = ""
				nodo = ""

				cmb =   '<select class="form-control">\
				 			<option value="1">1 mes</option>\
				 			<option value="2">2 meses</option>\
				 			<option value="3">3 meses</option>\
				 			<option value="0">Indefinido</option>\
				 		<select>'

				cmbPrecur=  '<select class="form-control">\
								<option value="2">Auxiliar</option>\
								<option value="1">Auxiliar (Campañas)</option>\
								<option value="3">Regular</option>\
								<option value="4">Especial</option>\
				 			<select>'

				row = publics.rows('.selected').data()
				tr = $('#publics tr.selected')
				publics.rows('.selected').remove().draw()

				$.each(row, function(key, value){

					nodo = nombrar.row.add([
									col,
						            value[1],
						            cmbPrecur,
						            cmb,
						        ]).draw().node()

					$(nodo).attr('id', ''+tr[key].id)
				})
			})

			$('#move-left').click(function(){
				row = ""
				col = ""
				nodo = ""

				row = nombrar.rows('.selected').data()
				tr = $('#nombrar tr.selected')
				nombrar.rows('.selected').remove().draw()
				
				$.each(row, function(key, value){

					nodo = publics.row.add([
									col,
						            value[1],
						            2016-05-19,
						            12
						        ]).draw().node()

					$(nodo).attr('id', ''+tr[key].id)
				})
			})

		//fin de cambiar de tabla

		$('#id_precur').change(function(){
			$('td:nth-child(3) > select').val(this.value)
		})
		
		$('#save').click(function(){
			tr = ""
			pubs = []

			fechaIni = $('div.datepicker > input').val()

			tr = $('#nombrar tbody tr')

			$('#nombrar tbody tr').each(function(){
				pubs.push({
		            id: $(this).attr('id'),
		            'duracion': $(this).find('td:eq(3) > select').val(),
		            'precur': $(this).find('td:eq(2) > select').val()
        		})    
			})


			$.post("{% url 'secretario:NombrarPrecur' %}",
					{
					  'fechaIni': fechaIni,
					  'pub': JSON.stringify(pubs),
					  csrfmiddlewaretoken:'{{ csrf_token }}'
					})
					.success(function(res){
						res=JSON.parse(res)
						console.log(res)
					})
			
			x = {
					  'fechaIni': fechaIni,
					  'pub': JSON.stringify(pubs),
					  csrfmiddlewaretoken:'{{ csrf_token }}'
					}

			console.log(x)
		})
		
</script>
{% endblock %}