{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Nombrar Precursores</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Nombrar Precursores</h3>
			</div>

	<div class="style-form">
		<div class="form-group">

			{% csrf_token %}

			<div class="col-lg-12" style="margin-top: 20px;">
				<div class="row">

					<div class="col-lg-6 col-md-offset-3">
							<div class="row">

                                <div class="form-inline col-lg-6" style="margin-top:7px;">
									<div class="form-group">
                                        <label for="fechaIni">Fecha de Inicio:</label>
                                        <div class='input-group date datepicker'>
                                            <input type="text" class="form-control" style="font-size:16px;">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
					            </div>

                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <button id="move-right" class="btn btn-success fa fa-arrow-right fa-2x fullwidth"></button>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <button id="move-left" class="btn btn-danger fa fa-arrow-left fa-2x fullwidth" disabled></button>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <button id="save" class="btn btn-primary fa fa-check-square-o fa-2x fullwidth" disabled></button>
								</div>
				            </div>
					</div>

				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel">
					<section id="tabla1">
					
						<h3 class="text-center titlecolor cabecero">Publicadores</h3>
                       
                        <div class="col-lg-6 Nfilter">
                            <input type="text" id="filtro1" class="form-control" placeholder="Buscar...">
                        </div>
                        
                    	<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
                        	<thead class="cf">				
								<tr>
									<th style="width:5%;">
										<input type="checkbox" id="selectAll" />
									</th>
									<th class="numeric text-center">Nombre y Apellido</th>
									<th class="numeric text-center">Fecha de Bautismo</th>
									<th class="numeric text-center">Tiempo Bautizado</th>
								</tr>
							</thead>
							<tbody>
							{% for pubs in pub %}
								<tr id="{{ pubs.pk }}">
									<td></td>
									<td class="numeric text-center" data-title="Nombre y Apellido">
										{{ pubs.nombre }} {{ pubs.apellido }}
									</td>
									<td class="numeric text-center" data-title="Fecha de Bautismo">
										{{ pubs.fechaBau }}
									</td>
									<td class="numeric text-center" data-title="Tiempo Bautizado">
										{{ pubs.tiempoB }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

                        <div style="height:80px;">
                            <nav class="col-lg-6 col-md-offset-3">
                              <ul id="pager1" class="pagination pager">
                                <li>
                                  <a href="#" aria-label="P">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" aria-label="N">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
					</section>
				</div>
			</div>

			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel">
					<section id="tabla2">

                       <h3 class="text-center titlecolor cabecero">Publicadores Que Seran Nombrados</h3>

                        <div class="col-lg-6 Nfilter">
                            <input type="text" id="filtro2" class="form-control" placeholder="Buscar...">
                        </div>

                    	<table id="nombrar" class="display table table-condensed cf" cellspacing="0" style="font-size:14px;" width:"100%">
                        	<thead class="cf">				
								<tr>
									<th style="width:5%;">
										<input type="checkbox" id="selectAll2" />
									</th>
									<th class="numeric text-center" style="width:45%;">Nombre y Apellido</th>
									<th class="numeric text-center" style="width:30%;">
                                        <div class="btn-group">
                                          <button class="btnPrecur dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Tipo Precursorado <span class="fa fa-caret-square-o-down"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#" val="2">Auxiliar</a></li>
                                            <li><a href="#" val="1">Auxiliar (Campañas)</a></li>
                                            <li><a href="#" val="3">Regular</a></li>
                                            <li><a href="#" val="4">Especial</a></li>
                                          </ul>
                                        </div>
									</th>
									<th class="numeric text-center" style="width:20%;"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

                        <div style="height:80px;">
                            <nav class="col-lg-6 col-md-offset-3">
                              <ul id="pager2" class="pagination pager">
                                <li>
                                  <a href="#" aria-label="P">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" aria-label="N">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
					</section>
				</div>
			</div>
		</div>
	</div>		
		</div> 
</div> 

{% endblock %}

{% block scripts %}
	<script>
		var publics, nombrar

        var cmb =   '<select class="form-control" disabled>\
                        <option value="1">1 mes</option>\
                        <option value="2">2 meses</option>\
                        <option value="3">3 meses</option>\
                        <option value="0">Indefinido</option>\
                    <select>'

        function createPager(tabla, nro){
            filas = tabla.data().length

            if(filas > 10){
                page = 1
                index = 0
                while(filas>0){
                    filas = filas - 10

                    $('#pager'+nro+' > li:eq('+index+')').after(
                        '<li><a href="#" aria-label="'+index+'">'+page+'</a></li>'
                    )

                    index++
                    page++
                }
            }

            $('#pager'+nro+' > li > a').click(function(){
                val = $(this).attr('aria-label')

                if(val === 'N'){
                    tabla.page( 'next' ).draw( 'page' );
                } else if (val === 'P'){
                    tabla.page( 'previous' ).draw( 'page' );
                } else {
                    val = parseInt(val)
                    tabla.page( val ).draw( 'page' );
                }

                reajustarTables()
            })
        }

        function showPager(pgS, pgH, tablaE, tablaA){
            if($('#pager'+pgS).children().length == 2 && tablaE.data().length > 10){
                $('#pager'+pgS).show().children().show()
                createPager(tablaE, pgS)
            }

            if(tablaA.data().length > 10){
                $('#pager'+pgH).children().each(function(){
                    if( !$(this).is(':first-child') && !$(this).is(':last-child')){
                        $(this).detach()
                    }
                })
                createPager(tablaA, pgH)
            } else {
                $('#pager'+pgH).children().each(function(){
                    if( !$(this).is(':first-child') && !$(this).is(':last-child')){
                        $(this).detach()
                    }
                }).hide()
            }
        }

        function reajustarTables(){
            alto1 = $('#tabla1')[0].clientHeight
            alto2 = $('#tabla2')[0].clientHeight

            if(alto1 >= alto2){
                $('div.content-panel').height(alto1+'px')
            } else {
                $('div.content-panel').height(alto2+'px')
            }
        }

		$(document).ready(function(){
            $('li.sub-menu:eq(2) > a').click()

		    publics =   $('#publics').DataTable({
					        columnDefs: [{
					            orderable: false,
					            className: 'select-checkbox',
					            targets:   0
					        }],
					        select: {
					            style: 'multi',
					            selector: 'td:first-child',
					        },
					        order: [[ 1, 'asc' ]],
							"bInfo":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
                                          "oPaginate": {
                                                          "sNext": "Siguiente",
                                                          "sPrevious": "Anterior"
                                                        }
									     }
					    });
            
            //estilisando los filtros
                $('#publics_length').hide()
                $('#publics_filter').hide()
                $('#publics_paginate').hide()
                $('#filtro1').on( 'keyup change', function () {
                                $('#publics').dataTable().fnFilter(this.value);
                            });
            //fin de estilos
            
			nombrar	= 	$('#nombrar').DataTable({
							columnDefs: [{
					            orderable: false,
					            className: 'select-checkbox',
					            targets:   0
					        }],
					        select: {
					            style: 'multi',
					            selector: 'td:first-child',
					        },
					        order: [[ 1, 'asc' ]],
							"bInfo":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
                                          "oPaginate": {
                                                          "sNext": "Siguiente",
                                                          "sPrevious": "Anterior"
                                                        }
									     }
						})

            //estilisando los filtros
                $('#nombrar_length').hide()
                $('#nombrar_filter').hide()
                $('#nombrar_paginate').hide()
                $('#filtro2').on( 'keyup change', function () {
                                $('#nombrar').dataTable().fnFilter(this.value);
                            });
            //fin de estilos

		    $('.datepicker').datetimepicker({
				format: 'MM-YYYY',
	            widgetPositioning:  {
							          horizontal: 'right',
							          vertical: 'auto',
							        }
		    })

            //asignacion de altura de las tablas
            reajustarTables()

            //creacion del pager
                createPager(publics, 1)
                $('#pager2').hide()

		})//fin del inicio del documento

		$('#selectAll').click(function(){

			if(this.checked){ 
                publics.rows().select();
            } else {
                publics.rows().deselect();
            }

        })
        
        $('#selectAll2').click(function(){

			if(this.checked){ 
                nombrar.rows().select();
            } else {
                nombrar.rows().deselect();
            }

        })
		
        $('.dropdown-menu > li > a').click(function(){
            valAll = $(this).attr('val')

            if(nombrar.data().length > 0){
                col3 = nombrar.column( 2 ).nodes().to$()

                col3.each(function(){
                    $(this).children().val(valAll)

                    hermano = $(this).next()

                    if( valAll == 3 || valAll == 4 ){
                        hermano.children().detach()
                        hermano.append('<input type="text" placeholder="Nro de Precursor" class="form-control" />')
                    } else {
                        if ( hermano.children().is('input') ){
                            hermano.children().detach()
                            hermano.append(cmb).children().removeAttr('disabled')
                        } else {
                            if(hermano.children().is(':disabled'))
                                hermano.children().removeAttr('disabled')
                        }
                    }
                })
            }
        })


		//cambiar de tabla 
			$('#move-right').click(function(){
				row = ""
				col = ""
				nodo = ""
				cmbPrecur =  '<select class="form-control">\
                                <option value>Tipo de Precursorado</option>\
								<option value="2">Auxiliar</option>\
								<option value="1">Auxiliar (Campañas)</option>\
								<option value="3">Regular</option>\
								<option value="4">Especial</option>\
							<select>'

				row = publics.rows('.selected').data()
				publics.rows('.selected').remove().draw()

				$.each(row, function(key, value){

					nodo = nombrar.row.add([
									col,
						            value[1],
						            cmbPrecur,
						            cmb,
						        ]).draw().node()
 
					$(nodo).attr({
                        id: row[key].DT_RowId,
                        fechaBau: value[2],
                        Tbau: value[3],
                    })   
				})
                
                if( $('#selectAll').is(':checked') )
                    $('#selectAll').removeProp('checked')

                //obtener todos los nodos de la columna
                col3 = nombrar.column( 2 ).nodes().to$()

                //asignar evento a los select de la columna
                $( col3.children() ).change(function(){
                    hermano = $(this).parent().next()
                    value = $(this).val()

                    if(value == 3 || value == 4){
                        hermano.children().detach()
                        hermano.append('<input type="text" placeholder="Nro de Precursor" class="form-control" />')
                    } else if ( $(this).val() ){
                        if ( hermano.children().is('input') ){
                            hermano.children().detach()
                            hermano.append(cmb).children().removeAttr('disabled')
                        } else {
                            if(hermano.children().is(':disabled'))
                                hermano.children().removeAttr('disabled')
                        }
                    } else {
                        hermano.children().attr('disabled', true)
                    }
                })//fin del evento

                if ($('#move-left').is(':disabled') && row.length > 0)
                    $('#move-left').removeAttr('disabled')
                
                if (publics.data().length == 0)
                    $(this).attr('disabled', true)
                    
                if ($('div.datepicker > input').val())
                    $('#save').removeAttr('disabled')

                reajustarTables()

                showPager(2, 1, nombrar, publics)

			})//fin del moveright
            
			$('#move-left').click(function(){
				row = ""
				col = ""
				nodo = ""

				row = nombrar.rows('.selected').data()
                rowNode = nombrar.rows('.selected').nodes()

				nombrar.rows('.selected').remove().draw()

				$.each(row, function(key, value){
					nodo = publics.row.add([
									col,
						            value[1],
                                    $(rowNode[key]).attr('fechaBau'),
                                    $(rowNode[key]).attr('Tbau')
						        ]).draw().node()

                    $(nodo).attr('id', ''+rowNode[key].id).find('td').addClass("numeric text-center")
				})

                if( $('#selectAll2').is(':checked') )
                    $('#selectAll2').removeProp('checked')

                if ($('#move-right').is(':disabled') && row.length > 0)
                    $('#move-right').removeAttr('disabled')
                
                if (nombrar.data().length == 0){
                    $(this).attr('disabled', true)
                    $('#save').attr('disabled', true)
                }

                reajustarTables()

                showPager(1, 2, publics, nombrar)

			})//fin del moveleft

            $('span.input-group-addon').click(function(){
                if (nombrar.data().length > 0)
                    $('#save').removeAttr('disabled')
            })
            
            $('div.datepicker > input').on( 'keyup change', function (){
                
                if($(this).val() && nombrar.data().length > 0){
                    $('#save').removeAttr('disabled')
                } else {
                    $('#save').attr('disabled', true)
                }
                
            });

		//fin de cambiar de tabla
		
		$('#save').click(function(){
			pubs = []
            cmbNull = 0
            nroPreNull = 0

			fechaIni = $('div.datepicker > input').val()

			rows = nombrar.rows().nodes()

			$.each(rows ,function(key, value){
                id = $(value).attr('id')

                cmb1 = $(value).find('td:eq(2)').children()
                cmb1.css('border-color', '#ccc')
                precur = cmb1.val()

                cmb2 = $(value).find('td:eq(3)').children()
                cmb2.css('border-color', '#ccc')
                valPrecur = cmb2.val()

                if(precur == ""){
                    cmbNull++
                    cmb1.css('border-color', 'red')
                }

                if( precur == 3 || precur == 4){
                    if(valPrecur == ""){
                        nroPreNull++
                        cmb2.css('border-color', 'red')
                    }else{
                        pubs.push({
                            'id': id,
                            'precur': precur,
                            'duracion': 0,
                            'nroPrec': valPrecur
                        })
                    }
                } else {
                    pubs.push({
                        'id': id,
                        'precur': precur,
                        'duracion': valPrecur
                    })
                }
			})

            if(cmbNull > 0 || nroPreNull > 0){
                alert('Algunos Campos Se Encuentran Vacios')
            } else {
                $.post("{% url 'secretario:NombrarPrecur' %}",
                        {
                          'fechaIni': fechaIni,
                          'pub': JSON.stringify(pubs),
                          csrfmiddlewaretoken:'{{ csrf_token }}'
                        })
                        .success(function(res){
                            res=JSON.parse(res)
                            console.log(res)
                        })
            }

            x = {
					  'fechaIni': fechaIni,
					  'pub': JSON.stringify(pubs),
					  csrfmiddlewaretoken:'{{ csrf_token }}'
					}

            console.log(x)
		})
		
</script>
{% endblock %}
