{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Nombrar Precursores</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Nombrar Precursores</h3>
			</div>

	<div class="form-horizontal style-form">
		<div class="form-group">

			{% csrf_token %}

			<div class="col-lg-12" style="margin-top: 40px;">
				<div class="row">
					<div class="col-lg-3">
						{{ precur.precur }}
					</div>

					<div class="col-lg-2 col-md-offset-1">
						<button id="move" class="btn btn-success" style="width: 100%">Enviar</button>
					</div>
					
					<div class="col-lg-4 form-horizontal">
						<div class="row">
							<label for="fechaIni" class="control-label col-lg-4">Fecha de Inicio:</label>
							<div class='col-lg-4 input-group date datepicker mrg-bottom'>
				                <input type="text" id="fechaIni" class="form-control" /> 
				                <span class="input-group-addon">
				                    <span class="fa fa-calendar">
				                    </span>
				                </span>
				            </div>
			            </div>
					</div>
					
					<div class="col-lg-2">
						<button id="save" class="btn btn-primary" style="width: 100%">Nombrar Precursores</button>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel" id="pito">
					<section id="no-more-tables">
						<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Publicadores</h3>
                    	<table id="publics" class="display table table-condensed cf" cellspacing="0" style="font-size:20px;" width:"100%">
                        	<thead class="cf">				
								<tr>
									<th>
										<input type="checkbox" id="selectAll" />
									</th>
									<th class="numeric text-center">Nombre y Apellido</th>
									<th class="numeric text-center">Fecha de Bautismo</th>
									<th class="numeric text-center">Tiempo Bautizado</th>
								</tr>
							</thead>
							<tbody>
							{% for pubs in pub %}
								<tr>
									<td></td>
									<td class="numeric text-center" data-title="Nombre y Apellido">
										{{ pubs.nombre }} {{ pubs.apellido }}
									</td>
									<td class="numeric text-center" data-title="Fecha de Bautismo">
										{{ pubs.fechaBau }}
									</td>
									<td class="numeric text-center" data-title="Tiempo Bautizado">
										{{ 2 }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</section>
				</div>
			</div>
			<div class="col-lg-6" style="margin-top: 40px;">
                <div class="content-panel">
					<section id="no-more-tables">
						<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Publicadores Que Seran Nombrados</h3>
                    	<table id="nombrar" class="table table-bordered table-striped table-condensed cf" style="font-size:20px;">
                        	<thead class="cf">				
								<tr>
									<th class="numeric text-center">Publicador</th>
									<th class="numeric text-center">Tipo Precursorado</th>
									<th class="numeric text-center">Duracion</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
	</div>		

		</div> 
</div> 

{% endblock %}

{% block scripts %}
	<script>
		var publics, nombrar

		$(document).ready(function(){
		    publics =   $('#publics').DataTable({
					        columnDefs: [{
					            orderable: false,
					            className: 'select-checkbox',
					            targets:   0
					        }],
					        select: {
					            style: 'multi',
					            selector: 'td:first-child',
					        },
					        order: [[ 1, 'asc' ]],
							"bInfo":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
									     }
					    });

			nombrar	= 	$('#nombrar').DataTable({
					    	"bPaginate":false,
							"bInfo":false,
							"bFilter":false,
							"oLanguage": {
									      "sInfoEmpty": "La Tabla esta Vacia",
									      "sZeroRecords": "No se Encontraron Registros",
									     }
						})

		    $( ".datepicker" ).datetimepicker({
				format: 'MM-YYYY',
	            widgetPositioning:  {
							          horizontal: 'right',
							          vertical: 'auto',
							        }
		    })

		    alto = $('div.content-panel')[0].clientHeight
        	$('div.content-panel').css('height', alto+'px')
		});

		$("#selectAll").click(function(){

			if(this.checked){ 
                publics.rows().select();
            } else {
                publics.rows().deselect();
            }
        })
		
		$('#move').click(function(){
			row = ""
			filas = ""

			cmb =   '<select class="form-control">\
			 			<option value="1">1 mes</option>\
			 			<option value="2">2 meses</option>\
			 			<option value="3">3 meses</option>\
			 			<option value="0">Indefinido</option>\
			 		<select>'

			row = publics.rows('.selected').data()

			$.each(row, function(key, value){

				nombrar.row.add([
					            value[1],
					            $('#id_precur').val(),
					            cmb,
					        ]).draw( false );

			})
		})

	</script>
{% endblock %}