{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Edicion de Precursorados</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Edicion de Precursorados</h3>
			</div>
	<div class="form-horizontal style-form">

		<div class="form-group">
			{% csrf_token %}
			<div class="col-lg-12">
                <div class="content-panel">
                	<h3 class="text-center titlecolor" style="margin:0px;padding: 0px;">Informacion de los publicadores</h3>
					<section id="no-more-tables" style="margin-top: 20px;">
                    	<table id="public" class="table  table-striped table-condensed cf" style="font-size:14px;">
                        	<thead class="cf">				
								<tr>
									<th class="numeric text-center" style="width:60%;">Tipo de Precursor</th>
									<th class="numeric text-center" style="width:20%;">Cantidad de Horas</th>
									<th class="numeric text-center" style="width:20%;"></th>

								</tr>
							</thead>
							<tbody>
							{% for pre in precur %}
								<tr>
									<td class="numeric nombre" data-title="Tipo de Precursor" style="width:60%;">
										{{  pre.nombre }}
									</td>
									<td class="numeric text-center" data-title="Cantidad de Horas" style="width:20%;">
										{{ pre.horas }}
									</td>
									<td class="numeric text-center bau" data-title="" style="width:20%;">
										<button class="btn btn-success">Cambiar</button>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
	</div>		

		</div> 
</div> 

{% endblock %}

{% block scripts %}
	<script>

	</script>
{% endblock %}