{% extends "layout.html" %}

{% block contenido %}
<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h3>
			</div>

			<div class="form-horizontal style-form" style="margin-top: 30px;">
				{% csrf_token %}
				<div class="form-group">
					<div class="row">
						<div class="col-lg-8 col-md-offset-2">
							<div class="col-lg-4">
					        	{{ form.Encargado }}
							</div>

							<div class="col-lg-4">
					        	<select class="form-control" disabled="true">
									<option value="" >--SELECCIONE UN PUBLICADOR--</option>
								</select>
							</div>
							
							<div class="col-lg-3">
					        	<input id="servicio" type="number" class="form-control" disabled min="1" placeholder="Cantidad de años de servicio"/>
							</div>
							<div class="col-lg-1">
					        	<button id="generar" class="btn btn-primary" disabled>generar</button>
							</div>
						</div>
					</div>
					<div id="result" class="col-lg-10 col-md-offset-1" style="margin-top:40px;margin-bottom:30px;color:#000000;"></div>
					<div class="clearfix"></div>
		    	</div>
			</div>		
		</div>
	</div>
</div>    

{% endblock %}
{% block scripts %}
	<script>
		$(document).ready(function(){
			$(".form-control").val("")
			$("#generar, #servicio").attr("disabled","true")
		})
		var dd
		//obtener todos los selects
		combos = $('select')
		datpub = $('#datpub')
        cont=0

		//ordernar alfabeticamente los selects
		combos.eq(0).each(function() {
				$(this).html($("option", $(this)).sort(function(a, b) {
					return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
				}));
		})

		combos.eq(0).change(function(){
            cmbG=new Gestion()
            cmbG.getInputs(".form-group", '0')
            g=cmbG.getDataIn()
			if(!g.vacio==0){
				combos.eq(1).val("")
				combos.eq(1).attr("disabled","true")
				$("#generar, #servicio").attr("disabled","true")
				$("#servicio").val("")
			}else{
                f=function(res){
                    if (res.on==1){
						$.gritter.add({
                            title: "Consulta de publicadores",
                            text: 'No hay publicadores en este grupo',
                            image: '',
                            sticky: false,
                            time: 3000,
                            class_name: ''
                        });
						combos.eq(1).val("")
						combos.eq(1).attr("disabled","true")
						$("#generar, #servicio").attr("disabled","true")
						$("#servicio").val("")
					} else{
                        combos.eq(1).find('option:first').siblings().detach()
                        combos.eq(1).attr('disabled', false)
                        $.each(res.p, function(key, values){
							combos.eq(1).append("<option value="+values.id+">"+values.nombre+" "+values.apellido+"</option>")
						})
                        combos.eq(1).each(function() {
						    $(this).html($("option", $(this)).sort(function(a, b) {
						        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
						    }));
						})
						combos.eq(1).val("")
                    }
                }
                keys=new Array('g')
                cmbG.generateJson(keys, '{{ csrf_token }}')
                cmbG.setPost("{% url 'secretario:conPubG' %}", '', f)
            }
        })
		
		combos.eq(1).change(function(){
            if ($.trim(this.value)!=""){
				$("#servicio").removeAttr("disabled")
			} else{
				$("#servicio").attr("disabled","Strue")
				$("button")[0].disabled=true
			}
		})
		function habilitarButton(valor){
			if($.trim(valor)!="" && valor!=0){
				$("button")[0].disabled=false
			} else{
				$("button")[0].disabled=true
			}
		}
		$("#servicio").keyup(function(){
			habilitarButton(this.value)
		})
		
		$("#servicio").change(function(){
			habilitarButton(this.value)
		})
		
		$("#generar").click(function(){
			f=function(res){
				console.log(res)
				if (!res.msg){
					dd={
						pageSize: 'A4',
						content:[],
						defaultStyle: {
							alignment: 'center'
						},
						styles:{
							header: {
								fontSize: 18,
								bold: true,
								margin: [0, 0, 0, 10]
							},
							trPares:{
								fillColor:'#F1F1F1',
							},
							table: {
								margin: [15, 5, 0, 15],
							},
							tableHeader: {
								bold: true,
								fontSize: 13,
								color: 'black',
								fillColor: '#FFD966'
							}
						}
					}
					tablas=0
					dd.content.push({text:res.name, margin: [0, 0, 0, 0]})
					var posicion=0
					$("#result").html("")
					years=[]
					keysY=Object.keys(res)
					keysY.sort()
					keysY.reverse()
					for (i=0;i<keysY.length;i++){
						if(keysY[i]!="on" && keysY[i]!="name"){
							years.push(keysY[i])
						}
					}
					$.each(years, function(key, value){
						if(keysY[i]!="on" && keysY[i]!="name"){
							$("#result").append("<h3 class='text-center'>Informe de actividad del año de servicio "+value+"</h3>\
								<table id="+value+" class='table pdfTable' style='border:solid 1px #000000;' border=1 >\
									<thead>\
										<tr style='background-color:#FFD966'>\
											<th style='background-color:#00AF50'>Meses</th>\
											<th>Horas</th>\
											<th>Publicaciones</th>\
											<th>Revisitas</th>\
											<th>Estudios</th>\
											<th>Videos</th>\
											<th>Observaciones</th>\
										<tr>\
									</thead>\
									<tbody></tbody>\
								</table>")
							dd.content.push({text: 'Informe de actividad del año de servicio '+value, margin: [0, 10, 0, 8]})
							posicion++
							tablas++
							if(tablas==3){
								dd.content[posicion].pageBreak="before"
							}
							dd.content.push({
								style:'table',
								table:{
									headerRows: 1,
									body: [
										[
											{ text: 'Meses', fillColor:'#00AF50' },
											{ text: 'Horas', style: 'tableHeader'},
											{ text: 'Publicaciones', style: 'tableHeader' },
											{ text: 'Revisitas', style: 'tableHeader' },
											{ text: 'Estudios', style: 'tableHeader' },
											{ text: 'Videos', style: 'tableHeader' },
											{ text: 'Observaciones', style: 'tableHeader' }
										]
									]
								},
								layout:{
									hLineWidth: function(i, node) {
										return (i === 0 || i === node.table.body.length) ? 2 : 1;
									},
									vLineWidth: function(i, node) {
											return (i === 0 || i === node.table.widths.length) ? 2 : 1;
									},
								}
							})
							posicion++
							contador=1
							$.each(res[value], function(k,v){
								mes = moment(v['mes'], "MM").format('MMMM')
								mes = toUpperFirst(mes)
								if(!v.vacio){
									datos={
										mes:mes,
										horas:v.horas,
										publicaciones:v.publicaciones,
										revisitas:v.revisitas,
										estudios:v.estudios,
										videos:v.videos,
										observaciones:"",
									}
									if (v.obs){
										datos.observaciones=v.obs
									}
								} else{
									datos={
										mes:mes,
										horas:"",
										publicaciones:"",
										revisitas:"",
										estudios:"",
										videos:"",
										observaciones:"",
									}
								}
								$("#"+value+" tbody").eq(0).append(stringTr(datos))
								mes = moment(v['mes'], "MM").format('MMMM')
								mes = toUpperFirst(mes)
								if(contador%2!=0){
									if(!v.vacio){
										obs=""
										if (v.obs){
											obs=v.obs
										}
										dd.content[posicion].table.body.push([
											mes,
											v.horas.toString(),
											v.publicaciones.toString(),
											v.revisitas.toString(),
											v.estudios.toString(),
											v.videos.toString(),
											v.obs
										])
									}else{
										dd.content[posicion].table.body.push([
											mes,
											"",
											"",
											"",
											"",
											"",
											""
										])
									}
								} else{
									if(!v.vacio){
										obs=""
										if (v.obs){
											obs=v.obs
										}
										dd.content[posicion].table.body.push([
											{text:mes, style:'trPares'},
											{text:v.horas.toString(), style:'trPares'},
											{text:v.publicaciones.toString(), style:'trPares'},
											{text:v.revisitas.toString(), style:'trPares'},
											{text:v.estudios.toString(), style:'trPares'},
											{text:v.videos.toString(), style:'trPares'},
											{text:obs, style:'trPares'},
										])
									} else{
										dd.content[posicion].table.body.push([
											{text:mes, style:'trPares'},
											{text:"", style:'trPares'},
											{text:"", style:'trPares'},
											{text:"", style:'trPares'},
											{text:"", style:'trPares'},
											{text:"", style:'trPares'},
											{text:"", style:'trPares'},
										])
									}
								}
								contador+=1
							})
						}
					})
					pdfMake.createPdf(dd).download(res.name+".pdf")
				}else{
					$.gritter.add({
						title: "Error!",
						text: ''+res.msg,
						image: '',
						sticky: false,
						time: 3000,
						class_name: ''
					});
				}
			}
			conTarjeta=new Gestion()
			conTarjeta.getInputs(".form-group", [1,2])
			vacio=conTarjeta.getDataIn().vacio
			if (vacio==0){
				keys=['pub', 'year']
				conTarjeta.generateJson(keys, "{{ csrf_token }}")
				conTarjeta.setPost("{% url 'secretario:datosPdfPub' %}", '', f)
			}
		})
		function stringTr(data){
			return "<tr style='border:solid 1px #000000;'>\
				<td>"+data.mes+"</td>\
				<td>"+data.horas+"</td>\
				<td>"+data.publicaciones+"</td>\
				<td>"+data.revisitas+"</td>\
				<td>"+data.estudios+"</td>\
				<td>"+data.videos+"</td>\
				<td>"+data.observaciones+"</td>\
			</tr>"
		}
	</script>
{% endblock %}
