{% extends "layout.html" %}

{% block contenido %}
	<div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
		<div class="form-panel row">
			<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h3>

			<div>
				{% csrf_token %}
				<div class="form-group">

					<div class="col-xs-12">
						{{ form }}
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3">
						<button id="btnSave" type="submit" class="btn btn-primary">Guardar</button>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}



{% block scripts %}
	<script>

		$('#btnSave').click(function(){
            limpiar=function(res){
                obj.Cargar()
            }
            obj = new Gestion()
            obj.getInputs('.form-group')
            input=obj.getDataIn()

            if(input.vacio == 0){
                keys = new Array('encargado', 'auxiliar')

                obj.generateJson(keys, '{{ csrf_token }}')

                obj.setPost("{% url 'secretario:grupos_registrar' %}", 'Registro de Grupos!', limpiar)
            }
		})

	</script>
{% endblock %}
