{% extends "layout.html" %}

{% block contenido %}
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-2 col-md-offset-3">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Grupo de Predicación</h3>
			</div>
		
	<div class="form-horizontal style-form">
		{% csrf_token %}
		<div class="form-group">

			<div class="col-xs-12 col-md-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2">
	        	{{ form }}
			</div>
			
			<div class="col-xm-12 col-md-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-4">
	        	<button id="btnSave" type="submit" class="btn btn-primary">Guardar</button>
			</div>
		
    	</div>
	</div>		

		</div>
	</div>
{% endblock %}



{% block scripts %}
	<script>

		$('#btnSave').click(function(){
            limpiar=function(res){
                obj.Cargar()
            }
            obj = new Gestion()
            obj.getInputs('.form-group')
            input=obj.getDataIn()

            if(input.vacio == 0){
                keys = new Array('encargado', 'auxiliar')

                obj.generateJson(keys, '{{ csrf_token }}')

                obj.setPost("{% url 'secretario:grupos_registrar' %}", 'Registro de Grupos!', limpiar)
            }
		})

	</script>
{% endblock %}
