{% extends "layout.html" %}

{% block contenido %}

	<div id="mainPub" class="col-xs-12 col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-3">
		<div class="form-panel row">

			<h1 class="visible-md visible-lg text-center titlecolor"><i class="fa fa-angle-right"></i>Datos del Publicador</h1>

			<h3 class="visible-xs visible-sm text-center titlecolor"><i class="fa fa-angle-right"></i>Datos del Publicador</h3>

			{% csrf_token %}
			<div class="form-group">
				<div class="col-xs-12 col-md-10 col-md-offset-1">

					{{ form }}

					<label for="fechaNa">Fecha de Nacimiento:</label>
					<div class='input-group date datepicker2 mrg-bottom'>
						<input id="fechaNA" type="text" class="form-control">
						<span class="input-group-addon">
							<span class="fa fa-calendar">
							</span>
						</span>
					</div>

					<label for="fechaBau">Fecha de Bautismo:</label>
					<div class="col-lg-12 mrg-bottom" style="padding:0px;">
						<div class='input-group dateBau datepicker2'>
							<input id="fechaBau" type="text" class="form-control">
							<span class="input-group-addon">
								<span class="fa fa-calendar">
								</span>
							</span>
						</div>
						<span class="btn btn-warning noBau">
							<span class="fa fa-calendar-times-o">
							</span>
						</span>
					</div>

					<div class="clearfix"></div>

					{{ form2 }}
				</div>

				<div class="clearfix"></div>

				{% if on %}
					<div class="col-md-1" style="margin-top:50px;padding-left:30px;padding-top: 20px;">
						<ul class="pager" style="margin:0px;padding:0px;">
						  <li class="previous"><a href="{% url 'secretario:conPubs' %}">Volver</a></li>
						</ul>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-3" style="margin-top:30px;">
						<button id="btnMod" class="btn btn-success btn-block">Modificar</button>
					</div>
				{% else %}
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4" style="margin-top:30px;">
						<button id="btnSave" class="btn btn-primary btn-block">Guardar</button>
					</div>
				{% endif %}
			</div>
		</div>    
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function() {

			$('span.btn').click(function(){
		  		$('#fechaBau').val('No Bautizado')
		  	})

			div = $('#mainPub')
			maxwidth = $(window).width()
			if(maxwidth >= 1200 && maxwidth < 1440 ){
				div.removeClass('col-lg-6').removeClass('col-lg-offset-3')
				div.addClass('col-lg-8').addClass('col-lg-offset-2')
			} else if(maxwidth > 1440){
				div.removeClass('col-lg-8').removeClass('col-lg-offset-2')
				div.addClass('col-lg-6').addClass('col-lg-offset-3')
			}

			{% if form.fechaBau.value == "No Bautizado" %}
			  	$('#fechaBau').val('No Bautizado')
			{% endif %}

		});

		$('#btnSave').click(function(){
			datP=new Gestion()
            limpiar=function(){
                datP.Cargar()
            }
			datP.getInputs('.form-group')
            inputs=datP.getDataIn()
			if (inputs.vacio==0){
				keys=new Array('nombre', 'apellido', 'telefono', 'direccion', 'email', 'fechaNa', 'fechaBau', 'Encargado')
				datP.generateJson(keys, "{{ csrf_token }}")
				datP.setPost("{% url 'secretario:publicReg' %}", 'Registro de Publicadores!', limpiar)
			}
		})

		$('#btnMod').click(function(){
			redirect=function(res){location.href="../../consultar/Publicadores/"}
			datMod=new Gestion()
			datMod.getInputs('.form-group')
            inputs=datMod.getDataIn()
			if (inputs.vacio==0){
				keys=new Array('nombre', 'apellido', 'telefono', 'direccion', 'email', 'fechaBau', 'fechaNa', 'Encargado')
				datMod.generateJson(keys, "{{ csrf_token }}")
				datMod.setPost("{% url 'secretario:modPub' %}", '', redirect)
			}
		})

		$(window).resize(function(){
			div = $('#mainPub')
			maxwidth = $(window).width()
			if(maxwidth >= 1200 && maxwidth < 1440 ){
				div.removeClass('col-lg-6').removeClass('col-lg-offset-3')
				div.addClass('col-lg-8').addClass('col-lg-offset-2')
			} else if(maxwidth > 1440){
				div.removeClass('col-lg-8').removeClass('col-lg-offset-2')
				div.addClass('col-lg-6').addClass('col-lg-offset-3')
			}
		})
	</script>
{% endblock %}
