{% extends "layout.html" %}

{% block contenido %}

	<div class="col-lg-6 col-md-offset-3">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Datos del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Datos del Publicador</h3>
			</div>

	<form action="{% url 'secretario:publicReg' %}" method="POST" class="form-horizontal style-form">
		{% csrf_token %}
		<div class="form-group">
		
			<div class="col-lg-10 col-lg-offset-1">
	        	{% for f in form %}
	        		{% if f == form.fechaNa or f == form.fechaBau and f.value != "No Bau" %}
				        {{ f.label_tag }}
			            <div class='input-group date datepicker mrg-bottom'>
			                {{ f }} 
			                <span class="input-group-addon">
			                    <span class="fa fa-calendar">
			                    </span>
			                </span>
			            </div>
	        		{% elif f == form.fechaBau and f.value == "No Bau" %}
	        			{{ f.label_tag }}
			        	<div class="row">
				        	<div class="col-lg-11" style="margin:0px;">
					            <div class='input-group date datepicker mrg-bottom'>
					                {{ f }} 
					                <span class="input-group-addon">
					                    <span class="fa fa-calendar">
					                    </span>
					                </span>
					            </div>
				            </div>
				            <div class="col-lg-1" style="margin:0px;padding-left:0px;">
				                <span class="btn btn-warning">
				                    <span class="fa fa-calendar-times-o">
				                    </span>
				                </span>
				           </div>
			           </div>
	        		{% else %}
	        			{{ f.label_tag }}{{ f }}
	        		{% endif %}
	        	{% endfor %}
	        		{{ form2 }}
	        </div>
		
	        <div class="clearfix"></div>

	        {% if on %}
				<div class="col-md-1" style="margin-top:50px;padding-left:30px;padding-top: 20px;">
					<ul class="pager" style="margin:0px;padding:0px;">
					  <li class="previous"><a href="{% url 'secretario:conPubs' %}">Volver</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-offset-3" style="margin-top:30px;">
				
		        	<button id="btnMod" type="submit" class="btn btn-success" style="width:100%;">Modificar</button>
			{% else %}
				<div class="col-lg-4 col-md-offset-4" style="margin-top:30px;">
					<button id="btnSave" type="submit" class="btn btn-primary" style="width:100%;">Guardar</button>
			{% endif %}
			</div>

		</div>
	</form>		

		</div>
	</div>    

{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function() {
			$( ".datepicker" ).datetimepicker({
				showTodayButton:true,
                viewMode: 'days',
                format: 'YYYY-MM-DD',
	            widgetPositioning: {
		            horizontal: 'right',
		            vertical: 'auto'
		        }
		    })
			$('#id_fechaBau').val('No Bau')
			
			{% if form.fechaBau.value == "No Bau" %}
			  	$('#id_fechaBau').val('No Bautizado')

			  	$('span.btn').click(function(){
			  		$('#id_fechaBau').val('No Bautizado')
			  	})
			{% endif %}

		});
	</script>
{% endblock %}