{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Datos del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Tarjeta</h3>
			</div>

	<div class="form-horizontal style-form">
		{% csrf_token %}
		<div class="form-group">
		
			<div class="content-panel">
				{% if vacio %}
					<p>Este publicador no ha informado en este año de servicio</p>
				{% else %}
            	<h3 class="text-center" style="margin:0px;padding: 0px;">Tarjeta del publicador {{ p.nombre }} {{ p.apellido }}</h3>
				<section id="no-more-tables">
                	<table id="public" class="table table-bordered table-striped table-condensed cf" style="font-size:14px;">
                    	<thead class="cf">				
							<tr>
								<th class="numeric text-center" style="width:45%;">Mes</th>
								<th class="numeric text-center" style="width:15%;">Horas</th>
								<th class="numeric text-center" style="width:15%;">Publicaciones</th>
								<th class="numeric text-center" style="width:15%;">Videos</th>
								<th class="numeric text-center" style="width:10%;">Revisitas</th>
								<th class="numeric text-center" style="width:10%;">Cursos Biblicos</th>
							</tr>
						</thead>
						<tbody>
						{% for x in pub %}
							<tr>
								<td class="numeric" data-title="Meses" style="width:45%;">
									{{ x.fecha.month }}
								</td>
								<td class="numeric text-center" data-title="Horas" style="width:15%;">
									{{ x.horas }}
								</td>
								<td class="numeric text-center" data-title="" style="width:15%;">
									{{ x.publicaciones }}
								</td>
								<td class="numeric text-center" data-title="" style="width:15%;">
									{{ x.videos }}
								</td>
								<td class="numeric text-center" data-title="" style="width:10%;">
									{{ x.revisitas }}
								</td>
								<td class="numeric text-center" data-title="" style="width:10%;">
									{{ x.estudios }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</section>
				{% endif %}
			</div>
		</div>
	</div>		

		</div>
	</div>    

{% endblock %}

{% block scripts %}
	<script>
	</script>
{% endblock %}