<div class="row tabla-top">
    <div class="col-lg-4">
        <div class="content-panel" style="padding:0px;">
            <div class="FichaHe">
                <p class="text-center" style="margin:0px;padding:0px;font-size:30px;">
                    <span  style="color:white;">Ficha de Precursor</span>
                </p>
            </div>

            <h3 class="text-center" style="color:#000000">Ultimos Datos Obetenidos</h3>
            <dl class="ficha">
                <dt>Nombre y Apellido:</dt>
                <dd>Otniel Acevedo</dd>

                <dt>Fecha de Inicio:</dt>
                <dd>2016-04</dd>

                <dt>Fecha de Fin:</dt>
                <dd>2016-06</dd>

                <dt>Duración:</dt>
                <dd>2 meses</dd>
            </dl>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="content-panel">

            <h3 class="text-center titlecolor" style="margin-bottom:10px;">
               Informe de Actividad del Año: <span style="color: darkcyan;">2016</span>
            </h3>
            <section id="no-more-tables" style="margin-top: 20px;">

                <table id="public" class="table table-bordered table-striped table-condensed cf" style="font-size:14px;">
                    <thead class="cf">
                        <tr>
                            <th class="numeric text-center">Fecha</th>
                            <th class="numeric text-center">Horas Requeridas</th>
                            <th class="numeric text-center">Horas Informadas</th>
                            <th class="numeric text-center" style="width:8%;">Objetivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="numeric text-center" data-title="Edad">
                            </td>
                            <td class="numeric text-center bau" data-title="Fecha de Bautismo">
                            </td>
                            <td class="numeric" data-title="Grupo Asignado" >
                            </td>
                            <td class="numeric estado"  data-title="Estado" style="width:8%; background-color:#09B20F">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
