
<div class="row tabla-top">
    <div class="col-lg-4">
        <div class="content-panel" style="padding:0px;">
            <div class="FichaHe">
                <p class="text-center" style="margin:0px;padding:0px;font-size:30px;">
                    <span  style="color:white;">Ficha de Precursor</span>
                </p>
            </div>

            <h3 class="text-center" style="color:#000000">Ultimos Datos Obetenidos</h3>
            <dl class="ficha">

                <dt>Nombre y Apellido:</dt>
                <dd>{{ ficha.nombre }}</dd>

                <dt>Fecha de Inicio:</dt>
                <dd>{{ ficha.fechaI }}</dd>

                <dt>Fecha de Fin:</dt>
                <dd>{{ ficha.fechaF }}</dd>

                {% if ficha.duracion == 0 %}
                    <dt>Duración:</dt>
                    <dd>Indefinido</dd>
                {% else %}
                    <dt>Duración:</dt>
                    <dd>{{ ficha.duracion }}</dd>
                {% endif %}
            </dl>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="content-panel">

            <h3 class="text-center titlecolor" style="margin-bottom:10px;">
               Informe de Actividad del Año: <span id="AS" style="color: darkcyan;"></span>
            </h3>
            <section id="no-more-tables" style="margin-top: 20px;">

                <table id="public" class="table table-bordered table-striped table-condensed cf" style="font-size:14px;">
                    <thead class="cf">
                        <tr>
                            <th class="numeric text-center">Fecha</th>
                            <th class="numeric text-center">Horas Requeridas</th>
                            <th class="numeric text-center">Horas Informadas</th>
                            <th class="numeric text-center" style="width:8%;">Objetivo</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{ datos }}
                       {% for info in datos %}
                        <tr>
                            <td class="numeric text-center" data-title="Fecha">
                                {{ info.fecha|date:"F" }}
                            </td>
                            <td class="numeric text-center" data-title="Horas Requeridas">
                                {{ info.horasR }}
                            </td>
                            <td class="numeric text-center" data-title="Horas Informadas">
                                {{ info.horasI }}
                            </td>
                            {% if info.obj == 1 %}
                                <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#09B20F">
                                </td>
                            {% else %}
                                <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#af0000">
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
