
<div class="content-panel">
	{% if vacio %}
		<h3 class="text-center" style="margin:0px;margin-bottom:15px;">Este publicador no ha informado en este año de servicio</h3>
	{% else %}
		<h3 class="text-center" style="margin:0px;margin-bottom:15px;">Actividad de: <span style="color: darkcyan;">{{ p.nombre|upper }} {{ p.apellido|upper }}</span></h3>
		
		<section id="no-more-tables">
			<table id="public" class="table table-bordered table-striped table-condensed cf" style="font-size:20px;">
		    	<thead class="cf">				
					<tr>
						<th class="numeric text-center" style="width:20%;">Mes</th>
						<th class="numeric text-center" style="width:15%;">Horas</th>
						<th class="numeric text-center" style="width:15%;">Publicaciones</th>
						<th class="numeric text-center" style="width:15%;">Videos</th>
						<th class="numeric text-center" style="width:15%;">Revisitas</th>
						<th class="numeric text-center" style="width:20%;">Cursos Biblicos</th>
					</tr>
				</thead>
				<tbody>
				{% for x in pub %}
					<tr>
						<td class="numeric text-center" data-title="Meses" style="width:20%;">
							{{ x.mes }}
						</td>
						<td class="numeric text-center" data-title="Horas" style="width:15%;">
							{{ x.horas }}
						</td>
						<td class="numeric text-center" data-title="" style="width:15%;">
							{{ x.publicaciones }}
						</td>
						<td class="numeric text-center" data-title="" style="width:15%;">
							{{ x.videos }}
						</td>
						<td class="numeric text-center" data-title="" style="width:15%;">
							{{ x.revisitas }}
						</td>
						<td class="numeric text-center" data-title="" style="width:20%;">
							{{ x.estudios }}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
	{% endif %}
</div>