{% extends "layout.html" %}

{% block contenido %}
<div class="col-md-12 col-lg-12">
	<div class="row">
		<div class="form-panel">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center"><i class="fa fa-angle-right"></i>Tarjeta de Actividad del Publicador</h3>
			</div>

			<div class="form-horizontal style-form">
				{% csrf_token %}
				<div class="form-group">

					<div class="col-lg-4 col-md-offset-4" style="margin-top: 28px">
			        	{{ form.Encargado }}
					</div>
					
					<div class="clearfix"></div>

					<div class="col-lg-4 col-md-offset-4">
			        	<select id="pubs" class="form-control">
							<option value="">--SELECCIONE--</option>
						</select>
					</div>
					<div class="clearfix"></div>
					
					<div class="col-lg-4 col-md-offset-4">
			        	<select id="years" class="form-control">
							<option value="">--SELECCIONE--</option>
							{% for y in years %}
							<option value={{ y }}> {{ y }} </option>
							{% endfor %}
						</select>
					</div>

					<div class="clearfix"></div>

					<div id="datpub" class="col-lg-10 col-md-offset-1" style="display:none;margin-top:40px;margin-bottom:30px;"></div>
					
		    	</div>
			</div>		
		</div>
	</div>
</div>    

{% endblock %}
{% block scripts %}
	<script>
		newOption=document.createElement("option")
		newOption.value=""
		newOption.innerHTML="--SELECCIONE--"
		primerOpt=document.getElementById("id_Encargado").getElementsByTagName("option")[0]
		document.getElementById("id_Encargado").insertBefore(newOption, primerOpt)
		primerOpt=document.getElementById("id_Encargado").getElementsByTagName("option")[0]
		primerOpt.selected=true
		datpub = $("#datpub")
		$("#id_Encargado").change(function(){
			g=$("#id_Encargado").val()
			if ($.trim(g)!=""){
				$.post("{% url 'secretario:conPubG' %}", {'g':g, csrfmiddlewaretoken:'{{ csrf_token }}'})
				.success(function(res){
					$("#pubs").html("")
					$("#pubs").append('<option value="">--SELECCIONE--</option>')
					res=JSON.parse(res)
					if (res.on==1){
						alert(res.msg)
					} else{
						$.each(res.p, function(key, values){
							$("#pubs").append("<option value="+values.id+">"+values.nombre+" "+values.apellido+"</option>")
						})
						console.log(res)
						console.log(res.p)
					}
				})
			}
		})
		
		$("#years").change(function(){
			p=$("#pubs").val()
			y=this.value
			if( datpub.css('display')=='none'){
				if($.trim($("#pubs").val())!="" && $.trim($("#years").val())!=""){
					datpub.load("../2/"+p+"/Tarjeta/"+y, function(){
						datpub.show( 'blind', 1000 );
					});
				}
			} else {
				if($.trim($("#pubs").val())!="" && $.trim($("#years").val())!=""){
					datpub.hide('blind', 1000, function(){
						datpub.load("../2/"+p+"/Tarjeta/"+y, function(){
							datpub.show( 'blind', 1000 );
						});
					})
				}
			}
		})
		$("#pubs").change(function(){
			y=$("#years").val()
			p=this.value
			if( datpub.css('display')=='none'){
				if($.trim($("#pubs").val())!="" && $.trim($("#years").val())!=""){
					datpub.load("../2/"+p+"/Tarjeta/"+y, function(){
						datpub.show( 'blind', 1000 );
					});
				}
			} else {
				if($.trim($("#pubs").val())!="" && $.trim($("#years").val())!=""){
					datpub.hide('blind', 1000, function(){
						datpub.load("../2/"+p+"/Tarjeta/"+y, function(){
							datpub.show( 'blind', 1000 );
						});
					})
				}
			}
		})
	</script>
{% endblock %}