{% extends "layout.html" %}

{% block contenido %}

	<div class="col-md-12 col-lg-12">
		<div class="form-panel row">
		    <div class="visible-md visible-lg">
				<h1 class="text-center titlecolor">Edicion de Precursorados</h1>
			</div>
			<div class="visible-xs visible-sm">
				<h3 class="text-center">Edicion de Precursorados</h3>
			</div>

	<div class="form-horizontal style-form">
		<div class="form-group">

			{% csrf_token %}

			<div class="col-lg-8 col-md-offset-2" style="margin-top: 40px;">
                <div class="content-panel">

					<section id="no-more-tables">
                    	<table id="editPrecur" class="table table-striped table-condensed cf" style="font-size:20px;">
                        	<thead class="cf">				
								<tr>
									<th class="numeric text-center" style="width:40%;">Tipos de Precursorado</th>
									<th class="numeric text-center" style="width:40%;">Cantidad de Horas</th>

								</tr>
							</thead>
							<tbody>
							{% for pre in precur %}
								<tr>
									<td class="numeric text-center" data-title="Tipos de Precursorado" style="width:40%;">
										{{  pre.nombre }}
									</td>
									<td class="numeric text-center" data-title="Cantidad de Horas" style="width:40%;">
										{{ pre.horas }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</section>

				</div>
			</div>

		</div>
	</div>		

		</div> 
</div> 

{% endblock %}

{% block scripts %}
	<script>
        focus=0
        cambio=0
        var id = ''
        var val = ''
        $('#editPrecur tr td:nth-child(2), #editPrecur tr td:nth-child(3)').on('click',function(){
            otroAction=false
            tr = $(this).parent('tr').index()
            td=$("#editPrecur tr:nth-child("+(tr+1)+") td:nth-child(2)")
            input = td.find('input').length
            if(input == 0){
                btn=$("#editPrecur tr:nth-child("+(tr+1)+") td:nth-child(3) button")
                if($(this)[0]==btn.parent('td')[0]){
                    if(btn.attr('class')=="btn btn-primary"){
                        otroAction=true
                    }
                }
                if (!otroAction){
                    if (cambio==0){
                        btn.html("Modificar")
                        btn.removeClass("btn-success")
                        btn.addClass("btn-primary")
                    }else{
                        focus=1
                        cambio=0
                    }
                    id = td.parent('tr').index()
                    val = td.html().trim()
                    td.html(
                        "<input type'text' class='inputtrans' value='"+val+"' style='background:transparent;border:none;' />"
                        )
                    if (focus==0){
                        td.find('input').focus()
                    }else{
                        td.find('input').focus()
                        btn.focusin()
                    }
                    td.find('input').focusout(function(event){
                        td.html(this.value)
                        if(this.value==val){
                            btn.html("Cambiar")
                            btn.removeClass("btn-primary")
                            btn.addClass("btn-success")
                            cambio=1
                        }
                    })
                } else{
                    btn.removeClass("btn-primary")
                    btn.addClass("btn-success")
                }
            }
        })

	</script>
{% endblock %}
