
<div class="row tabla-top">
    <div class="col-lg-4">
        <div id="fichaPre" class="content-panel" style="padding:0px;">
            <div class="FichaHe">
                <p class="text-center" style="margin:0px;padding:0px;font-size:30px;">
                    <span  style="color:white;">Ficha de Precursor</span>
                </p>
            </div>

            <dl class="ficha">
                <dt>Nombre y Apellido:</dt>
                <dd>{{ ficha.nombre }}</dd>

                <dt>Fecha de Bautismo:</dt>
                <dd>{{ ficha.fechaBau }}</dd>

                <dt>Fecha de Nombramiento:</dt>
                <dd>{{ ficha.fechaI }}</dd>

                <dt>Tiempo como Precursor:</dt>
                <dd>{{ ficha.duracion }}</dd>
                <dt>Número de precursor:</dt>
                <dd>{{ ficha.nroPrec }}</dd>
            </dl>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="content-panel">

            <h3 class="text-center titlecolor" style="margin-bottom:10px;">
               Informe de Actividad del Año de Servicio: <span style="color: darkcyan;">2015-2016</span>
            </h3>

            <section id="no-more-tables" style="margin-top: 20px;">

                <table id="regular" class="table table-bordered table-striped table-condensed cf" style="font-size:14px;">
                    <thead class="cf">
                        <tr>
                            <th class="numeric text-center">Fecha</th>
                            <th class="numeric text-center">Horas Realizadas</th>
                            <th class="numeric text-center">Horas Acumuladas</th>
                            <th class="numeric text-center">Horas Restante</th>
                            <th class="numeric text-center" style="width:8%;">Objetivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in datos %}
                            <tr>
                                <td class="numeric text-center" data-title="Fecha">
                                    {{ info.fecha|date:"F" }}
                                </td>
                                <td class="numeric text-center" data-title="Horas Realizadas">
                                    {% if not info.horasCon %}
										{{ info.horasI }}
									{% else %}
										<div class="text-center horasCon divisor">{{ info.horasI }}</div>
										<div class="text-center horasCon">{{ info.horasCon }}</div>
									{% endif %}
                                </td>
                                <td class="numeric text-center" data-title="Horas Acumuladas">
                                    {{ info.horasA }}
                                </td>
                                <td class="numeric text-center" data-title="Horas Restante" >
                                    {{ info.horasRes }}
                                </td>

                                {% if info.obj == 1 %}
                                    <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#09B20F">
                                    </td>
                                {% elif info.obj == 2 %}
                                    <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#669999">
                                    </td>
                                {% else %}
                                    <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#af0000">
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                       {% if total %}
                            <tr>
                                <th colspan="5" class="text-center">Totales de Año de Servicio</th>
                            </tr>
                            <tr>
                            <th colspan="2" class="text-center">Horas Informadas</th>
                            <th colspan="2" class="text-center">Horas por Concesión</th>
                            <th colspan="1" class="text-center">Objetivo</th>
                            </tr>
                            <tr>
                                <td colspan="2" class="numeric text-center" data-title="Horas Informadas">
                                    {{ total.totalYear }}
                                </td>
                                <td colspan="2" class="numeric text-center" data-title="Horas por Concesion">
                                    {{ total.horasCon }}
                                </td>
                                {% if total.obj == 1 %}
                                    <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#09B20F">
                                    </td>
                                {% else %}
                                    <td class="numeric"  data-title="Objetivo" style="width:8%; background-color:#af0000">
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<div id="dialogo" style="display: none"></div>

{% include 'modalBajaPrecur.html' %}

<script>
	$('#regular tr').each(function(){
		$(this).children(':eq(1)').mouseover(function(){
			if( $(this).children().length == 2 ){
				$('#dialogo').html(
					'<dl>\
						<dt>Horas Predicadas:</dt>\
						<dd>'+$(this).children(':eq(0)').html().trim()+'</dd>\
						<dt>Horas por Concesion:</dt>\
						<dd>'+$(this).children(':eq(1)').html().trim()+'</dd>\
					</dl>'
				)

				$('#dialogo').dialog({
					title: "Detalles de Horas",
					position: { my: "right-60 center", at: "", of: this },
					dialogClass: 'dlg-no-title',
				})
			}
		})
		$(this).children(':eq(1)').mouseleave(function(){
			if( $(this).children().length == 2 )
				$('#dialogo').dialog("destroy")
		})
	})
</script>
